@using Glass.Mapper.Sc.Mvc
@using Informa.Library.Utilities.StringUtils
@model ArticleListItemModel
<aside class="article-sidebar">
	<h3>@HttpUtility.HtmlDecode(Model.ListableTitle)</h3>
	@if(Model.ListableAuthors.Any()){
	<span class="article-sidebar__byline">By @string.Join(", ", Model.ListableAuthors.Select(x => x.LinkableText))</span>
	}
	<time class="article-sidebar__date">@Model.ListableDate.ToString("dd MMM yyyy")</time>

	@Html.Raw(WordUtil.TruncateArticle(Model.ListableSummary, 60))

	<a class="article-sidebar__read-more click-utag" data-info='{"event_name" : "article-sidebar-read-more-click","source_article"="@Model.SourceArticleID","destination_article"="@Model.LinkableUrl"}' href="@Model.LinkableUrl" >Read the full article here </a>
</aside>