@using Glass.Mapper.Sc.Mvc
@model Informa.Web.ViewModels.Articles.ArticlePackageViewModel
test package
<div class="article-related-content">
@{
    var selectedPackages = Model.SelectedPackages;
    if (selectedPackages != null && selectedPackages.Any())
    {

        foreach (var package in selectedPackages)
        {
            <h2>@package.PackageTitle</h2>
            var packageArticles = Model.GetPackageArticles(package);
            foreach (var article in packageArticles)
            {
                
                <div class="contentRecomm-article">
                    @if (!Model.HideImage)
                    {
                        string img = article.Featured_Image_16_9 != null ? article.Featured_Image_16_9.Src : "";
                        <img class="article-related-content__img" src="@img" />
                    }

                    @*<span class="article-related-content__category">@Model.PublicationName</span>*@
                    <h5><a class="click-utag" href="@article._Url">@article.Title</a></h5>
                    <time class="article-related-content__date">@article.Actual_Publish_Date.ToString("d MMM yyyy")</time>
                </div>
            }

        }
    }
}
</div>