@using Informa.Web.TestData
@using Glass.Mapper.Sc.Web.Mvc
@model Informa.Models.Informa.Models.sitecore.templates.User_Defined.Pages.IArticle

<div class="article-left-rail">
    <div class="article-preview">
        <span class="article-preview__byline">Publication Name</span>
        <h1 class="article-preview__headline"></h1>
        <h3 class="article-preview__subtitle">@Model.Sub_Title</h3>
        <div class="article-preview__metadata">

            <div class="article-preview__category">@Model.Article_Category</div>
        </div>
    </div>

    <div class="article-body-content">

        <h1>@Model.Title</h1>
        <div class="article-metadata">
            <ul>
                <li>
                    <time class="article-metadata__date">@Model.Actual_Publish_Date.ToString("dd MMM yyyy")</time>
                </li>
                <li>
                    <h6>@TestData.GetRandomTopic().LinkableTexts</h6>
                </li>
                <li>
                    @* * *  ARTICLE MEDIA TYPE
                            IIPP-116

                    * * * TEXT — Nothing. Remove this <li> entirely.

                    * * * VIDEO
                    <svg class="article-metadata__media-type">
                        <use xlink:href="/dist/img/svg-sprite.svg#video"></use>
                    </svg>

                    * * * AUDIO
                    <svg class="article-metadata__media-type">
                        <use xlink:href="/dist/img/svg-sprite.svg#audio"></use>
                    </svg>

                    * * * DATA *@
                    <svg class="article-metadata__media-type">
                        <use xlink:href="/dist/img/svg-sprite.svg#chart"></use>
                    </svg>

                    @* * *  END ARTICLE MEDIA TYPE *@
                </li>
            </ul>
        </div>

        @* * *  ARTICLE - FEATURED IMAGE
                IIPP-117 *@
        <aside class="article-inline-image">
            <img src="http://lorempixel.com/800/450/technics">
            <span class="article-inline-image__source">Image Source: Associated Press</span>
            <span class="article-inline-image__caption">Image caption goes here</span>
        </aside>
        @* * *  END ARTICLE - FEATURED IMAGE *@

        @Html.Raw(Model.Body)

    </div>

    <div class="article-interview">
        <h2>Interviews and Q&amp;A</h2>

        <div class="article-interview__question">
            The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
        </div>
        <div class="article-interview__answer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
        <div class="article-interview__question">
            The quick brown fox jumped over the lazy dog.
        </div>
        <div class="article-interview__answer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
    </div>
@*
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.

    <aside class="article-inline-image">
        <img src="http://placehold.it/1200x300">
        <em>Image Source: Associated Press</em>
        <span class="article-inline-image__caption">Image caption goes here</span>
    </aside>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.

    <div class="article-inline-image article-inline-image--pull-left">
        <img src="http://placehold.it/1200x300">
        <em>Image Source: Associated Press</em>
        <span class="article-inline-image__caption">Image caption goes here</span>
    </div>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.

    <div class="article-inline-image article-inline-image--pull-right">
        <img src="http://placehold.it/1200x300">
        <em>Image Source: Associated Press</em>
        <span class="article-inline-image__caption">Image caption goes here</span>
    </div>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.

    <aside class="article-sidebar">
        <h3>Will Amgen, Sandoz Tango Across Old Ground?</h3>
        <span class="article-sidebar__byline">by Donna Young</span>
        <time class="article-sidebar__date">14 Sep 2015</time>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="article-sidebar__read-more" href="#">Read the full article here </a>
    </aside>


    @* * *  ARTICLE PULLQUOTE
            IIPP-100

    <blockquote class="article-pullquote">
        Amgen also asserted that Sandoz failed to provide proper notice that the biosimilar maker planned to launch its product as soon as it won FDA approval of Zarxio.
    </blockquote>

    * * *   END ARTICLE PULLQUOTE


    <div class="article-author">
        <ul class="article-author__list">
            @foreach (var author in Enumerable.Range(0, 3))
            {
                <li>
                    <span class="article-author__name">Donna Young</span>
                    <span class="article-author__contact">
                        <a href="#">&#64;DonnaYoung</a>
                        <a href="#">donnayoung&#64;emaildomain.com</a>
                    </span>
                </li>
            }
        </ul>
    </div>

@* STYLING MOCKUPS

    <table class="article-table">
        <thead>
            <tr>
                <th>Column Header</th>
                <th>Column Header</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2">Row Section Header</th>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
            <tr>
                <th colspan="2">Row Section Header</th>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
        </tbody>
    </table>

    <table class="article-table article-table--zebra">
        <thead>
            <tr>
                <th>Column Header</th>
                <th>Col Hdr</th>
                <th>Col Hdr</th>
                <th>Col Hdr</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="article-table__rowspan" rowspan="4">Lorem ipsum blah blah blah</td>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="article-table__rowspan" rowspan="4">Lorem ipsum blah blah blah</td>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="article-table__rowspan" rowspan="4">Lorem ipsum blah blah blah</td>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
            <tr>
                <td>Lorem ipsum blah blah blah</td>
                <td>Blah blah blah blah</td>
                <td>Blah blah blah blah</td>
            </tr>
        </tbody>
    </table>

    @* SINGLE AUTHOR
    <div class="article-author article-author--solo">
        <ul class="article-author__list article-author__list">
            <li>
                <img src="http://placehold.it/200x200" class="article-author__photo">
                <div class="article-author__solo-wrapper">
                    <span class="article-author__name">Donna Young</span>
                    <span class="article-author__contact">
                        <a href="#">&#64;DonnaYoung</a>
                        <a href="#">donnayoung&#64;emaildomain.com</a>
                    </span>
                </div>
            </li>
        </ul>
    </div>

    @* END SINGLE AUTHOR *@
</div>
