@using Glass.Mapper.Sc.Web.Mvc
@using Informa.Models.Informa.Models.sitecore.templates.User_Defined.Objects
@using Informa.Web.TestData
@using Sitecore.ExperienceAnalytics.Client
@model Informa.Web.ViewModels.GlassArticleModel

<div class="article-body-content">
    <h6>Publication Name</h6>
    <h1>@Model.Title</h1>
    <h3>@Model.Sub_Title</h3>

    <div class="article-metadata">
        <ul>
            <li>
                <time class="article-metadata__date">@Model.Date.ToString("dd MMM yyyy")</time>
            </li>
            <li>
                <h6>@Model.Content_Type</h6>
            </li>
            @if (!string.IsNullOrEmpty(Model.Media_Type))
            {   
                <li>
                    <svg class="article-metadata__media-type">
                        <use xlink:href="/dist/img/svg-sprite.svg#@Model.Media_Type"></use>
                    </svg>
                    @* * *  END ARTICLE MEDIA TYPE *@
                </li>
            }
        </ul>
    </div>

    @* MULTIPLE AUTHORS *@
    @if (Model.Authors.Count() == 1)
    {
        var author = Model.Authors.FirstOrDefault();
        @* SINGLE AUTHOR*@
        <div class="article-author article-author--solo">
            <ul class="article-author__list">
                <li>
                    @if (!string.IsNullOrEmpty(author.Image))
                    {
                        <img src="@author.Image" class="article-author__photo">
                    }
                    <div class="article-author__solo-wrapper">
                        <span class="article-author__name">@author.Name</span>
                        <span class="article-author__contact">             
                            @if (!string.IsNullOrEmpty(author.Twitter))
                            {
                                <a href="http://www.twitter.com/@author.Twitter" target="_blank">&#64;@author.Twitter</a>
                            }
                            @if (!string.IsNullOrEmpty(author.Email_Address))
                            {
                                <a href="mailto:@author.Email_Address">@author.Email_Address</a>
                            }
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        @* END SINGLE AUTHOR *@

    }
    else
    {
        <div class="article-author">
            <ul class="article-author__list">
                @foreach (var author in Model.Authors)
                {
                    <li>
                        <span class="article-author__name">@author.Name</span>
                        <span class="article-author__contact">
                            @if (!string.IsNullOrEmpty(author.Twitter))
                            {
                                <a href="http://www.twitter.com/@author.Twitter" target="_blank">&#64;@author.Twitter</a>
                            }
                            @if (!string.IsNullOrEmpty(author.Email_Address))
                            {
                                <a href="mailto:@author.Email_Address">@author.Email_Address</a>
                            }
                            </span>
                    </li>
                }
            </ul>
        </div>
    @* END MULTIPLE AUTHORs *@
    }

    @* * *  ARTICLE - FEATURED IMAGE
        IIPP-117 *@
    <aside class="article-inline-image">
        <img src="@Model.Image.ImageUrl">
        <span class="article-inline-image__source">@Model.Image.ImageSource</span>
        <span class="article-inline-image__caption">@Model.Image.ImageCaption</span>
    </aside>
    @* * *  END ARTICLE - FEATURED IMAGE *@

    @Html.Raw(Model.Body)

</div>

@*
    This element is a template for viewing tables on narrow screens
    On document ready, each article table gets one of these appended to it
    On narrow screens, the elements are visible so users can click/tap to view
*@
<div class="hidden-mobile-table-template js-mobile-table-template">
    <table class="article-table article-table--mobile-link">
        <thead>
            <tr>
                <th>Table</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <svg class="article-table__expand-table">
                        <use xlink:href="/dist/img/svg-sprite.svg#expand-table"></use>
                    </svg>
                    <a href="#">View full table</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
