@model Informa.Web.ViewModels.Articles.ArticleKeyDocumentsModel

@* * *  ARTICLE - KEY DOCUMENTS
        IIPP-158 *@
@if (Model.KeyDocuments.Any() && Model.IsEntitled(Model.ArticleItem))
{
    <div class="article-key-documents">
        <h2>@Model.KeyDocumentHeader</h2>
        <ul>
        @foreach (var doc in Model.KeyDocuments)
            {
	            <li class="article-key-document click-utag"
					data-info='{"event_name":"key_document_click_through", 
								"click_through_source":"@Model.GlassModel.Title",
								"click_through_destination":"@Model.GetTitle(doc)"}'>
                    <svg class="article-key-document__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#@Model.GetDocumentIcon(doc)"></use>
                    </svg>
                    <a href="@doc._MediaUrl" target="_blank">@Model.GetTitle(doc)</a>
                </li>
            }
        </ul>
    </div>
}
@* * *  END ARTICLE - KEY DOCUMENTS *@