@model FeaturedArticleViewModel
<section class="article-preview article-preview--small">
    @if (Model != null && Model.GlassModel != null)
    {
        if (Model.DisplayImage)
        {
            <img class="article-preview__image" src="@Model.Image.ImageUrl">
        }
        <div class="article-metadata">
            <ul>
                <li>
                    <time class="article-metadata__date">@Model.Date.ToString("dd MMM yyyy")</time>
                </li>
                @if (!string.IsNullOrEmpty(Model.Content_Type))
                {
                    <li>
                        <h6>@string.Join(", ", Model.Content_Type)</h6>
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.Media_Type))
                {
                    <li>
                        <svg class="article-metadata__media-type">
                            <use xlink:href="/dist/img/svg-sprite.svg#@Model.Media_Type"></use>
                        </svg>
                    </li>
                }
            </ul>
        </div>

        <div class="article-preview__inner-wrapper">
            <h1 class="article-preview__headline">
                <a
					href="@Model.GlassModel._Url"
					class="click-utag"
					data-info='{ "event_name": "article_click_through", "click_through_destination": "@Model.Title" }'>
					@HttpUtility.HtmlDecode(Model.Title)
				</a>
            </h1>

            <span class="article-preview__byline">
                @Html.Raw(Model.ArticleByLine)
            </span>

            <div class="article-summary">
                @Html.Raw(Model.Summary)
            </div>
        </div>

        <div class="article-preview__tags bar-separated-link-list">
            @foreach (var tag in Model.ListableTopics)
            {
                if (tag.LinkableUrl != null)
                {
                    <a href="@tag.LinkableUrl">@tag.LinkableText</a>
                }
            }
        </div>
    }
</section>
