@inherits GlassView<LatestNewsViewModel>

@if (Model.DisplayTitle && Model.Topics.Any())
{
	<h4 class="latest-news__header">
		<span>@Html.Raw(Model.TitleTextPrefix) @Html.Raw(Model.TitleText)</span>
	</h4>
}

<div class="latest-news__articles">
	@foreach (var listable in Model.News)
	{
		Html.RenderPartial("Components/ListableContentSmall", listable);
	}
</div>
<!-- Unable to format data-info string, use hardcoded a tag instead.-->
@*@{
	var dataInfo = "{{ 'event_name': 'see_all', 'see_all_topic': '" + Model.TitleText + "' }}";
}
@RenderLink(model => model.SeeAllLink, new { @class = "full-diminished-button click-utag", data_info = dataInfo })*@

@if (Model.SeeAllLink != null)
{
    <a href="@Model.SeeAllLink.Url"
       class="full-diminished-button click-utag"
       data-info='{"event_name": "see_all", "see_all_topic": "@Model.TitleText"}'>@Model.SeeAllLink.Text</a>
}