@model TopicContainerViewModel

<div id="@Model.Id.ToString("N")" class="topic-subtopic" data-topicLinkText="@Model.Link.LinkableText">
    <h1 class="topic-subtopic__header">
        @Model.Title
        <a class="topic-subtopic__header-explore-link" href="@Model.Link.LinkableUrl">@Model.Link.LinkableText</a>
    </h1>
	@Html.Sitecore().DynamicPlaceholder("two-column-curated")
</div>
