@inherits CustomGlassView<TopicContainerViewModel>

<a id="@Model.Id.ToString("N")"
   class="sub-topic-links__invisible-topic-header-anchor js-topic-anchor"
   data-topic-link-text="@Model.NavigationText"></a>

<div class="topic-subtopic">
    <h1 class="topic-subtopic__header">
        @Editable(Model.GlassModel, x => x.Title)
        @if (IsInEditingMode)
        {
            <br/>
            @Editable(Model.GlassModel, x => x.Navigation_Link)
            <br/>
            @Editable(Model.GlassModel, x => x.Navigation_Text)
        }
        else {
            <a class="topic-subtopic__header-explore-link" href="@HttpUtility.UrlDecode(Model.Link.LinkableUrl)">@Model.Link.LinkableText</a>
        }
    </h1>
	@Html.Sitecore().DynamicPlaceholder("two-column-curated")
</div>