@model Informa.Web.Areas.Account.ViewModels.ResetPassword.ChangeViewModel
<div class="js-reset-password-container" style="border: 2px dashed red;">
	<h1>@Model.Title</h1>
	<input name="token"
		   type="hidden"
		   value="@Model.Token" />
	@if (Model.IsValidToken)
	{
		<div style="border: 2px dashed blue; margin: 2px;">
			<div>@Model.ResetBody</div>
			<hr />
			<div>
				<label for="newPassword">@Model.NewPasswordLabelText</label>
				<input name="newPassword"
					   class=""
					   placeholder="@Model.NewPasswordPlaceholderText"
					   type="password">
				<label for="newPasswordRepeat">@Model.NewPasswordRepeatLabelText</label>
				<input name="newPasswordRepeat"
					   class=""
					   placeholder="@Model.NewPasswordRepeatPlaceholderText"
					   type="password">
				<hr />
				<button class="button--filled js-reset-password-submit" data-reset-url="/Account/api/ResetPasswordApi/Change/">@Model.SubmitButtonText</button>
			</div>
			<ul>
				<li class="js-reset-password-error js-reset-password-error-requirements" style="display: none;">@Model.ResetErrorRequirementsText</li>
				<li class="js-reset-password-error js-reset-password-error-mismatch" style="display: none;">@Model.ResetErrorMismatchText</li>
				<li class="js-reset-password-error js-reset-password-error-general" style="display: none;">@Model.ResetErrorGeneralText</li>
			</ul>
			<div class="js-reset-password-success" style="display: none;">
				<p>@Model.ResetSuccessText</p>
			</div>
		</div>
	}
	else
	{
		if (Model.TokenFound)
		{
			<div style="border: 2px dashed green; margin: 2px;">
				<hr />
				<p>@Model.RetryBody</p>
				<button class="button--filled js-reset-password-retry-submit" data-retry-url="/Account/api/ResetPasswordApi/Retry/">@Model.SubmitButtonText</button>
				<div class="js-reset-password-error-general" style="display: none;">
					<p>@Model.RetryErrorGeneralText</p>
				</div>
				<div class="js-reset-password-success" style="display: none;">
					<p>@Model.RetrySuccessText</p>
				</div>
			</div>
		}
		else
		{
			<div style="border: 2px dashed purple; margin: 2px;">
				<hr />
				<p>@Model.TokenNotFoundBody</p>
			</div>
		}
	}
</div>