<!DOCTYPE html>
<title><%- opts.title %></title>
<meta charset="utf-8">
<link href="style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic" rel="stylesheet">
<script>examples=<%- JSON.stringify(opts.examples) %>;</script>
<% opts.js.forEach(function (src) {
	%><script src="<%= src %>"></script><%
}); %>
<header>
	<nav>
		<img src="velir-logo.png" alt="Informa Style Guide">

		<div class="theme-dropdown">
			<h6>Theme</h6>
			<select class="js-theme-select">
				<option value="scrip">SCRIP</option>
				<option value="pink-sheet">The Pink Sheet</option>
				<option value="rose-sheet">The Rose Sheet</option>
				<option value="medtech">Medtech Insight</option>
				<option value="invivo">In Vivo</option>
			</select>
		</div>

		<% menu(list, 1) %>
	</nav>
</header>

<main>
	<% sections(list, 2) %>
	<footer>
		Powered by <span class="wordmark">Runway</span>. Last modified <%- lastModified() %>
	</footer>
</main>

<script src="prism.js"></script>
<script src="cash.js"></script>
<script src="examples.js"></script>
<script src="script.js"></script>

<%

function menu(children, depth) {
	%>
	<ul>
		<% if (depth < 3) children.sort(sort).forEach(function (child) {
			if (child.name) {
				%>
				<li>
					<a href="#<%- child.name %>"><span><%= child.title %></span></a>
					<% if (child.children) menu(child.children, depth + 1) %>
				</li>
				<%
			}
		}); %>
	</ul>
	<%
}

function sections(children, depth) {
	depth = Math.max(Math.min(depth, 6), 1);

	children.sort(sort).forEach(function (child) {
		%>
		<section<% if (child.name) { %> id="<%= child.name %>"<% } %>>
			<% if (child.title) { %><%- '<h' + depth + '>' %><span><%= child.title %></span><%- '</h' + depth + '>' %><% } %>
			<div>
				<div class="iframe-external-wrapper">
					<%- child.content %>

				<% if (child.children) sections(child.children, depth + 1) %>
				</div>
			</div>
		</section>
		<%
	});
}

function lastModified() {
	var now = new Date();

	var day = 'Sunday Monday Tuesday Wednesday Thursday Friday Saturday'.split(' ')[now.getDay()];

	var month = 'January February March April May June July August September October November December'.split(' ')[now.getMonth()];

	return day + ', ' + now.getDate() + ' ' + month + ' ' + now.getFullYear() + ' ' + now.getHours() + ':' + ('0' + now.getMinutes()).slice(-2);
}

function sort(childA, childB) {
	return (childA.order || 0) - (childB.order || 0);
}

%>
