@model Informa.Web.ViewModels.BuyersGuide.BuyersListingViewModel
@using Informa.Library.Utilities.References

@*Agrow Listing Page*@
<div class="main__content">
    <div>
        <div class="agroBuyers">
            <h1>@Model.Title</h1>
            <div class="sub-heading-text">
                <span>@Model.SubTitle</span>
            </div>
            @if (Model.RenderingParameters != null && Model.RenderingParameters.DisplayStyle != null && !string.IsNullOrWhiteSpace(Model.RenderingParameters.DisplayStyle.Value))
            {
                if (Model.RenderingParameters.DisplayStyle.Value == Constants.AgrowResultDisplayTypes.ImageAndTitle)
                {
                    if (Model.AgrowTiles != null && Model.AgrowTiles.Count() > 0)
                    {
                        <section class="buyers-guide-listing" >
                            <div class="buyers-guide-row">
                                @foreach (var agrow in Model.AgrowTiles)
                                {
                                    <div class="buyers-guide">
                                        <div class="image">
                                            <a class="link" href="@agrow.AgrowDetailUrl">
                                                @if (!string.IsNullOrEmpty(agrow.AgrowBanner?.Src))
                                                {
                                                    <img src="@agrow.AgrowBanner.Src" alt="banner" />
                                                }
                                                else if (!string.IsNullOrEmpty(agrow.AgrowLogo?.Src))
                                                {
                                                    <img src="@agrow.AgrowLogo.Src" alt="logo" />
                                                }
                                            </a>
                                        </div>
                                        <h4><a href="@agrow.AgrowDetailUrl">@agrow.AgrowTitle</a></h4>
                                    </div>
                                }
                            </div>
                        </section>
                    }
                }
                else if (Model.RenderingParameters.DisplayStyle.Value == Constants.AgrowResultDisplayTypes.TitleDescriptionAndLink)
                {
                    if (Model.AgrowTiles != null && Model.AgrowTiles.Count() > 0)
                    {
                        <section class="buyers-guide-listing-text" id="buyers-guide-listing-text">
                            <div class="buyers-guide-row">
                                @foreach (var agrow in Model.AgrowTiles)
                                {
                                    <div class="buyers-guide">
                                            <h4><a href="@agrow.AgrowDetailUrl">@agrow.AgrowTitle</a></h4>
                                       
                                        <div class="text">
                                            <p>
                                                @Html.Raw(agrow.AgrowShortDescription)
                                            </p>
                                        </div>
                                        <a href="@agrow.AgrowDetailUrl" class="link" target="_blank">@agrow.AgrowDetailText</a>
                                    </div>
                                }
                            </div>
                        </section>
                    }
                }
                else if (Model.RenderingParameters.DisplayStyle.Value == Constants.AgrowResultDisplayTypes.TitleImageAndLink)
                {
                    if (Model.AgrowTiles != null && Model.AgrowTiles.Count() > 0)
                    {
                        <section class="buyers-guide-listing-link" id="buyers-guide-listing-link">
                            <div class="buyers-guide-row">
                                @foreach (var agrow in Model.AgrowTiles)
                                {
                                    <div class="buyers-guide">
                                        <h4><a href="@agrow.AgrowDetailUrl">@agrow.AgrowTitle</a></h4>
                                        <div class="image">
                                            <a href="@agrow.AgrowDetailUrl">
                                                @if (!string.IsNullOrEmpty(agrow.AgrowBanner?.Src))
                                                {
                                                    <img src="@agrow.AgrowBanner.Src" alt="banner" />
                                                }
                                                else if (!string.IsNullOrEmpty(agrow.AgrowLogo?.Src))
                                                {
                                                    <img src="@agrow.AgrowLogo.Src" alt="logo" />
                                                }
                                            </a>
                                        </div>
                                        <div>
                                            <h4><a href="@agrow.AgrowDetailUrl" class="link" target="_blank">@agrow.AgrowDetailText</a></h4>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    }
                }
            }
            <div class="contact_terms"><p>@Html.Raw(Model.Body)</p></div>
        </div>
    </div>
</div>
