@model Informa.Web.ViewModels.DataTools.AMChartViewModel


@if (!string.IsNullOrEmpty(Model.ChartType))
{
    var chartType = Model.ChartType;
    var ChartTypeScript = "/amcharts/" + chartType + ".js";
    var dashboardWidth = string.IsNullOrWhiteSpace(Model.Height) ? "100%" : Model.Height;
    var dashboardHeight = string.IsNullOrWhiteSpace(Model.Width) ? "100%" : Model.Width;
    var jsonDataPath = string.IsNullOrWhiteSpace(Model.JsonPath) ? "/amcharts/data/AMChartData.js" : Model.JsonPath;

    if (!string.IsNullOrEmpty(ChartTypeScript) && !string.IsNullOrEmpty(jsonDataPath))
    {
        <script src="/amcharts/amcharts.js"></script>
        <script src=@ChartTypeScript></script>
        <script src=@jsonDataPath></script>

        @Html.HiddenFor(m => m.CategoryField)
        @Html.HiddenFor(m => m.ValueField)
        <input type="hidden" id="amChartType" value="@chartType" />
        <input type="hidden" id="amChartDataProvider" value="chartData" />

        if (Model.IsRightRail)
        {
            <div class="data-tool-placeholder-right-rail">
                <h3 class="data-tool-heading">@Model.ComponentHeading</h3>
                <div class="data-tool-graph">
                    <div id="chartdiv" style="width:@dashboardHeight; height:@dashboardWidth;"></div>
                </div>
                <p><a href="@Model.LandingPageLink">@Model.LandingPageLinkLable</a></p>
            </div>
        }
        else
        {
            <div class="data-tool-landing">
                <h1>@Model.PageTitle</h1>
                <div class="sub-heading-text">@Model.PageSubheading</div>
                @if (!string.IsNullOrWhiteSpace(@Model.IntroductoryVideoLink) && !string.IsNullOrWhiteSpace(@Model.IntroductoryText))
                {
                    <div class="js-toggle-demo">
                        <div class="show-demo">
                            <div class="sd">@Model.HideDemoLable<i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                            <div class="hd">@Model.ShowDemoLable<i class="fa fa-chevron-up" aria-hidden="true"></i></div>
                        </div>
                        <div class="toggle-demo">
                            <div class="demoText">
                                <span>
                                    @Model.IntroductoryText
                                </span>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(@Model.IntroductoryVideoLink))
                            {
                                <div class="video-demo">
                                    <div class="visible-lg">
                                        <div class="video-mini-container">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <img src="/dist/img/video-thumb.png" data-videotype="wistia" data-videourl="@Model.IntroductoryVideoLink" alt="wistia video" width="100%" class="video-img img-responsive">
                                                <span class="play-icon" style="display: block;"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="visible-sm">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="data-tool-placeholder">
                 <div class="data-tool-graph data_tool_component__desktop">
                    <div id="chartdiv" style="width:@dashboardHeight; height:@dashboardWidth;"></div>
                </div>
                    </div>
                <div class="articleText">
                    <span>
                        @Model.ToolExplanation
                    </span>
                </div>
            </div>
        }

    }
}