@model Informa.Web.Areas.Account.ViewModels.Registration.RegisterUserViewModel
<div class="js-register-user-container">
	<h1>@Model.Title</h1>
	@Model.Body
	<hr />
	<div style="display: none;" class="js-register-user-error-container">
		<p style="display: none;" class="js-register-user-error js-register-user-error-Required">@Model.RequiredErrorText</p>
		<p style="display: none;" class="js-register-user-error js-register-user-error-UsernameRequirements">@Model.UsernameRequirementsErrorText</p>
		<p style="display: none;" class="js-register-user-error js-register-user-error-PasswordMismatch">@Model.PasswordMismatchErrorText</p>
		<p style="display: none;" class="js-register-user-error js-register-user-error-PasswordRequirements">@Model.PasswordRequirementsErrorText</p>
		<p style="display: none;" class="js-register-user-error js-register-user-error-TermsNotAccepted">@Model.TermsNotAcceptedErrorText</p>
		<p style="display: none;" class="js-register-user-error js-register-user-error-general">@Model.GeneralErrorText</p>
	</div>
	<div>
		<p>@Model.RequiedFieldsText</p>
		<div>
			<label for="username">@Model.UsernameLabelText *</label>
			<input name="username" type="email" placeholder="@Model.UsernamePlaceholderText" />
		</div>
		<div>
			<div>
				<label for="firstName">@Model.FirstNameLabelText *</label>
				<input name="firstName" type="text" placeholder="@Model.FirstNamePlaceholderText" />
			</div>
			<div>
				<label for="lastName">@Model.LastNameLabelText *</label>
				<input name="lastName" type="text" />
			</div>
		</div>
		<div>
			<div>
				<label for="password">@Model.PasswordLabelText *</label>
				<input name="password" type="password" placeholder="@Model.PasswordPlaceholderText" />
			</div>
			<div>
				<label for="passwordRepeat">@Model.PasswordRepeatLabelText *</label>
				<input name="passwordRepeat" type="password" />
			</div>
		</div>
		<div>
			<input name="termsAccepted" type="checkbox" data-checkbox-type="boolean" /><label for="termsAccepted">@Model.TermsLabel</label>
		</div>
		<button class="button--filled js-register-user-submit" data-register-user-url="/Account/api/RegistrationApi/Register/">@Model.SubmitText</button>
		<p style="display: none;" class="js-register-user-success">Account successfull registered (-> redirect to thank you).</p>
		<p>@Model.NewsletterSignUpText</p>
	</div>
</div>