@model Informa.Web.Areas.Account.ViewModels.Registration.RegisterUserViewModel

<div class="page-registration js-register-user-container">
	<h1 class="page-registration__header">@Model.Title</h1>
	<h2 class="page-registration__subheader">@Model.SubTitle</h2>
	<p>@Model.Body</p>
	<hr />
	<div style="display: none;" class="js-register-user-error-container">
		<p style="display: none;" class="js-register-user-error js-register-user-error-Required">@Model.RequiredErrorText</p>
		<p style="display: none;" class="js-register-user-error js-register-user-error-UsernameRequirements">@Model.UsernameRequirementsErrorText</p>
		<p style="display: none;" class="js-register-user-error js-register-user-error-PasswordMismatch">@Model.PasswordMismatchErrorText</p>
		<p style="display: none;" class="js-register-user-error js-register-user-error-PasswordRequirements">@Model.PasswordRequirementsErrorText</p>
		<p style="display: none;" class="js-register-user-error js-register-user-error-TermsNotAccepted">@Model.TermsNotAcceptedErrorText</p>
		<p style="display: none;" class="js-register-user-error js-register-user-error-general">@Model.GeneralErrorText</p>
	</div>
	<div>
		<div class="page-registration__required-hint">
			<span class="asterisk-required"></span> <em>@Model.RequiedFieldsText</em>
		</div>

		<div class="page-registration__field-wrapper">
			<label for="username" class="page-registration__text-label">@Model.UsernameLabelText <span class="asterisk-required"></span></label>
			<input 	type="email"
	               	class="inf-standard-form-field"
	               	placeholder="@Model.UsernamePlaceholderText"
	               	tabindex="1"
				   	name="username">
		</div>

		<div class="page-registration__field-wrapper page-registration__field-wrapper--float">
			<label for="firstName" class="page-registration__text-label">@Model.FirstNameLabelText <span class="asterisk-required"></span></label>
			<input 	type="text"
	               	class="inf-standard-form-field"
	               	tabindex="2"
				   	name="firstName"
				   	placeholder="@Model.FirstNamePlaceholderText">
		</div>

		<div class="page-registration__field-wrapper page-registration__field-wrapper--float">
			<label for="lastName" class="page-registration__text-label">@Model.LastNameLabelText <span class="asterisk-required"></span></label>
			<input 	type="text"
	               	class="inf-standard-form-field"
	               	placeholder=""
	               	tabindex="3"
				   	name="lastName">
		</div>

		<div class="page-registration__field-wrapper page-registration__field-wrapper--float">
			<label for="password" class="page-registration__text-label">@Model.PasswordLabelText <span class="asterisk-required"></span></label>
			<input 	name="password"
					class="inf-standard-form-field"
					type="password"
					placeholder="@Model.PasswordPlaceholderText"
					tabindex="4">
		</div>

		<div class="page-registration__field-wrapper page-registration__field-wrapper--float">
			<label for="passwordRepeat" class="page-registration__text-label">@Model.PasswordRepeatLabelText <span class="asterisk-required"></span></label>
			<input 	name="passwordRepeat"
					class="inf-standard-form-field"
					type="password"
					placeholder=""
					tabindex="5">
		</div>

		<hr>

	    <div class="page-registration__tos-confirm">
	        <input name="termsAccepted" type="checkbox" data-checkbox-type="boolean"> <label for="termsAccepted">@Model.TermsLabel</label>
	    </div>

	    <div class="page-registration__submit-wrapper">
	        <button type="submit" class="button--filled js-register-user-submit" data-register-user-url="/Account/api/RegistrationApi/Register/">@Model.SubmitText</button>
	        <p><em>@Model.NewsletterSignUpText</em></p>
	    </div>

		<p style="display: none;" class="js-register-user-success">Account successfull registered (-> redirect to thank you).</p>

	</div>
</div>
