@model Informa.Web.ViewModels.SiteDebugging.IUserEntitlementsViewModel
<button class="js-debug-expand-entitlements-button button--filled" type="button">View Entitlements</button>
<div class="debugToolbarEntitlements">
	<table class="sortable sortable-table">
		<thead class="sortable-table__header">
			<tr>
				<td>Product Code</td>
				<td>Document ID</td>
				<td>Product Code</td>
				<td>Product ID</td>
				<td>Product Type</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var entitlement in Model.Entitlements)
			{
				<tr>
					<td>@entitlement.ArchiveCode</td>
					<td>@entitlement.DocumentId</td>
					<td>@entitlement.ProductCode</td>
					<td>@entitlement.ProductId</td>
					<td>@entitlement.ProductType</td>
				</tr>
			}
		</tbody>
	</table>
</div>