@model Informa.Web.ViewModels.SiteDebugging.IUserIpAddressViewModel
<form action="" method="post">
	<label class="page-account__text-label" for="debugIpAddress">@Model.IpAddressLabelText</label><input class="inf-standard-form-field" type="text" name="@Model.IpAddressInputName" value="@Model.IpAddress" @( Model.IsDebugging ? "disabled=\"disabled\"" : "" ) />
	@if (Model.IsDebugging)
	{
		<input type="hidden" name="@Model.ClearIpAddressInputName" value="clear" />
	}
	<button type="submit" class="button--filled">@Model.IpAddressSubmitText</button>
</form>