@model Informa.Web.ViewModels.SiteDebugging.IUserEntitlementsViewModel
<style>
	.debugToolbarEntitlements {
		display: none;
	}
</style>
<button class="js-debug-expand-entitlements-button button--filled" type="button">View Entitlements</button>
<div class="debugToolbarEntitlements">
	<table class="sortable sortable-table">
		<thead class="sortable-table__header">
			<tr>
				<td>Archive Code</td>
				<td>Archive Limited</td>
				<td>Archive Limit Date/Time</td>
				<td>Document ID</td>
				<td>Product Code</td>
				<td>Product ID</td>
				<td>Product Type</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var entitlement in Model.Entitlements)
			{
				<tr>
					<td>@entitlement.ArchiveCode</td>
					<td>@entitlement.ArchiveLimited</td>
					<td>@(entitlement.ArchiveLimited ? DateTime.Now.AddDays(entitlement.ArchiveLimitedDays * -1).ToString() : "N/A")</td>
					<td>@entitlement.DocumentId</td>
					<td>@entitlement.ProductCode</td>
					<td>@entitlement.ProductId</td>
					<td>@entitlement.ProductType</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<script>
	$('.js-debug-expand-entitlements-button').on('click', function toggle(e) {
		$(e.target).siblings('.debugToolbarEntitlements').toggle();
	});
</script>