@inherits CustomGlassView<FooterViewModel>

<div class="footer__wrapper">

    <ul class="footer__section footer__section--corporate">
        <li>
            <a href="@Model.FooterLogoLink">
                <img class="footer__logo" src="@Model.FooterLogoUrl">
            </a><br /> @Model.CopyrightText
        </li>
    </ul>

    <div class="footer__section footer__section--double">
        <ul>
            @* THE SUBSCRIBE LINK HERE IS INCORRECT AND PULLING THE SAME
                LINK/TEXT THAT IS USED FOR THE CALL-TO-ACTION BANNER.
                THIS IS GOING TO NEED TO BE IT'S OWN FIELD *@
            @if (false && Model.SubscribeLink != null)
            {
                <li>
                    <a href="@Model.SubscribeLink.Url">@Model.SubscribeLink.Text</a>
                </li>
            }
            @RenderLinks(Model.LocalLinks)
        </ul>
    </div>

    <ul class="footer__section footer__section--social">
        <li class="footer__section-header">@Model.FollowText</li>
        <li>
            @if (Model.LinkedInLink != null)
            {
                <a href="@Model.LinkedInLink.Url" class="click-utag" data-info='{"event_name" : "article-share-linkedin"}' target="_blank" title="@Model.LinkedInLink.Text">
                    <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#linkedin-footer"></use>
                    </svg>
                </a>
            }
            @if (Model.TwitterLink != null)
            {
                <a href="@Model.TwitterLink.Url" target="_blank" title="@Model.TwitterLink.Text" class="click-utag" data-info='{"event_name" : "article-share-twitter"}'>
                    <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#twitter-footer"></use>
                    </svg>
                </a>
            }
            @if (Model.FacebookLink != null)
            {
                <a href="@Model.FacebookLink.Url" target="_blank" title="@Model.FacebookLink.Text" class="click-utag" data-info='{"event_name" : "article-share-facebook"}'>
                    <svg class="footer__share-icons">
                        <use xlink:href="/dist/img/svg-sprite.svg#facebook-footer"></use>
                    </svg>
                </a>
            }

            @if (Model.FooterRssLink != null)
            {
                <a href="@Model.FooterRssLink.Url" target="_blank" title="@Model.FooterRssLink.Text" class="click-utag" data-info='{"event_name" : "rss-footer-link-click"}'>

                    <img class="footer__share-icons" src="@Model.FooterRssLogoUrl" />

                </a>
            }
        </li>
    </ul>

    @if (Model.MenuOneLinks.Any() || Model.MenuTwoLinks.Any())
    {
        <hr class="footer__separator">
    }

    @if (Model.MenuOneLinks.Any())
    {
        <div class="footer__section footer__section--single">
            <span class="footer__section-header">
                @Model.MenuOneHeader
            </span>
            <ul>
                @RenderLinks(Model.MenuOneLinks)
            </ul>
        </div>
    }

    @if (Model.MenuTwoLinks.Any())
    {
        <div class="footer__section footer__section--triple">
            <span class="footer__section-header">
                @Model.MenuTwoHeader
            </span>
            <ul>
                @RenderLinks(Model.MenuTwoLinks)
            </ul>
        </div>
    }

</div>

@helper RenderLinks(IEnumerable<Informa.Library.Navigation.INavigation> pageLinks)
{
foreach (var pageLink in pageLinks)
{
        <li>
            <a href="@Informa.Library.Utilities.Extensions.GlassLinkExtensions.LinkUrl(pageLink.Link)">@pageLink.Text</a>
        </li>
}
}

@helper RenderLinks(IEnumerable<Informa.Web.Models.IPageLink> pageLinks)
{
foreach (var pageLink in pageLinks)
{
        <li>
            <a href="@pageLink.Url">@pageLink.Text</a>
        </li>
}
}
