@model Informa.Web.ViewModels.IHeaderViewModel
@*@model Informa.Web.Areas.Account.Models.LoginViewModel*@
<header>
    <div>
        @Html.Raw(Model.CookiePolicyText)
    </div>
    <div class="header__informa-permabanner">
        informa
    </div>

    <div class="advertising--leaderboard">
        <img src="http://placehold.it/728x90">
    </div>

    <div class="header__wrapper clearfix">

        @* MENU MINI-TOGGLER (SMALLER-THAN-DESKTOP SIZES) *@
        <div class="menu-toggler menu-toggler--mini js-toggle-menu">
            <button class="menu-toggler__button">
                <span>Toggle Menu</span>
            </button>
            Menu
        </div>

        <div class="header__logo">
            <a href="@Model.LogoUrl"><img src="@Model.LogoImageUrl"></a>
        </div>

        <div class="header-search__wrapper">
            <input class="inf-standard-form-field header-search__field" type="search" placeholder="Search the site">
            <svg class="header__icons header__icons--search js-header-search-trigger">
                <use xlink:href="/dist/img/svg-sprite.svg#search"></use>
            </svg>
            <svg class="header__icons header__icons--dismiss-search js-header-search-trigger">
                <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
            </svg>
        </div>


        <div class="header-account-access">

			@if (!string.IsNullOrWhiteSpace(Model.WelcomeText))
			{
				<div class="header-account-access__friendly-greeting">@Model.WelcomeText</div>
			}

            @if (Model.IsAuthenticated)
            {
                <div class="header-account-access__my-account">
                    <svg class="header__icons icon-my-account">
                        <use xlink:href="/dist/img/svg-sprite.svg#my-account"></use>
                    </svg>                        
                    <span class="header-account-access__label"><a href="#">@Model.MyAccountLinkText</a>@*@Html.ActionLink(Model.MyAccountLinkText, "Manage", "Manage", new { area = "Account" }, htmlAttributes: new { title = "Manage" })*@</span>
                </div>
                <div class="header-account-access__sign-in-out">
                    <svg class="header__icons icon-sign-out">
                        <use xlink:href="/dist/img/svg-sprite.svg#sign-out"></use>
                    </svg>
					<span class="header-account-access__label">@Html.ActionLink(Model.SignOutLinkText, "Logout", "LogoutWebUser", new { area = "Account", returnUrl = "/" }, new { })</span>
				</div>
			}
			else
			{
                <div class="header-account-access__my-account pop-out__trigger js-pop-out-trigger"
                     data-pop-out-id="header-register"
                     data-pop-out-type="register">

                    <svg class="header__icons icon-register">
                        <use xlink:href="/dist/img/svg-sprite.svg#register"></use>
                    </svg>
					<span class="header-account-access__label">@Model.RegisterLinkText</span>
                </div>

                <div class="header-account-access__sign-in-out pop-out__trigger js-pop-out-trigger"
                     data-pop-out-id="header-signin"
                     data-pop-out-align="right"
                     data-pop-out-type="sign-in"
                     data-pop-out-tab-height="87">
                    <svg class="header__icons icon-sign-in">
                        <use xlink:href="/dist/img/svg-sprite.svg#sign-in"></use>
                    </svg>
					<span class="header-account-access__label">@Model.SignInLinkText</span>
                </div>
            }
        </div>


        @* If this is an Article page... *@
        <div class="boxout-print-info">
            <p>This copy is for your personal non-commercial use. For high-quality copies or electronic reprints for distribution to colleagues or customers, click <a href="#">here</a> or call +1 (908) 748-1221.</p>
            <p>Printed by <b>Ms. First M. Last, Company</b></p>
        </div>
        @* end pseudo-if *@

    </div>

</header>
