@inherits CustomGlassView<HeaderViewModel>

<header>

    <div class="banner banner--cookie-policy" data-banner-id="cookie-policy-0001" data-dismiss-all-subdomains="true">
        <div class="banner__wrapper">
            <div class="dismiss-button js-dismiss-banner">
                <svg class="dismiss-button__icon">
                    <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                </svg>
            </div>
            <span>@Html.Raw(Model.PolicyText)</span>
        </div>
    </div>

    <div class="informa-ribbon">
        <div class="informa-ribbon__wrapper">
            <div class="informa-ribbon__detail">
                <div class="informa-ribbon__left">
                    @Html.Raw(Model.LeftColumnText)
                    <ul>
                        <li class="iribbon-mainlink">
                            @Html.Raw(Model.Link1)
                        </li>
                        <li>
                            @Html.Raw(Model.Link2)
                        </li>
                        <li>
                            @Html.Raw(Model.Link3)
                        </li>
                        <li>
                            @Html.Raw(Model.Link4)
                        </li>
                    </ul>
                </div>

                <div class="informa-ribbon__right">
                    @Html.Raw(Model.RightColumnText)
                </div>
            </div>

            <button class="informa-ribbon__title">
                Informa
            </button>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.LeaderboardSlotID) && !string.IsNullOrEmpty(Model.LeaderboardAdZone))
    {
        <div class="advertising--leaderboard">
            <script>OAS_AD('@Model.LeaderboardSlotID', '@Model.LeaderboardAdZone');</script>
        </div>
    }
    <div class="header__wrapper clearfix">

        @* MENU MINI-TOGGLER (SMALLER-THAN-DESKTOP SIZES) *@
        <div class="menu-toggler menu-toggler--mini js-menu-toggle-button">
            <button class="menu-toggler__button">
                <span>Toggle Menu</span>
            </button>
            Menu
        </div>

        <div class="header__logo">
            <a href="/"><img src="@Model.LogoImageUrl"></a>
        </div>
        <div class="header-logo-print">
            <a href="/"><img src="@Model.PrintPageHeaderLogoSrc"></a>
        </div>

        @Html.Sitecore().Placeholder("header-search")

        <div class="header-account-access">
          
             @*   @Html.Sitecore().Placeholder("header-myview")*@

            <div class="header-account-right-access">
                @if (Request.Cookies["LoggedoutActionFlag"] == null || Model.IsAuthenticated)
            {


                if (!string.IsNullOrWhiteSpace(Model.WelcomeText))
                {
                        <div class="header-account-access__friendly-greeting">@Model.WelcomeText</div>
                    }
                }



                @if (Model.IsAuthenticated)
            {
                    @* TODO: UNTIL WE GET ENTITLED USERS *@
                    <div class="header-account-access__my-account">
                        <svg class="header__icons icon-my-account">
                            <use xlink:href="/dist/img/svg-sprite.svg#my-account"></use>
                        </svg>
                        <span class="header-account-access__label"><a href="@Model.MyAccountLink">@Model.MyAccountLinkText</a></span>
                    </div>
                    <div class="header-account-access__sign-in-out click-logout">
                        <svg class="header__icons icon-sign-out">
                            <use xlink:href="/dist/img/svg-sprite.svg#sign-out"></use>
                        </svg>
                        <span class="header-account-access__label">@Html.ActionLink(Model.SignOutLinkText, "Logout", "LogoutWebUser", new { area = "Account", returnUrl = HttpContext.Current.Request.Url }, new { })</span>
                    </div>}
                else
                {

                    <div class="header-account-access__my-account pop-out__trigger js-pop-out-trigger"
                         data-pop-out-id="header-register"
                         data-pop-out-type="register">

                        <svg class="header__icons icon-register">
                            <use xlink:href="/dist/img/svg-sprite.svg#register"></use>
                        </svg>
                        <span class="header-account-access__label">@Model.RegisterLinkText</span>
                    </div>

                    <div class="header-account-access__sign-in-out pop-out__trigger js-pop-out-trigger"
                         data-pop-out-id="header-signin"
                         data-pop-out-align="right"
                         data-pop-out-type="sign-in"
                         data-pop-out-tab-height="87">
                        <svg class="header__icons icon-sign-in">
                            <use xlink:href="/dist/img/svg-sprite.svg#sign-in"></use>
                        </svg>
                        <span class="header-account-access__label">@Model.SignInLinkText</span>
                    </div>

                }
            </div>

                </div>



        @* If this is an Article page... *@
        <div class="boxout-print-info">
            <p>@Model.PrintPageHeaderMessage</p>
            <p>@Model.PrintedByText <b>@Model.UserName @(string.IsNullOrEmpty(Model.UserName) || string.IsNullOrEmpty(Model.CorporateName) ? string.Empty : ",") @Model.CorporateName</b></p>
        </div>
        @* end pseudo-if *@

    </div>

</header>
