@model Informa.Web.ViewModels.IHeaderViewModel
@*@model Informa.Web.Areas.Account.Models.LoginViewModel*@
<header>
    <div class="header__informa-permabanner">
        informa
    </div>

    <div class="advertising--leaderboard">
        <img src="http://placehold.it/728x90">
    </div>

    <div class="header__wrapper clearfix">

        <div class="menu-toggler menu-toggler--mini js-toggle-menu">
            <button class="menu-toggler__button">
                <span>Toggle Menu</span>
            </button>
            Menu
        </div>

        <img class="header__logo" src="@Model.LogoUrl">

        <div class="header__user-actions">

            @if (Request.IsAuthenticated)
            {
    <!-- IF SIGNED IN  !-->
                using (Html.BeginForm("LogOff", "Account", new { area = "Account" }, FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="header__friendly-welcome">Hi, @User.Identity.Name</div>
                    <div class="header__my-account">
                        <svg class="header__icons icon-my-account">
                            <use xlink:href="/dist/img/svg-sprite.svg#my-account"></use>
                        </svg>
                        @Html.ActionLink("My Account", "Index", "Manage", new { area = "Account" }, htmlAttributes: new { title = "Manage" })
                    </div>
                    <div class="header__sign-out">
                        <svg class="header__icons icon-sign-out">
                            <use xlink:href="/dist/img/svg-sprite.svg#sign-out"></use>
                        </svg>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>
                    </div>
                }
     <!-- IF SIGNED IN !-->
            }
            else
            {
      <!-- IF SIGNED OUT !-->
                <div class="header__my-account pop-out__trigger js-toggle-pop-out">
                    <span class="pop-out__trigger-content">
                        <svg class="header__icons icon-register">
                            <use xlink:href="/dist/img/svg-sprite.svg#register"></use>
                        </svg>
                        @Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "Account" }, htmlAttributes: new { id = "registerLink" })
                        <a href="#">Register</a>
                    </span>
                    <div class="pop-out header__hover--register">
                        <div class="pop-out__internal">
                            <div class="dismiss-button js-dismiss-pop-out">
                                <svg class="dismiss-button__icon">
                                    <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                                </svg>
                            </div>
                            <h2>Register</h2>
                            <input class="text-field header__hover-input"
                                   type="text"
                                   placeholder="Email Address (User Name)">
                            <button class="button--filled">Register</button>
                        </div>
                    </div>

                </div>

                <div class="header__sign-in-out pop-out__trigger js-toggle-pop-out">
                    <span class="pop-out__trigger-content">
                        <svg class="header__icons icon-sign-in">
                            <use xlink:href="/dist/img/svg-sprite.svg#sign-in"></use>
                        </svg>
                        @Html.ActionLink("Sign In", "LoginHeader", "Account", routeValues: new { area = "Account" }, htmlAttributes: new { id = "loginLink" })
                    </span>
                    <div class="pop-out">
                        <div class="pop-out__internal pop-out__internal--flush-right">
                        <div class="dismiss-button js-dismiss-pop-out">
                            <svg class="dismiss-button__icon">
                                <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                            </svg>
                        </div>
                        <h2 class="pop-out__header">Sign In</h2>

                        @Html.Partial("_SignInForm")

                        </div>
                    </div>
                </div>

            }


        </div>

        <div class="header-search__wrapper">
            <input class="inf-standard-form-field header-search__field" type="search" placeholder="Search the site">
            <svg class="header__icons header__icons--search js-header-search-trigger">
                <use xlink:href="/dist/img/svg-sprite.svg#search"></use>
            </svg>
            <svg class="header__icons header__icons--dismiss-search js-header-search-trigger">
                <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
            </svg>
        </div>

    </div>

</header>
