@inherits CustomGlassView<SideNavigationMenuViewModel>
@using Informa.Web.ViewModels;
@using Informa.Library.Navigation;

<div class="main-menu js-full-menu-toggle">
    <div class="menu-toggler js-menu-toggle-button">
        <button class="menu-toggler__button">
            <span>@Model.MenuButtonText</span>
        </button>
        @Model.MenuText
    </div>
    @if (Model.Navigation != null)
    {
        var Nav = new Navigation();
        var subscriptions = Model.ValidSubscriptions;
        foreach (var navigation in Model.Navigation.Where(n => !(n.Link == null && !n.Children.Any())))
        {
            Nav.Children = new List<Navigation>();
            var subscribedChildren = new List<INavigation>();
            if (subscriptions != null && subscriptions.Count() > 0 && subscriptions.SelectMany(p => p.SubscribedChannels).ToList() != null)
            {
                foreach (var item in subscriptions.SelectMany(p => p.SubscribedChannels))
                {
                    if (navigation.Children.Where(m => m.Code == item.ChannelId).FirstOrDefault() != null)
                    {
                        subscribedChildren.Add(navigation.Children.Where(m => m.Code == item.ChannelId).FirstOrDefault());
                    }
                    Nav.Children = subscribedChildren.Concat(navigation.Children.Where(m => !subscriptions.SelectMany(p => p.SubscribedChannels).Any(n => n.ChannelId == m.Code)));
                }
            }
            else if (subscriptions != null && subscriptions.Count() > 0 && subscriptions.SelectMany(p => p.SubscribedTopics).ToList() != null)
            {
                foreach (var item in subscriptions.SelectMany(p => p.SubscribedTopics))
                {
                    if (navigation.Children.Where(m => m.Code == item.TopicId).FirstOrDefault() != null)
                    {
                        subscribedChildren.Add(navigation.Children.Where(m => m.Code == item.TopicId).FirstOrDefault());
                    }
                }
                Nav.Children = subscribedChildren.Concat(navigation.Children.Where(m => !subscriptions.SelectMany(p => p.SubscribedTopics).Any(n => n.TopicId == m.Code)));
            }
            else
            {
                Nav.Children = navigation.Children;
            }
            if (string.Equals(navigation.Text, "My View", StringComparison.OrdinalIgnoreCase))
            {
                Model.Preferencelst = Model.MyViewPreferences;
                if (Model.Preferencelst != null)
                {
                    Nav.Children = Model.Preferencelst.Children;
                }
            }
            if (navigation.Link == null && navigation.Text == null && Nav.Children.Any())
            {
                <dl class="main-menu__footer">
                    @foreach (var navigationChild in Nav.Children)
                    {
                        <dd class="main-menu__footer-link">
                            <a href="@navigationChild.Link.Url" target="@navigationChild.Link.Target">@navigationChild.Text</a>
                        </dd>
                    }
                    <dd class="bottomSpace"></dd>
                    <dd class="bottomSpace"></dd>
                    <dd class="bottomSpace"></dd>
                    <dd class="bottomSpace"></dd>
                    <dd class="bottomSpace"></dd>

                </dl>
            }
            else if (string.Equals(navigation.Text, "My View", StringComparison.OrdinalIgnoreCase))
            {
                <div class="main-menu__section">
                    <div class="titleMyView">@navigation.Text</div>
                    <ul>
                        @if (Model.IsAuthenticated)
                        {
                            <li class="edit-link"><a href="@Model.MyViewLinkURL">@Model.MyViewEditBtnText</a></li>
                            <li class="navContent">@Model.MyViewHelpText</li>
                        }
                        else
                        {
                            <li class="edit-link"><a id="myBtn" href="javascript: void(0);">@Model.MyViewEditBtnText</a></li>
                            <li class="navContent">@Model.MyViewHelpText</li>
                        }


                        @if (Nav.Children.Any())
                        {
                            foreach (var navigationChild in Nav.Children)
                            {
                                <li class="main-menu__hoverable">
                                    <a href="@navigationChild.Link.Url" target="@navigationChild.Link.Target" class="main-menu__section-link">@navigationChild.Text</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            }
            else
            {
                <ul class="main-menu__section">
                    <li class="main-menu__section-title main-menu__hoverable js-toggle-menu-section is-active">
                        @if (Nav.Children.Any())
                        {
                            <svg class="main-menu__arrow-icon  js-hoist-menu-click">
                                <use xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use>
                            </svg>
                        }
                        @if (navigation.Link == null)
                        {
                            @navigation.Text
                        }
                        else
                        {
                            <a href="@navigation.Link.Url" target="@navigation.Link.Target">@navigation.Text</a>
                        }
                    </li>

                    @if (Nav.Children.Any())
                    {
                        <li class="main-menu__section-wrapper">
                            <ul>
                                @foreach (var navigationChild in Model.Preferencelst != null ? Nav.Children.Where(p => !Model.Preferencelst.Children.Any(p2 => p2.Code == p.Code)) : Nav.Children)
                                {
                                    <li class="main-menu__hoverable">
                                        <a href="@navigationChild.Link.Url" target="@navigationChild.Link.Target" class="main-menu__section-link">@navigationChild.Text</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            }
        }
    }
</div>
<!-- The Personalised Modal -->
<div id="myModal" class="personalise_nav">

    <!-- Modal content -->
    <div class="personalise_nav-content">
        <span class="personalise_close">
            <svg class="dismiss-button__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use>
                UsernamePublicRestriction
            </svg>
        </span>
        @{ Html.RenderPartial("../Article/UserCallToAction", Model.CallToActionViewModel); }
    </div>

</div>