@model Informa.Web.ViewModels.ISignInViewModel

<div class="pop-out__form-error">
	@Model.SignInInvalidText
</div>

<input class="pop-out__input header__hover-input"
	   placeholder="@Model.UsernamePlaceholderText"
	   type="text">
<input class="pop-out__input header__hover-input"
	   placeholder="@Model.PasswordPlaceholderText"
	   type="password">

<div class="pop-out__form-actions-wrapper">
	<div>
		<a class="pop-out__form-actions js-show-forgot-password" href="#">@Model.ForgotPasswordLinkText</a>
		<div class="pop-out__sign-in-remember-me">
			<input type="checkbox"> @Model.RememberMeText
		</div>
	</div>
	<div class="sign-in__submit-wrapper">
		<button class="button--filled sign-in__submit">@Model.SignInButtonText</button>
	</div>
</div>

<div class="pop-out__sign-in-forgot-password">
	<div class="alert-success">
		<svg class="alert__icon">
			<use xlink:href="/dist/img/svg-sprite.svg#check"></use>
		</svg>
		<p>Thanks, we've sent a link to reset your password.</p>
	</div>

	<div class="pop-out__sign-in-forgot-password-nested">
		<h4 class="pop-out__sign-in-forgot-password-header">Forgot your password?</h4>
		<p class="pop-out__details">
			@Model.ForgotPasswordHelpText
		</p>
		<input class="pop-out__input"
			   type="text"
			   placeholder="@Model.EmailPlaceholderText">
		<div class="pop-out__form-actions-wrapper">
			<div></div>
			<div class="sign-in__submit-wrapper">
				<button class="button--filled sign-in__submit">@Model.ForgotPasswordButtonText</button>
			</div>
		</div>
	</div>
	<p class="pop-out__details pop-out__details--inset u-italic u-centered">
		@Model.ForgotPasswordContactText
	</p>

</div>