@model Informa.Web.ViewModels.IHeaderViewModel
<div class="pop-out__form-error">
    @Model.SignInInvalidText
</div>
<input class="inf-standard-form-field header__hover-input"
       placeholder="@Model.UsernamePlaceholderText"
       type="text">
<input class="inf-standard-form-field header__hover-input"
       placeholder="@Model.PasswordPlaceholderText"
       type="password">

<div class="pop-out__form-actions-wrapper">
    <div>
        <a class="pop-out__form-actions" href="#">@Model.ForgotPasswordLinkText</a>
        @*<a class="pop-out__form-actions" href="#">Register now</a>*@
        <div class="pop-out__form-actions--remember-me"><input type="checkbox">@Model.RememberMeText</div>
    </div>
    <div class="sign-in__submit-wrapper">
        <button class="button--filled sign-in__submit">@Model.SignInButtonText</button>
    </div>
</div>

<div class="pop-out__forgot-password">
    <h5>Forgot your password?</h5>
    <p class="pop-out__details">
        @Model.ForgotPasswordHelpText
    </p>
    <input  class="inf-standard-form-field"
            type="text"
            placeholder="@Model.EmailPlaceholderText">
    <div class="pop-out__form-actions-wrapper">
        <div></div>
        <div class="sign-in__submit-wrapper">
            <button class="button--filled sign-in__submit">@Model.ForgotPasswordButtonText</button>
        </div>
    </div>
    <p class="pop-out__details pop-out__details--inset u-italic u-centered">
        @Model.ForgotPasswordContactText
    </p>

</div>
