@using Velir.Search.Core.Reference
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Velir.Search.Models.ISort>

<li ng-class="{ 'is-selected': sorter.sortBy === '@Model.Key',
                                'is-sorted-up': sorter.isSortedAsc('@Model.Key'),
                                'is-sorted-down': sorter.isSortedDesc('@Model.Key') }">
    <a href=""
       title="@Model.Sort_Title"
       class="btn btn--sort btn--icon-group"
       ng-click="sorter.setByOrFlipOrder('@Model.Key', '@(Model.Sort_Ascending ? SiteSettings.QueryString.SortAscendingValue : SiteSettings.QueryString.SortDescendingValue)')">
        @Editable(model => model.Sort_Title)
        <div class="btn_icon-group">
            <svg class="icon icon-arrow_drop_up"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svgdefs.svg#icon-arrow_drop_up"></use></svg>
            <svg class="icon icon-arrow_drop_down"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/svgdefs.svg#icon-arrow_drop_down"></use></svg>
        </div>
    </a>
</li>
