{# Randoms #}
{% if topicsListHeader == false %}
	{% set topicsListHeader = random(randomTitles).text %}
{% endif %}
{% if topicsListWords == false %}
	{% set topicsListWords = [{
		"sectionHeader": "Section Header",
		"items": [
				{
					"itemText" : random(randomTags).text
				},
				{
					"itemURL": "#",
					"itemText" : random(randomTags).text
				},
				{
					"itemURL": "#",
					"itemText" : random(randomTags).text,
					"subsection": [
						{
							"itemText" : random(randomTags).text
						},
						{
							"itemURL": "#",
							"itemText" : random(randomTags).text
						},
						{
							"itemURL": "#",
							"itemText" : random(randomTags).text
						}
					]
				},
				{
					"itemURL": "#",
					"itemText" : random(randomTags).text
				},
				{
					"itemURL": "#",
					"itemText" : random(randomTags).text
				},
				{
					"itemURL": "#",
					"itemText" : random(randomTags).text
				}
			]
		}]
	%}
{% endif %}

{# Pattern #}
<div class="article-topics">
	<h2 class="article-topics__header">{{topicsListHeader}}</h2>

	{% for section in topicsListWords %}
		<ul>
			{% if section.sectionHeader %}
				<li class="article-topics__section-header">
					{{section.sectionHeader}}
				</li>
			{% endif %}
			{% if section.sectionDesc %}
				<li class="article-topics__section-desc">
					{{section.sectionDesc | raw}}
				</li>
			{% endif %}
			{% for item in section.items %}
				<li class="article-topics__li">
					{% if item.itemURL %}
						<a href="{{item.itemURL}}">{{item.itemText}}</a>
					{% else %}
						{{item.itemText}}
					{% endif %}
					{% if item.subsection %}
						<ul>
							{% for subitem in item.subsection %}
								<li class="article-topics__li">
									{% if subitem.itemURL %}
										<a href="{{subitem.itemURL}}">{{subitem.itemText}}</a>
									{% else %}
										{{subitem.itemText}}
									{% endif %}

									{% if subitem.subsection %}
										<ul>
											{% for subsubitem in subitem.subsection %}
												<li class="article-topics__li">
													{% if subsubitem.itemURL %}
														<a href="{{subsubitem.itemURL}}">{{subsubitem.itemText}}</a>
													{% else %}
														{{subsubitem.itemText}}
													{% endif %}
												</li>
											{% endfor %}
										</ul>
									{% endif %}

								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>
