{% if personName == false %}
	{% set personName = "John Doe" %}
{% endif %}
{% if personTitle == false %}
	{% set personTitle = "Person Business Title" %}
{% endif %}
{% if location == false %}
	{% set location = "Location, LO" %}
{% endif %}
{% if email == false and not email == " " %}
	{% set email = "#" %}
{% endif %}
{% if twitter == false and not twitter == " " %}
	{% set twitter = "@TwitterName" %}
{% endif %}
{% if twitterUrl == false %}
	{% set twitterUrl = "#" %}
{% endif %}
{% if linkedin == false and not linkedin == " " %}
	{% set linkedin = "Public LinkedIn Profile Link" %}
{% endif %}
{% if linkedinUrl == false %}
	{% set linkedinUrl = "#" %}
{% endif %}
{% if personPhoto == false and not personPhoto == " " %}
	{% set personPhoto = "http://placehold.it/200x200" %}
{% endif %}
{% if personProfile == false and not personProfile == " " %}
	{% set personProfile = "Vestibulum ut justo metus. Quisque eu mauris turpis. Nam suscipit commodo sapien, vel porta arcu condimentum nec. Aliquam eget leo et nisl lacinia molestie. Morbi vel mi nec erat sodales imperdiet. Donec at mauris luctus, dictum metus sit amet, dignissim nisi. Vestibulum est nibh, molestie id sagittis pretium, viverra at erat. Morbi rhoncus nunc sed venenatis consequat. " %}
{% endif %}

<div class="article-body-content profile__header">
	<h1 class="profile__name">{{personName}}</h1>
	<h2 class="profile__title">{{personTitle}}</h2>
	<div class="profile__location">{{location}}</div>
	{% if hideProfilePhoto == false %}
		<img class="profile__img" src="{{personPhoto}}" />
	{% endif %}
	<ul class="profile__links">
		<li>
			{% include "molecules-icon-as-bullet" with {"icon": "email", "linkText": "email@email.com", "classes" : "action-flag__icon profile__icon"} %}
		</li>
		<li>
			{% include "molecules-icon-as-bullet" with {"icon": "twitter", "linkText": twitter, "classes" : "action-flag__icon profile__icon"} %}
		</li>
		<li>
			{% include "molecules-icon-as-bullet" with {"icon": "linkedin", "linkText": linkedin, "classes" : "action-flag__icon profile__icon action-flag__icon--linkedin"} %}
		</li>
	</ul>
	<div class="profile__profile">
		{{personProfile}}
	</div>
	<ul class="profile__expertise">
		<li>
			{% include "molecules-bar-separated-list" with {"labelText": "Areas of Expertise", "items": areasOfExpertise} %}
		</li>
		<li>
			{% include "molecules-bar-separated-list" with {"labelText": "Industry Expertise", "items": industryExpertise} %}
		</li>
		<li>
			{% include "molecules-bar-separated-list" with {"labelText": "Writes for", "items": writesFor} %}
		</li>
	</ul>

</div>
