@model Informa.Web.ViewModels.PopOuts.IEmailArticlePopOutViewModel
<div class="pop-out js-pop-out__email-article">
	<div class="pop-out__tab"></div>
	<div class="pop-out__internal">

		<div class="dismiss-button" data-target-element=".js-pop-out__email-article">
			<svg class="dismiss-button__icon">
				<use xlink:href="/dist/img/svg-sprite.svg#x"></use>
			</svg>
		</div>

		<h3 class="pop-out__header">
			@Model.EmailArticleText
		</h3>

		<p class="pop-out__details u-italic">
			@Model.EmailFormInstructionsText
		</p>

		<form 	class="form-email-article"
				data-on-submit="/Account/api/EmailFriend/Email/">

			<p class="	pop-out__error
						js-form-error
						js-form-error-general">
				Please make sure all fields are completed.
			</p>

			<p class="	pop-out__error
						js-form-error
						js-form-error-failType">
				Please provide an email address.
			</p>
			<input	name="RecipientEmail"
				   	class="pop-out__input"
				   	type="text"
				   	placeholder="@Model.RecipientEmailPlaceholderText"
				   	error="@Model.InvalidEmailText">

			<p class="	pop-out__error
						js-form-error
						js-form-error-failType">
				Please provide an email address.
			</p>
			<input 	name="SenderName"
				   	class="pop-out__input"
				   	type="text"
				   	placeholder="@Model.YourNamePlaceholderText"
			       	error="@Model.EmptyFieldText"
	               	value="@Model.AuthUserName">


			<p class="	pop-out__error
						js-form-error
						js-form-error-failType">
				Please provide an email address.
			</p>
			<input 	name="SenderEmail"
				   	class="pop-out__input"
				   	type="text"
				   	placeholder="@Model.YourEmailPlaceholderText"
			       	error="@Model.EmptyFieldText"
	               	value="@Model.AuthUserEmail">

			<p>
				<span class="pop-out__run-in">@Model.SubjectText</span> @Model.ArticleTitle
				<input type="hidden" name="ArticleTitle" value="@Model.ArticleTitle">
			</p>

			<p>
				<span class="pop-out__run-in">@Model.AddMessageText</span>
			</p>

			<textarea name="PersonalMessage" class="pop-out__input pop-out__textarea"></textarea>

			<input type="hidden" name="ArticleNumber" value="@Model.ArticleNumber">

			<div class="pop-out__form-actions-wrapper">
				<div>
					<a href="#">@Model.CancelText</a>
				</div>
				<div class="sign-in__submit-wrapper">
					<button type="submit" class="button--filled sign-in__submit">@Model.SendText</button>
				</div>
			</div>
		</form>

		<p class="pop-out__details u-italic">
			@Html.Raw(Model.NoticeText)
		</p>
	</div>
</div>
