@model Informa.Web.ViewModels.PopOuts.IEmailArticlePopOutViewModel
<div class="pop-out js-pop-out__email-article">
	<div class="pop-out__tab"></div>
	<div class="pop-out__internal">

		<div class="dismiss-button" data-target-element=".js-pop-out__email-article">
			<svg class="dismiss-button__icon">
				<use xlink:href="/dist/img/svg-sprite.svg#x"></use>
			</svg>
		</div>

		<h3 class="pop-out__header">
			@Model.EmailArticleText
		</h3>

		<p class="pop-out__details u-italic">
			@Model.EmailFormInstructionsText
		</p>
		<input name="RecipientEmail"
			   class="pop-out__input"
			   type="text"
			   placeholder="@Model.RecipientEmailPlaceholderText"
			   error="@Model.InvalidEmailText">
		<input name="SenderName"
			   class="pop-out__input"
			   type="text"
			   placeholder="@Model.YourNamePlaceholderText"
			   error="@Model.EmptyFieldText">
		<input name="SenderEmail"
			   class="pop-out__input"
			   type="text"
			   placeholder="@Model.YourEmailPlaceholderText"
			   error="@Model.EmptyFieldText">
		<p>
			<span class="pop-out__run-in">@Model.SubjectText</span> @Model.ArticleTitle
			<input type="hidden" name="ArticleTitle" value="@Model.ArticleTitle">
		</p>
		<p><span class="pop-out__run-in">@Model.AddMessageText</span></p>
		<textarea name="PersonalMessage" class="pop-out__input pop-out__textarea"></textarea>

		<input type="hidden" name="ArticleNumber" value="@Model.ArticleNumber">

		<div class="pop-out__form-actions-wrapper">
			<div>
				<a href="#">@Model.CancelText</a>
			</div>
			<div class="sign-in__submit-wrapper">
				<button class="button--filled sign-in__submit" data-login-url="/Account/api/EmailFriend/Email/">@Model.SendText</button>
			</div>
		</div>
		<p class="pop-out__details u-italic">
			@Html.Raw(Model.NoticeText)
		</p>
	</div>
</div>
