@model Informa.Web.ViewModels.PopOuts.IEmailAuthorPopOutViewModel
<div class="pop-out js-pop-out__email-author">
	<div class="pop-out__form-error">
		<!--TODO Add error message-->
		@Model.AuthorName
	</div>
	<div class="pop-out__tab"></div>
	<div class="pop-out__internal">

		<div class="dismiss-button js-dismiss-email-author" data-target-element=".js-pop-out__email-author">
			<svg class="dismiss-button__icon">
				<use xlink:href="/dist/img/svg-sprite.svg#x"></use>
			</svg>
		</div>

		<h3 class="pop-out__header">
			@Model.EmailAuthorText
		</h3>

		<div class="alert-success js-email-author-success">
			<svg class="alert__icon">
				<use xlink:href="/dist/img/svg-sprite.svg#check"></use>
			</svg>
			<p>@Model.EmailSentSuccessMessage <b class="js-email-author-recip-success">my&#64;email.address</b>.</p>
		</div>

		<div class="js-email-author-form-wrapper">
			<p class="pop-out__details u-italic">
				@Model.EmailFormInstructionsText
			</p>

			<form 	class="form-email-author"
					data-on-submit="/Account/api/EmailFriend/Email/">

				<p class="	pop-out__error
							js-form-error
							js-form-error-general">
					@Model.GeneralError
				</p>

				<p class="	pop-out__error
							js-form-error
							js-form-error-failType">
					@Model.InvalidEmailText
				</p>
				<input	name="RecipientEmail"
					   	class="pop-out__input js-email-author-recip-addr"
					   	type="text"
					   	placeholder="@Model.RecipientEmailPlaceholderText">

				<p class="	pop-out__error
							js-form-error
							js-form-error-failType">
					@Model.EmptyFieldText
				</p>
				<input 	name="SenderName"
					   	class="pop-out__input"
					   	type="text"
					   	placeholder="@Model.YourNamePlaceholderText"
		               	value="@Model.AuthUserName">


				<p class="	pop-out__error
							js-form-error
							js-form-error-failType">
					@Model.EmptyFieldText
				</p>
				<input 	name="SenderEmail"
					   	class="pop-out__input"
					   	type="text"
					   	placeholder="@Model.YourEmailPlaceholderText"
		               	value="@Model.AuthUserEmail">

				<p>
					<span class="pop-out__run-in">@Model.SubjectText</span> @Html.Raw(Model.AuthorName)
					<input type="hidden" name="ArticleTitle" value="@Model.AuthorName">
				</p>

				<p>
					<span class="pop-out__run-in">@Model.AddMessageText</span>
				</p>

				<textarea name="PersonalMessage" class="pop-out__input pop-out__textarea"></textarea>

				@*<input type="hidden" name="ArticleNumber" value="@Model.ArticleNumber">*@

				<div class="pop-out__form-actions-wrapper">
					<div class="dismiss-button" data-target-element=".js-pop-out__email-author">
                        <span class="highlight-link">@Model.CancelText</span>
					</div>
					<div class="sign-in__submit-wrapper">
						<button type="submit" class="button--filled click-utag"  data-info='{"event_name" : "toolbar_use", "toolbar_tool" : "email" }'>@Model.SendText</button>
					</div>
				</div>
			</form>

			<p class="pop-out__details u-italic">
				@Html.Raw(Model.NoticeText)
			</p>
		</div>

	</div>
</div>
