@model Informa.Web.ViewModels.PopOuts.IRegisterPopOutViewModel
<div class="pop-out js-pop-out__register js-register-user-container">
	<div class="pop-out__tab"></div>
	<div class="pop-out__internal">

		<form	class="pop-out__register form-pre-registration"
				data-on-submit="/Account/api/RegistrationApi/PreRegister/"
				data-forwarding-url="@( Model.RegisterUrl+"?"+Model.RegisterReturnUrlKey+"="+Model.RegisterReturnUrl )">

			<div class="dismiss-button" data-target-element=".js-pop-out__register">
				<svg class="dismiss-button__icon">
					<use xlink:href="/dist/img/svg-sprite.svg#x"></use>UsernamePublicRestriction
				</svg>
			</div>

			<h3 class="pop-out__register-header">@Model.RegisterText</h3>

			<input name="username"
				   class="pop-out__register-input header__hover-input js-register-username"
				   type="text"
				   placeholder="@Model.UsernamePlaceholderText">

			<p class="js-form-error js-form-error-UsernameRequirements pop-out__form-error"
			   style="display: none;">@Model.UsernameRequirementsErrorText</p>
			<p class="js-form-error js-form-error-UsernameCompetitorRestriction pop-out__form-error"
			   style="display: none;">@Model.UsernameCompetitorRestrictedDomainErrorText</p>
			<p class="js-form-error js-form-error-UsernamePublicRestriction pop-out__form-error"
			   style="display: none;">@Model.UsernamePublicRestrictedDomainErrorText</p>
			<p class="js-form-error js-form-error-UsernameExists pop-out__form-error"
			   style="display: none;">@Model.UsernameExistsErrorText</p>
			<p class="js-form-error js-form-error-error-general pop-out__form-error"
			   style="display: none;">@Model.GeneralErrorText</p>

			<button type="submit" class="pop-out__register-submit js-pre-register-user-submit">
				@Model.RegisterButtonText
			</button>

		</form>
	</div>
</div>
