@inherits CustomGlassView<Informa.Web.ViewModels.PopOuts.SaveSearchPopOutViewModel>

<div class="pop-out js-pop-out__save-search" ng-controller="EmailRssController as saveSearch">
    <div class="pop-out__tab"></div>
    <div class="pop-out__internal">
        <div class="pop-out__sign-in">
            <div class="dismiss-button" data-target-element=".js-pop-out__sign-in">
                <svg class="dismiss-button__icon">
                    <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                </svg>
            </div>
            @if (!Model.IsAuthenticated)
            {
                <div class="pop-out__show-hide--bordered-bottom js-login-container">
                    <h3 class="pop-out__register-header">@Html.Raw(Model.SignInText)</h3>
                    @Html.Partial("_SignInForm", Model.SignInViewModel)
                </div>
            }

            <h4 class="pop-out__header--tight">
                @Html.Raw(Model.TitleLabelText)
            </h4>

            <form class="form-save-search" data-on-submit="/api/SavedSearches">
                <input type="text"
                       name="Title"
                       class="pop-out__input pop-out__input--tight">
                <input type="hidden" name="Url" value="@Model.GlassModel._Url#{{currentLocation}}"/>

                <p class="pop-out__details">
                    @Html.Raw(Model.DescriptionText)
                </p>

                <div class="labeled-checkbox">
                    <input type="checkbox" id="AlertEnabled" name="AlertEnabled" data-checkbox-type="boolean" />
                    <label class="checkbox-label" for="AlertEnabled">
                        @Html.Raw(Model.EmailAlertLabelText)
                    </label>
                </div>

                <button type="submit" class="pop-out__sign-in-submit button--filled">
                    @if (Model.IsAuthenticated)
                    {
                        @Html.Raw(Model.ButtonLoggedInText)
                    }
                    else
                    {
                        @Html.Raw(Model.ButtonLoggedOutText)
                    }
                </button>
            </form>
        </div>
    </div>
</div>
