@* inherits CustomGlassView<TopicContainerViewModel> *@


<div class="pop-out js-pop-out__set-topic-alert">
    <div class="pop-out__tab"></div>
    <div class="pop-out__internal">
        <div class="pop-out__sign-in">
            <div class="dismiss-button" data-target-element=".js-pop-out__set-topic-alert">
                <svg class="dismiss-button__icon">
                    <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                </svg>
            </div>

            @*
            <form method="post"

                  class="@(Model.IsAuthenticated
                    ? "form-set-topic-alert"
                    : "form-topic-alert-login")"

                  data-on-submit="@(Model.IsAuthenticated
                    ? "/api/SavedSearches"
                    : "/Account/api/LoginWebUserApi/Login/")">
                    *@

            <form
                method="post"
                class="form-topic-alert"
                data-on-submit="/api/SavedSearches">

            @* * *
            If a user isn't signed in, display a modified version of the sign-in
            form. Submit button is removed, as the main submit button is at the
            bottom of the Save Search pop-out, not below the sign-in form itself.
            * * *
            @* @if (!Model.IsAuthenticated) { *@

                <h3 class="pop-out__register-header">
                    @* @Html.Raw(Model.SignInText) *@
                    Sign in to set a topic alert
                </h3>

                <div class="pop-out__show-hide--bordered-bottom js-login-container">

                    <div class="pop-out__form-error js-form-error js-form-error-general">
                        @* @Model.SignInViewModel.SignInInvalidText *@
                        Invalid sign-in
                    </div>

                    <input name="username"
                           class="pop-out__input header__hover-input"
                           @* placeholder="@Model.SignInViewModel.SignInUsernamePlaceholderText" *@
                           type="text">
                    <input name="password"
                           class="pop-out__input header__hover-input"
                           @* placeholder="@Model.SignInViewModel.SignInPasswordPlaceholderText" *@
                           type="password">

                    <span class="pop-out__form-actions pop-out__reset-password js-show-forgot-password">
                        @* @Model.SignInViewModel.SignInResetPasswordLinkText *@
                        Reset your password
                    </span>
                    <div class="pop-out__sign-in-remember-me">
                        <input name="persist" type="checkbox" data-checkbox-type="boolean">
                        @* @Model.SignInViewModel.SignInRememberMeText *@
                        Remember me
                    </div>
                </div>

            @* } * end IsAuthenticated  *@

            <div class="pop-out__save-search-container">

                <p>
                    Your alert for ***TITLE*** will be saved to your account - "Saved Searches and Alerts".
                </p>

                @* Topic Alert titles are set by authors *@
                <input
                    type="hidden"
                    name="Title"
                    class=""
                    value="@* * * TOPIC/SEARCH TITLE HERE * * *@">

                @* Email alerts are on by default for Topic Alerts *@
                <input
                    type="hidden"
                    id="AlertEnabled"
                    name="AlertEnabled"
                    value="checked">


                <button type="submit" class="pop-out__sign-in-submit button--filled">
                    @* @(Model.IsAuthenticated *@
                        @* ? @Html.Raw(Model.ButtonLoggedInText) *@
                        @* : @Html.Raw(Model.ButtonLoggedOutText)) *@
                        Button text
                </button>

            </div>

            </form>

            @* @if (!Model.IsAuthenticated) { *@

                <div class="pop-out__show-hide--bordered-top pop-out__forgot-password js-reset-password-container">

                    <form class="form-reset-password" data-on-submit="/Account/api/ResetPasswordApi/Generate/">
                        <div class="alert-success js-reset-password-success">
                            <svg class="alert__icon">
                                <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                            </svg>
                            <p>
                                @* @Model.SignInViewModel.ResetPasswordSuccessText *@
                            </p>
                        </div>

                        <div class="pop-out__sign-in-forgot-password-nested js-reset-password-request-form">
                            @* @Model.SignInViewModel.ResetPasswordBody *@
                            Reset yo password

                            <p class="pop-out__form-error js-form-error js-form-error-EmailRequirement">
                                @* @Model.SignInViewModel.ResetPasswordErrorEmailText *@
                            </p>
                            <p class="pop-out__form-error js-form-error js-form-error-general">
                                @* @Model.SignInViewModel.ResetPasswordErrorGeneralText *@
                            </p>

                            <input name="email"
                                   class="pop-out__input"
                                   type="text">
                                   @* placeholder="@Model.SignInViewModel.ResetPasswordEmailPlaceholderText" *@
                            <div class="pop-out__form-actions-wrapper">
                                <div></div>
                                <div class="sign-in__submit-wrapper">
                                    <button class="button--filled  click-utag" type="submit" data-info='{"event_name" : "reset-password"}'>
                                        @* @Model.SignInViewModel.ResetPasswordSubmitText *@
                                        Reset your password
                                    </button>
                                </div>
                            </div>
                        </div>
                        <p class="pop-out__details pop-out__details--inset u-italic u-centered">
                            @* @Model.SignInViewModel.ResetPasswordContactText *@
                            Contact us about resetting passwords if you want
                        </p>
                    </form>

                </div>
            @* } @* end IsAuthenticated *@

        </div> @* .pop-out__sign-in *
    </div> @* .pop-out__internal *@
</div> @* .pop-out *@
