@inherits CustomGlassView<Informa.Web.ViewModels.Emails.FeaturedArticleMultiColumnViewModel>
@using Informa.Library.Search.Utilities

@if (Model != null && Model.RenderingParameters != null && Model.RenderingParameters.Display_Option != null && !string.IsNullOrWhiteSpace(Model.RenderingParameters.Display_Option.Value))
{
    if (Model.RenderingParameters.Display_Option.Value == "FeaturedArticleFullRow")
    {
        <div class="article-wrapper" style="margin-bottom: 20px; clear: both;">
            @if (Model.GlassModel.ShowBackgroundColor && Model.Articles != null && Model.Articles.Any())
             {
                <div class="featured__article_wrapper gray-wrapper visible-desk" style="background-color:#f1f2f2;padding:20px;">
                    <div class="article-metadata" style="margin-bottom: 20px;">
                        <ul style="display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:0;padding-left:0;display: -webkit-inline-box;
                                                                                               display: -ms-inline-flexbox;
                                                                                               display: inline-flex;
                                                                                               -webkit-box-orient: horizontal;
                                                                                               -webkit-box-direction: normal;
                                                                                                   -ms-flex-direction: row;
                                                                                                       flex-direction: row;
                                                                                                  margin-bottom: 0;
                                                                                                  padding-left: 0;">
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                                  border-right: 1px solid #ccc;
                                                                                                  margin-right: 12px;
                                                                                                  margin-right: 0.75rem;
                                                                                                  margin-left: 0;
                                                                                                  padding-right: 12px;
                                                                                                  padding-right: 0.75rem;">
                                <time class="article-metadata__date">@Model.Articles[0].Actual_Publish_Date.ToString("dd MMM yyyy")</time>
                            </li>
                            @if (Model.Articles[0].Content_Type != null)
                            {
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                                      border-right: 1px solid #ccc;
                                                                                                      margin-right: 12px;
                                                                                                      margin-right: 0.75rem;
                                                                                                      margin-left: 0;
                                                                                                      padding-right: 12px;
                                                                                                      padding-right: 0.75rem;">

                                <h6 style="color:#231f20;text-transform:uppercase;font-size:15px;margin:0;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">@Model.Articles[0].Content_Type.Item_Name</h6>
                            </li>
                            }

                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                                    border-right: 1px solid #ccc;
                                                                                                    margin-right: 12px;
                                                                                                    margin-right: 0.75rem;
                                                                                                    margin-left: 0;
                                                                                                    padding-right: 12px;
                                                                                                    padding-right: 0.75rem;">
                                <span class="js-toggle-tooltip" data-tooltip-text="This article includes data.">
                                    <svg class="article-metadata__media-type" style="fill:#979797;height:24px;width:24px;vertical-align:middle;">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#chart">
                                        </use>
                                    </svg>
                                </span>
                            </li>
                            @if (Model.Articles[0] != null && Model.Articles[0].Taxonomies != null && Model.Articles[0].Taxonomies.Any())
                            {
                                if (Model.Articles[0].Taxonomies.ToList().Count > 2)
                                {
                                    foreach (var taxonomyItem in Model.Articles[0].Taxonomies.Take(2))
                                    {
                                        <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                                                      border-right: 1px solid #ccc;
                                                                                                                      margin-right: 12px;
                                                                                                                      margin-right: 0.75rem;
                                                                                                                      margin-left: 0;
                                                                                                                      padding-right: 12px;
                                                                                                                      padding-right: 0.75rem;">
                                            <a href="#" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">@taxonomyItem.Item_Name</a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    foreach (var taxonomyItem in Model.Articles[0].Taxonomies)
                                    {
                                        <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                                                      border-right: 1px solid #ccc;
                                                                                                                      margin-right: 12px;
                                                                                                                      margin-right: 0.75rem;
                                                                                                                      margin-left: 0;
                                                                                                                      padding-right: 12px;
                                                                                                                      padding-right: 0.75rem;">
                                            <a href="#" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">@taxonomyItem.Item_Name</a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <h3 style="font-size: 22px;font-family: Roboto Condensed Bold; color: #231f20;">
                        <a href="@Model.Articles[0]._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold;">@Model.Articles[0].Title</a>
                    </h3>
                    <div class="article-content">
                        @if (Model.Articles[0].Featured_Image_16_9 != null)
                        {
                        <img src="@Model.Articles[0].Featured_Image_16_9.Src" alt="" style="border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;float: left; margin-right: 10px;">
                        }
                        <div class="article-text" style="float:left;width:55%;">
                            <p class="author-by" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;font-family: 'Roboto Condensed Medium'; color: #58595b; font-size: 14px; font-weight: bold; margin-bottom: 0;">@Html.Raw(Model.Byline)</p>
                            <p style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;">@Model.Articles[0].Summary</p>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="featured__article_wrapper gray-wrapper visible-mob" style="background-color:#f1f2f2;padding: 20px;display:none;">
                    <img src="/dist/img/email-template/insight-article.jpg" alt="" style="border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;float: left; margin-right: 10px;">
                    <div class="article-metadata" style="margin-bottom: 20px;">
                        <ul style="display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:0;padding-left:0;display: -webkit-inline-box;
                                                                                               display: -ms-inline-flexbox;
                                                                                               display: inline-flex;
                                                                                               -webkit-box-orient: horizontal;
                                                                                               -webkit-box-direction: normal;
                                                                                                   -ms-flex-direction: row;
                                                                                                       flex-direction: row;
                                                                                                  margin-bottom: 0;
                                                                                                  padding-left: 0;">
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                                  border-right: 1px solid #ccc;
                                                                                                  margin-right: 12px;
                                                                                                  margin-right: 0.75rem;
                                                                                                  margin-left: 0;
                                                                                                  padding-right: 12px;
                                                                                                  padding-right: 0.75rem;">
                                <time class="article-metadata__date">@Model.Articles[0].Actual_Publish_Date.ToString("dd MMM yyyy")</time>
                            </li>
                            @if (Model.Articles[0].Content_Type != null)
                            {
                                <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                                      border-right: 1px solid #ccc;
                                                                                                      margin-right: 12px;
                                                                                                      margin-right: 0.75rem;
                                                                                                      margin-left: 0;
                                                                                                      padding-right: 12px;
                                                                                                      padding-right: 0.75rem;">
                                    <h6 style="color:#231f20;text-transform:uppercase;font-size:15px;margin:0;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">@Model.Articles[0].Content_Type.Item_Name</h6>
                                </li>
                            }
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;border:none;list-style: none;
                                                                                                  border-right: 1px solid #ccc;
                                                                                                  margin-right: 12px;
                                                                                                  margin-right: 0.75rem;
                                                                                                  margin-left: 0;
                                                                                                  padding-right: 12px;
                                                                                                  padding-right: 0.75rem;">
                                <span class="js-toggle-tooltip" data-tooltip-text="This article includes data.">
                                    <svg class="article-metadata__media-type" style="fill:#979797;height:24px;width:24px;vertical-align:middle;">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#chart">
                                        </use>
                                    </svg>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <h3 style="font-size: 22px;font-family: Roboto Condensed Bold; color: #231f20;">
                        <a href="@Model.Articles[0]._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold;">@Model.Articles[0].Title</a>
                    </h3>
                    <div class="article-content">
                        <div class="article-text" style="float:left;width:55%;width: 100%;">
                            <p class="author-by" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;font-family: 'Roboto Condensed Medium'; color: #58595b; font-size: 14px; font-weight: bold; margin-bottom: 0;">@Html.Raw(Model.Byline)</p>
                            <p style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;">@Editable(Model, m => m.Articles[0].Summary)</p>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="article-metadata" style="margin-bottom: 20px;">
                        <ul style="display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:0;padding-left:0;display: -webkit-inline-box;
                                                                                               display: -ms-inline-flexbox;
                                                                                               display: inline-flex;
                                                                                               -webkit-box-orient: horizontal;
                                                                                               -webkit-box-direction: normal;
                                                                                                   -ms-flex-direction: row;
                                                                                                       flex-direction: row;
                                                                                                  margin-bottom: 0;
                                                                                                  padding-left: 0;">
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                                  border-right: 1px solid #ccc;
                                                                                                  margin-right: 12px;
                                                                                                  margin-right: 0.75rem;
                                                                                                  margin-left: 0;
                                                                                                  padding-right: 12px;
                                                                                                  padding-right: 0.75rem;">
                                <a href="#" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">Deals</a>
                            </li>
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;border:none;list-style: none;
                                                                                                  border-right: 1px solid #ccc;
                                                                                                  margin-right: 12px;
                                                                                                  margin-right: 0.75rem;
                                                                                                  margin-left: 0;
                                                                                                  padding-right: 12px;
                                                                                                  padding-right: 0.75rem;">
                                <a href="#" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">Biosimilar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            else if(Model.Articles != null && Model.Articles.Any())
            {

                <div class="featured__article_wrapper visible-desk" style="padding:20px 10px;">
                    <div class="article-metadata" style="margin-bottom: 20px;">
                        <ul style="display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:0;padding-left:0;display: -webkit-inline-box;
																		   display: -ms-inline-flexbox;
																		   display: inline-flex;
																		   -webkit-box-orient: horizontal;
																		   -webkit-box-direction: normal;
																			   -ms-flex-direction: row;
																				   flex-direction: row;
																			  margin-bottom: 0;
																			  padding-left: 0;">
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
																			  border-right: 1px solid #ccc;
																			  margin-right: 12px;
																			  margin-right: 0.75rem;
																			  margin-left: 0;
																			  padding-right: 12px;
																			  padding-right: 0.75rem;">
                                <time class="article-metadata__date">@Model.Articles[0].Actual_Publish_Date.ToString("dd MMM yyyy")</time>
                            </li>
                            @if (Model.Articles[0].Content_Type != null)
                            {
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
																			      border-right: 1px solid #ccc;
																			      margin-right: 12px;
																			      margin-right: 0.75rem;
																			      margin-left: 0;
																			      padding-right: 12px;
																			      padding-right: 0.75rem;">
                                <h6 style="color:#231f20;text-transform:uppercase;font-size:15px;margin:0;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">@Model.Articles[0].Content_Type.Item_Name</h6>
                            </li>
                            }
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
																			  border-right: 1px solid #ccc;
																			  margin-right: 12px;
																			  margin-right: 0.75rem;
																			  margin-left: 0;
																			  padding-right: 12px;
																			  padding-right: 0.75rem;">
                                <span class="js-toggle-tooltip" data-tooltip-text="This article includes data.">
                                    <svg class="article-metadata__media-type" style="fill:#979797;height:24px;width:24px;vertical-align:middle;">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#chart">
                                        </use>
                                    </svg>
                                </span>
                            </li>
                            @if (Model.Articles[0] != null && Model.Articles[0].Taxonomies != null && Model.Articles[0].Taxonomies.ToList().Count > 2)
                            {
                                foreach (var taxonomyItem in Model.Articles[0].Taxonomies.Take(2))
                                {
                                    <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
																			                  border-right: 1px solid #ccc;
																			                  margin-right: 12px;
																			                  margin-right: 0.75rem;
																			                  margin-left: 0;
																			                  padding-right: 12px;
																			                  padding-right: 0.75rem;">
                                        <a href="#" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">@taxonomyItem.Item_Name</a>
                                    </li>
                                }
                            }
                            else
                            {
                                foreach (var taxonomyItem in Model.Articles[0].Taxonomies)
                                {
                                    <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
																			          border-right: 1px solid #ccc;
																			          margin-right: 12px;
																			          margin-right: 0.75rem;
																			          margin-left: 0;
																			          padding-right: 12px;
																			          padding-right: 0.75rem;">
                                        <a href="#" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">@taxonomyItem.Item_Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <h3 style="font-size: 22px;font-family: Roboto Condensed Bold; color: #231f20;">
                        <a href="@Model.Articles[0]._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold;">@Model.Articles[0].Title</a>
                    </h3>
                    <div class="article-content">
                        <div class="article-text" style="float:left;width:55%;width: 100%;">
                            <p style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;">@Editable(Model.Articles[0], m => m.Summary)</p>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="featured__article_wrapper visible-mob" style="padding:0 10px;display:none;">
                    <div class="article-metadata" style="margin-bottom: 20px;">
                        <ul style="display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:0;padding-left:0;display: -webkit-inline-box;
																		   display: -ms-inline-flexbox;
																		   display: inline-flex;
																		   -webkit-box-orient: horizontal;
																		   -webkit-box-direction: normal;
																			   -ms-flex-direction: row;
																				   flex-direction: row;
																			  margin-bottom: 0;
																			  padding-left: 0;">
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
																			  border-right: 1px solid #ccc;
																			  margin-right: 12px;
																			  margin-right: 0.75rem;
																			  margin-left: 0;
																			  padding-right: 12px;
																			  padding-right: 0.75rem;">
                                <time class="article-metadata__date">@Model.Articles[0].Actual_Publish_Date.ToString("dd MMM yyyy")</time>
                            </li>
                            @if (Model.Articles[0].Content_Type != null)
                            {
                                <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
																			      border-right: 1px solid #ccc;
																			      margin-right: 12px;
																			      margin-right: 0.75rem;
																			      margin-left: 0;
																			      padding-right: 12px;
																			      padding-right: 0.75rem;">
                                    <h6 style="color:#231f20;text-transform:uppercase;font-size:15px;margin:0;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">@Model.Articles[0].Content_Type.Item_Name</h6>
                                </li>
                            }
                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;border:none;list-style: none;
																			  border-right: 1px solid #ccc;
																			  margin-right: 12px;
																			  margin-right: 0.75rem;
																			  margin-left: 0;
																			  padding-right: 12px;
																			  padding-right: 0.75rem;">
                                <span class="js-toggle-tooltip" data-tooltip-text="This article includes data.">
                                    <svg class="article-metadata__media-type" style="fill:#979797;height:24px;width:24px;vertical-align:middle;">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#chart">
                                        </use>
                                    </svg>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <h3 style="font-size: 22px;font-family: Roboto Condensed Bold; color: #231f20;">
                        <a href="@Model.Articles[0]._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold;">@Model.Articles[0].Title</a>
                    </h3>
                    <div class="article-content">
                        <div class="article-text" style="float:left;width:55%;width: 100%;">
                            <p style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;">@Editable(Model.Articles[0], m => m.Summary)</p>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="article-metadata" style="margin-bottom: 20px;">
                        <ul style="display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:0;padding-left:0;display: -webkit-inline-box;
																		   display: -ms-inline-flexbox;
																		   display: inline-flex;
																		   -webkit-box-orient: horizontal;
																		   -webkit-box-direction: normal;
																			   -ms-flex-direction: row;
																				   flex-direction: row;
																			  margin-bottom: 0;
																			  padding-left: 0;">
                            @if (Model.Articles[0] != null && Model.Articles[0].Taxonomies != null && Model.Articles[0].Taxonomies.ToList().Count > 2)
                            {
                                foreach (var taxonomyItem in Model.Articles[0].Taxonomies.Take(2))
                                {
                                    <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
																			          border-right: 1px solid #ccc;
																			          margin-right: 12px;
																			          margin-right: 0.75rem;
																			          margin-left: 0;
																			          padding-right: 12px;
																			          padding-right: 0.75rem;">
                                        <a href="#" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">@taxonomyItem.Item_Name</a>
                                    </li>
                                }
                            }
                            else
                            {
                                foreach (var taxonomyItem in Model.Articles[0].Taxonomies)
                                {
                                    <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
																			          border-right: 1px solid #ccc;
																			          margin-right: 12px;
																			          margin-right: 0.75rem;
																			          margin-left: 0;
																			          padding-right: 12px;
																			          padding-right: 0.75rem;">
                                        <a href="#" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">Deals</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    }

    if (Model.RenderingParameters.Display_Option.Value == "FeaturedArticleHalfRow" && Model.Articles != null && Model.Articles.Any())
    {
        <div class="wd-desk-50" style="width:50%;float:left;height: 410px; margin-bottom: 20px; clear: both;">
            @foreach (var article in Model.Articles)
            {
                if (article != null)
                {
                    <div style="padding: 0 10px;">
                        <div style="border-bottom: 1px solid #d1d3d4">
                            <div class="article-metadata" style="margin-bottom: 20px;">
                                <ul style="display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:0;padding-left:0;display: -webkit-inline-box;
                                                                                display: -ms-inline-flexbox;
                                                                                display: inline-flex;
                                                                                -webkit-box-orient: horizontal;
                                                                                -webkit-box-direction: normal;
                                                                                    -ms-flex-direction: row;
                                                                                        flex-direction: row;
                                                                                    margin-bottom: 0;
                                                                                    padding-left: 0;">
                                    <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                    border-right: 1px solid #ccc;
                                                                                    margin-right: 12px;
                                                                                    margin-right: 0.75rem;
                                                                                    margin-left: 0;
                                                                                    padding-right: 12px;
                                                                                    padding-right: 0.75rem;">
                                        <time class="article-metadata__date">@article.Actual_Publish_Date.ToString("dd MMM yyyy")</time>
                                    </li>
                                    @if (article.Content_Type != null)
                                    {
                                        <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;border:none;list-style: none;
                                                                                        border-right: 1px solid #ccc;
                                                                                        margin-right: 12px;
                                                                                        margin-right: 0.75rem;
                                                                                        margin-left: 0;
                                                                                        padding-right: 12px;
                                                                                        padding-right: 0.75rem;">
                                            <h6 style="color:#231f20;text-transform:uppercase;font-size:15px;margin:0;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">@article.Content_Type.Item_Name</h6>
                                        </li>
                                    }
                                </ul>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(article.Title))
                            {
                                <h3 style="font-size: 22px;font-family: Roboto Condensed Bold; margin: 10px 0;">
                                    <a href="@article._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold;">@article.Title</a>
                                </h3>
                            }
                            <div class="article-metadata" style="margin-bottom: 20px;">
                                <ul style="display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:0;padding-left:0;display: -webkit-inline-box;
                                                                                display: -ms-inline-flexbox;
                                                                                display: inline-flex;
                                                                                -webkit-box-orient: horizontal;
                                                                                -webkit-box-direction: normal;
                                                                                    -ms-flex-direction: row;
                                                                                        flex-direction: row;
                                                                                    margin-bottom: 0;
                                                                                    padding-left: 0;">
                                    @if (article.Taxonomies != null)
                                    {
                                        if (article.Taxonomies.ToList().Count > 2)
                                        {
                                            foreach (var taxonomyItem in article.Taxonomies.Take(2))
                                            {
                                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                            border-right: 1px solid #ccc;
                                                                                            margin-right: 12px;
                                                                                            margin-right: 0.75rem;
                                                                                            margin-left: 0;
                                                                                            padding-right: 12px;
                                                                                            padding-right: 0.75rem;">
                                                <a href="#" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">@taxonomyItem.Item_Name</a>
                                            </li>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var taxonomyItem in article.Taxonomies)
                                            {
                                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                            border-right: 1px solid #ccc;
                                                                                            margin-right: 12px;
                                                                                            margin-right: 0.75rem;
                                                                                            margin-left: 0;
                                                                                            padding-right: 12px;
                                                                                            padding-right: 0.75rem;">
                                                <a href="#" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">@taxonomyItem.Item_Name</a>
                                            </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }

    if (Model.RenderingParameters.Display_Option.Value == "FeaturedArticleThreeRows" && Model.Articles != null && Model.Articles.Any())
    {
        <div class="wd-desk-50" style="width:50%;float:left;height: 410px ;">
            <div style="background-color: #f1f2f2; padding: 10px; height: 100%;">
                <strong>[Topic]</strong>
                @foreach (var article in Model.Articles)
                {
                    if (article != null)
                    {
                <div style="border-bottom: 1px solid #d1d3d4">
                    <h3 style="font-size: 22px;font-family: Roboto Condensed Bold; margin: 10px 0;">
                        <a href="@article._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold;">@article.Title</a>
                    </h3>
                </div>
                    }
                }
            </div>
        </div>
        <div style="clear: both;"></div>
    }

    if (Model.RenderingParameters.Display_Option.Value == "FeaturedArticleTwoColumn" && Model.Articles != null && Model.Articles.Any())
    {
        <div class="article-wrapper" style="margin-bottom: 20px; clear: both; height: 410px;">
            @foreach (var article in Model.Articles)
            {
                if (article != null)
                {
            <div class="wd-desk-50" style="width:50%;float:left;height: 100%;">
                <div style="padding: 0 10px;">
                    <div style="border-bottom: 1px solid #d1d3d4">
                        <div class="article-metadata" style="margin-bottom: 20px;">
                            <ul style="display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:0;padding-left:0;display: -webkit-inline-box;
                                                                            display: -ms-inline-flexbox;
                                                                            display: inline-flex;
                                                                            -webkit-box-orient: horizontal;
                                                                            -webkit-box-direction: normal;
                                                                                -ms-flex-direction: row;
                                                                                    flex-direction: row;
                                                                                margin-bottom: 0;
                                                                                padding-left: 0;">
                                <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                border-right: 1px solid #ccc;
                                                                                margin-right: 12px;
                                                                                margin-right: 0.75rem;
                                                                                margin-left: 0;
                                                                                padding-right: 12px;
                                                                                padding-right: 0.75rem;">
                                    <time class="article-metadata__date">@article.Actual_Publish_Date.ToString("dd MMM yyyy")</time>
                                </li>
                                <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                border-right: 1px solid #ccc;
                                                                                margin-right: 12px;
                                                                                margin-right: 0.75rem;
                                                                                margin-left: 0;
                                                                                padding-right: 12px;
                                                                                padding-right: 0.75rem;">
                                    @if (article.Content_Type != null)
                                    {
                                            <h6 style="color:#231f20;text-transform:uppercase;font-size:15px;margin:0;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">@article.Content_Type.Item_Name</h6>
                                    }
                                </li>
                                <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;border:none;list-style: none;
                                                                                border-right: 1px solid #ccc;
                                                                                margin-right: 12px;
                                                                                margin-right: 0.75rem;
                                                                                margin-left: 0;
                                                                                padding-right: 12px;
                                                                                padding-right: 0.75rem;">
                                    <span class="js-toggle-tooltip" data-tooltip-text="This article includes data.">
                                        <!--<svg class="article-metadata__media-type" style="fill:#979797;height:24px;width:24px;vertical-align:middle;">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#chart">
                                            </use>
                                        </svg>-->
                                        <img class="" src="" />
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <h3 style="font-size: 22px;font-family: Roboto Condensed Bold; margin: 10px 0;">
                            <a href="@article._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold;">@article.Title</a>
                        </h3>
                        <p style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;">@article.Summary</p>
                        <div class="article-metadata" style="margin-bottom: 20px;">
                            <ul style="display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:0;padding-left:0;display: -webkit-inline-box;
                                                                            display: -ms-inline-flexbox;
                                                                            display: inline-flex;
                                                                            -webkit-box-orient: horizontal;
                                                                            -webkit-box-direction: normal;
                                                                                -ms-flex-direction: row;
                                                                                    flex-direction: row;
                                                                                margin-bottom: 0;
                                                                                padding-left: 0;">
                                @if (article.Taxonomies != null)
                                {
                                    if (article.Taxonomies.ToList().Count > 2)
                                    {
                                        foreach (var taxonomyItem in article.Taxonomies.Take(2))
                                        {
                                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                    border-right: 1px solid #ccc;
                                                                                    margin-right: 12px;
                                                                                    margin-right: 0.75rem;
                                                                                    margin-left: 0;
                                                                                    padding-right: 12px;
                                                                                    padding-right: 0.75rem;">
                                                <a style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;" href="@SearchTaxonomyUtil.GetSearchUrl(taxonomyItem)">@taxonomyItem.Item_Name</a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var taxonomyItem in article.Taxonomies)
                                        {
                                            <li style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;border-right:1px solid #ccc;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;
                                                                                    border-right: 1px solid #ccc;
                                                                                    margin-right: 12px;
                                                                                    margin-right: 0.75rem;
                                                                                    margin-left: 0;
                                                                                    padding-right: 12px;
                                                                                    padding-right: 0.75rem;">
                                                <a style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;" href="@SearchTaxonomyUtil.GetSearchUrl(taxonomyItem)">@taxonomyItem.Item_Name</a>
                                            </li>
                                        }
                                    }

                                }
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                }
            }
        </div>
    }

}
