@inherits CustomGlassView<Informa.Web.ViewModels.Emails.FeaturedArticleMultiColumnViewModel>
@using Informa.Library.Search.Utilities
@using Informa.Library.Utilities.References
@using Informa.Web.ViewModels.Emails


@if (Model != null && Model.RenderingParameters != null && Model.RenderingParameters.Display_Option != null && !string.IsNullOrWhiteSpace(Model.RenderingParameters.Display_Option.Value))
{

    if (Model.RenderingParameters.Display_Option.Value == Constants.ArticleDisplayModeTypes.FeaturedArticleFullRow)
    {
        <!--100% Width full tile with grey background-->
        <table>
            <tr>
                &nbsp;
            </tr>
        </table>
        <table style="background-color:#@GetBackgroundColor(Model); border-collapse: separate;border-spacing: 10px;">
            @if (Model != null && Model.GlassModel != null && !Model.GlassModel.DisableTagLine && Model.Articles.ToList().Count > 0)
            {
                <tr>
                    <td>
                        <table>
                            <tr>
                                @if (Model.Articles[0].Actual_Publish_Date != null)
                                {
                                    <td align="left" style="width: 93px;">
                                        <time class="article-metadata__date">@Model.Articles[0].Actual_Publish_Date.ToString("dd MMM yyyy")</time>
                                        <span class="vertical-separator">|</span>
                                    </td>
                                }
                                @if (Model.Articles[0].Content_Type != null)
                                {
                                    <td>
                                        <h6 style="margin: 0; font-size: 16px;">@Model.Articles[0].Content_Type.Item_Name<span class="vertical-separator">|</span></h6>
                                    </td>
                                }
                                @if (Model.Articles != null && Model.Articles.Any() && Model.Articles[0].Media_Type != null &&
                                    Model.Articles[0].Media_Type.Media_Type_Icon != null && !string.IsNullOrWhiteSpace(Model.Articles[0].Media_Type.Media_Type_Icon.Src))
                                {
                                    <td style="width: 50px;">
                                        <span class="js-toggle-tooltip" data-tooltip-text="This article includes data.">
                                            <img class="" src="@Model.Articles[0].Media_Type.Media_Type_Icon.Src" style="width: 25px;" />
                                        </span>
                                        <span class="vertical-separator">|</span>
                                    </td>
                                }
                                @if (Model.Articles[0] != null && Model.Articles[0].Taxonomies != null && Model.Articles[0].Taxonomies.Any())
                                {
                                    if (Model.Articles[0].Taxonomies.ToList().Count > 2)
                                    {
                                        foreach (var taxonomyItem in Model.Articles[0].Taxonomies.Take(2))
                                        {
                                            <td align="center">
                                                <a href="@SearchTaxonomyUtil.GetSearchUrl(taxonomyItem)" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">@taxonomyItem.Item_Name<span class="vertical-separator">|</span></a>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var taxonomyItem in Model.Articles[0].Taxonomies)
                                        {
                                            <td align="center" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;">
                                                <a href="@SearchTaxonomyUtil.GetSearchUrl(taxonomyItem)" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #be1e2d; text-decoration: none;">@taxonomyItem.Item_Name</a>
                                                <span class="vertical-separator">|</span>
                                            </td>
                                        }
                                    }
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            }

            <tr>
                <td colspan="6">
                    <h3 style="font-size: 22px;font-family: Roboto Condensed Bold; color: #231f20; margin: 0;">
                        <a href="@Model.Articles[0]._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold;">@Model.Articles[0].Title</a>
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <table width="100%">
                        <tr>
                            @if (Model.Articles[0].Featured_Image_16_9 != null)
                            {
                                <td rowspan="2"><a href="@Model.Articles[0]._Url"><img src="@Model.Articles[0].Featured_Image_16_9.Src" /></a></td>
                            }
                            @if (Model.GlassModel.ShowBackgroundColor && !Model.GlassModel.HideAuthorByLine)
                            {
                                <td style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;font-family: 'Roboto Condensed Medium'; color: #58595b; font-size: 14px; font-weight: bold; margin-bottom: 0;">@Html.Raw(Model.Byline)</td>
                            }
                        </tr>
                        <tr>
                            <td style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;">@((Model.ShortDescrpitons != null && !string.IsNullOrWhiteSpace(Model.ShortDescrpitons[0])) ? Editable(Model, m => m.ShortDescrpitons[0]) : Editable(Model, m => m.Articles[0].Summary))</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                &nbsp;
            </tr>
        </table>

    }
    if (Model.Articles != null && Model.Articles.Any())
    {
       
                    if (Model.RenderingParameters.Display_Option.Value == Constants.ArticleDisplayModeTypes.FeaturedArticleHalfRow)
                    {
                     @Html.Raw(GetStartTag())
                <td width="50%" align="top">
                    <table style="width: 100%; float: left; height: 280px;">
                        <tbody>
                            <tr>
                                <td>
                                    @foreach (var article in Model.Articles)
                                    {
                                        if (article != null)
                                        {
                                    <table style="border-bottom: 1px solid #ccc; border-collapse: separate; border-spacing: 10px;">
                                        <tbody>
                                            @if (Model.GlassModel != null && !Model.GlassModel.DisableTagLine)
                                            {
                                    <tr>
                                        <td>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        @if (article.Actual_Publish_Date != null)
                                                        {
                                                        <td>
                                                            @article.Actual_Publish_Date.ToString("dd MMM yyyy")
                                                            <span class="vertical-separator">|</span>
                                                        </td>
                                                        }
                                                        @if (Model.Articles[0].Content_Type != null)
                                                        {
                                                        <td style="font-weight: bold;  padding-right: 10px;">
                                                            @Model.Articles[0].Content_Type.Item_Name
                                                        </td>
                                                        }
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                            }
                                            <tr>
                                                <td>
                                                    <h3 style="margin: 0;">
                                                        <a href="@article._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold; font-size: 22px; font-family: Roboto Condensed Bold;">@article.Title</a>
                                                    </h3>
                                                </td>
                                            </tr>

                                            @if (Model.GlassModel != null && !Model.GlassModel.DisableMetaTags)
                                            {
                                    <tr>
                                        <td>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        @if (article.Taxonomies != null)
                                                        {
                                                            if (article.Taxonomies.ToList().Count > 2)
                                                            {
                                                                foreach (var taxonomyItem in article.Taxonomies.Take(2))
                                                                {
                                                        <td>
                                                            <a style="color:#be1e2d; text-decoration:none;" href="@SearchTaxonomyUtil.GetSearchUrl(taxonomyItem)">@taxonomyItem.Item_Name</a>
                                                            <span class="vertical-separator">|</span>
                                                        </td>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                foreach (var taxonomyItem in article.Taxonomies)
                                                                {
                                                        <td>
                                                            <a style="color:#be1e2d; text-decoration:none;" href="@SearchTaxonomyUtil.GetSearchUrl(taxonomyItem)">@taxonomyItem.Item_Name</a>
                                                            <span class="vertical-separator">|</span>
                                                        </td>
                                                                }
                                                            }
                                                        }
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                            }

                                        </tbody>
                                    </table>
                                        }
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                    }
                    
                    if (Model.RenderingParameters.Display_Option.Value == Constants.ArticleDisplayModeTypes.FeaturedArticleThreeRows)
                    {
                       
                <td width="50%" align="top">
                    <table style="width: 100%; float: left; height: 280px; background: #f1f2f2;">
                        <tbody>
                            <tr>
                                <td valign="top">
                                    <table style="background: #f1f2f2; border-collapse: separate; border-spacing: 10px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @foreach (var article in Model.Articles)
                                                    {
                                                        if (article != null)
                                                        {
                                                            <table style="border-bottom: 1px solid #ccc;">
                                                                <tr>
                                                                    <td>
                                                                        <h3>
                                                                            <a href="@article._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold; font-size: 22px; font-family: Roboto Condensed Bold;">@article.Title</a>
                                                                        </h3>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                @Html.Raw(GetEndTag())
                    }
          
    }
    if (Model.RenderingParameters.Display_Option.Value == Constants.ArticleDisplayModeTypes.FeaturedArticleTwoColumn && Model.Articles != null && Model.Articles.Any())
    {
        int index = 0;
        <table width="100%" style="border-bottom: 1px solid #ccc;">
            <tbody>
                <tr>
                    @foreach (var article in Model.Articles)
                    {
                        if (article != null && index <= 2)
                        {
                            <td valign="top" style="width: 50%;">
                                <table style="border-collapse: separate; border-spacing: 10px;">
                                    <tbody>
                                        @if (Model.GlassModel != null && !Model.GlassModel.DisableTagLine)
                                        {
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                @if (article.Actual_Publish_Date != null)
                                                                {
                                                                    <td>
                                                                        @article.Actual_Publish_Date.ToString("dd MMM yyyy")
                                                                        <span class="vertical-separator">|</span>
                                                                    </td>
                                                                }
                                                                @if (article.Content_Type != null)
                                                                {
                                                                    <td style="font-weight: bold;">
                                                                        @article.Content_Type.Item_Name
                                                                        <span class="vertical-separator">|</span>
                                                                    </td>
                                                                }
                                                                @if (article.Media_Type != null && article.Media_Type.Media_Type_Icon != null &&
                                                                    !string.IsNullOrWhiteSpace(article.Media_Type.Media_Type_Icon.Src))
                                                                {
                                                                    <td align="center" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;list-style:none;-ms-flex-item-align:center;align-self:center;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;margin-right:12px;margin-right:0.75rem;margin-left:0;padding-right:12px;padding-right:0.75rem;position:relative;list-style: none;">
                                                                        <span class="js-toggle-tooltip" data-tooltip-text="This article includes data.">
                                                                            <img class="" src="@article.Media_Type.Media_Type_Icon.Src" style="width: 25px;" />
                                                                        </span>
                                                                    </td>
                                                                }
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td>
                                                <h3 style="margin: 0;">
                                                    <a href="@article._Url" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #231f20; font-weight: bold; font-size: 22px; font-family: Roboto Condensed Bold;">@article.Title</a>
                                                </h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="font-family: Roboto Condensed Bold;">@((Model.ShortDescrpitons != null && !string.IsNullOrWhiteSpace(Model.ShortDescrpitons[index])) ? Editable(Model, m => m.ShortDescrpitons[index]) : Editable(article, m => m.Summary))</p>
                                            </td>
                                        </tr>

                                        @if (Model.GlassModel != null && !Model.GlassModel.DisableMetaTags)
                                        {
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                @if (article.Taxonomies != null)
                                                                {
                                                                    if (article.Taxonomies.ToList().Count > 2)
                                                                    {
                                                                        foreach (var taxonomyItem in article.Taxonomies.Take(2))
                                                                        {
                                                                            <td>
                                                                                <a style="color:#be1e2d; text-decoration:none;" href="@SearchTaxonomyUtil.GetSearchUrl(taxonomyItem)">@taxonomyItem.Item_Name</a>
                                                                                <span class="vertical-separator">|</span>
                                                                            </td>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        foreach (var taxonomyItem in article.Taxonomies)
                                                                        {
                                                                            <td>
                                                                                <a style="color:#be1e2d; text-decoration:none;" href="@SearchTaxonomyUtil.GetSearchUrl(taxonomyItem)">@taxonomyItem.Item_Name</a>
                                                                            </td>
                                                                        }
                                                                    }
                                                                }
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </td>
                            index++;
                        }
                    }
                </tr>
            </tbody>
        </table>
    }

}

@functions
{
    public string GetBackgroundColor(FeaturedArticleMultiColumnViewModel model)
    {
        if (model.GlassModel.ShowBackgroundColor)
            return "f1f2f2";
        else
            return "ffffff";
    }

    public string GetStartTag()
    {
        return @"<table width='100%'><tr>";
    }

    public string GetEndTag()
    {
        return "</tr></table>";
    }
}
