@inherits CustomGlassView<Informa.Web.ViewModels.Emails.NewsletterGreetingViewModel>

<tr>
    <td align="center" valign="top" id="templateBody" style="background:#FFFFFF none no-repeat center/cover;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;">
        <!--[if gte mso 9]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
        <tr>
        <td align="center" valign="top" width="600" style="width:600px;">
        <![endif]-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer daily-alert" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; max-width: 600px !important;">
            <tr>
                <td valign="top" class="bodyContainer grayBg" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="daily-alert__cell" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                                    <!--[if mso]>
                                    <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                    <tr>
                                    <![endif]-->
                                    <!--[if mso]>
                                    <td valign="top" width="600" style="width:600px;">
                                    <![endif]-->
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width: 100%; min-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" width="100%" class="mcnTextContentContainer">
                                        <tbody>
                                            <tr>

                                                <td valign="top" class="mcnTextContent" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word; font-size: 16px; line-height: 150%; text-align: center;">
                                                    <h2 class="caps-header" style="text-transform: uppercase;font-size: 20px;font-weight: bold;text-align: left;margin-bottom: 8px;font-family: Georgia, serif; color: #000000; text-transform: uppercase;">@Editable(Model, m => m.GlassModel.Title)</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
												@if(Model.GlassModel != null && Model.GlassModel.Image != null && !string.IsNullOrWhiteSpace(Model.GlassModel.Image.Src))
												{
                                                    <img src="@(Model.GlassModel.Image?.Src)" width="200" height="110" style="float: left; padding-right: 15px; padding-bottom: 10px;" class="newsLetImg mcnImage" />
												}
                                                    <div>
                                                        <p class="daily-alert-body" style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;font-family: Roboto, Georgia, serif;font-size: 14px;line-height: 26px;margin-top: 0;padding-top: 0;color: #777777;margin-bottom: 0;text-align: left">
                                                            <strong style="color: #000000;">Hi #FirstName#,</strong>
                                                        </p>
                                                        <p style="padding: 0; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;  font-family: Georgia, serif; font-size: 14px; line-height: 150%; color: #777777;">@Editable(Model, m => m.GlassModel.Summary)</p>
                                                    </div>
                                                </td>
                                            </tr>
											@if(Model.GlassModel != null && Model.GlassModel.Download_Link != null && !string.IsNullOrWhiteSpace(Model.GlassModel.Download_Link?.Text))
											{
												<tr>
													<td>
														<div class="download-link" style="text-align: center;">
															<a href="@(Model.GlassModel.Download_Link?.Url)" style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background: #ffffff;display: inline-block;padding: 10px 20px;margin-top: 20px;color: #000000;font-weight: bold;border: 1px solid #fbb040; text-decoration: none;">@(Model.GlassModel.Download_Link?.Text)</a>
														</div>
													</td>
												</tr>
											}
                                        </tbody>
                                    </table>
                                    <!--[if mso]>
                                    </td>
                                    <![endif]-->
                                    <!--[if mso]>
                                    </tr>
                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <!--[if gte mso 9]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </td>
</tr>
<tr><td height="15"></td></tr>
