@inherits CustomGlassView<Informa.Web.ViewModels.Emails.NewsletterGreetingViewModel>

<table class="daily-alert" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background-color:#eee;margin-bottom:24px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #eee;margin-bottom: 24px;">
    <tbody>
        <tr>
            <td class="daily-alert__cell" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;padding-top:16px;padding-left:24px;padding-right:24px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;padding-bottom: 16px;padding-top: 16px;padding-left: 24px;padding-right: 24px;">
                <div class="caps-header" style="text-transform:uppercase;font-size:20px;font-weight:bold;text-align:center;margin-bottom:8px;text-transform: uppercase;font-size: 20px;font-weight: bold;text-align: left;margin-bottom: 8px; font-family: Roboto Condensed;">
                    @Editable(Model, m =>m.GreetingTitle)
                </div>
                <div class="caps-body">
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td> 
                                <div class="one-third layout-padded-right" style="float: left;" >  								
								<img src="@Model.ImagePath" /></div>
                         
                                <div>
                                    <p class="daily-alert-body" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;font-size:16px;color:#777;margin-bottom:0;text-align:center;line-height:26px;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Roboto, Georgia, serif;font-size: 14px;line-height: 26px;margin-top: 0;padding-top: 0;color: #777;margin-bottom: 0;text-align: left;">
                                        <strong style="color: #000;">Hi #FirstName#,</strong>

                                    </p>
                                    <p class="daily-alert-body" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;display:block;font-family:Myriad Pro Regular;font-size:14px;line-height:150%;margin-top:0;padding-top:0;font-size:16px;color:#777;margin-bottom:0;text-align:center;line-height:26px;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Roboto, Georgia, serif;font-size: 14px;line-height: 26px;margin-top: 0;padding-top: 0;color: #777;margin-bottom: 0;text-align: left;">@Editable(Model, m => m.GreetingSummary)</p>
                                </div>
                            </td>
                        </tr>
                    </table>	
						
                </div>
                <div class="download-link" style="text-align: center;">
                    <a href="@Model.DownloadLinkUrl" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background:#fff;display:inline-block;padding:10px 20px;margin-top:20px;color:#000;font-weight:bold;border:1px solid #fbb040;">@Model.DownloadLinkText</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
