@inherits CustomGlassView<AdViewModel>
@{ Model.Init(); }

@if (IsInEditingMode && Model.IsEditable)
{
	<div>
		<span>Slot ID:</span> @Editable(Model.AdComponentModel, x => x.Slot_ID)<br />
		<span>Zone ID:</span> @Editable(Model.AdComponentModel, x => x.Zone)<br />
	</div>
}

@if (Model.IsValidLeaderboardAd)
{
    <div class="article-preview__ad advertising--leaderboard">
        <span class="advertising__label">@Model.AdvertisementText</span>
        <script>
            OAS_AD('@Model.LeaderboardSlotId', '@Model.LeaderboardAdZone');
        </script>
    </div>
}