@inherits CustomGlassView<AdViewModel>
@{ Model.Init(); }

@if (IsInEditingMode && Model.IsEditable)
{
    @Editable(Model.AdComponentModel, x => x.Slot_ID)
    @Editable(Model.AdComponentModel, x => x.Zone)
}
<!-- I'm an edit -->
@if (Model.IsValidRectangularAd)
{
    <section class="article-preview article-preview--small">
        <div class="advertising advertising">
            <span class="advertising__label">@Model.AdvertisementText</span>
            <script>
                OAS_AD('@Model.RectangularSlotId', '@Model.RectangularAdZone');
            </script>
        </div>
    </section>
}
