@model Informa.Web.Areas.Article.Models.Article.LatestPublishedStories.LatestPublishedStory

<div class="latestPublishedStoriesSection rolling-stream">
    <h2>@Model.LatestStoriesComponentTitle</h2>
    <div class="rolling-stream-wrapper">
        <div id="scrollbar-container">
            <div id="scrollbar"></div>
        </div>
        <div id="content">
            @if (Model.News != null && Model.News.Any())
            {

                foreach (var listable in Model.News)
                {
                    <div class="rolling-stream-article clearfix">
                        <h5>
                            <a class="click-utag" href="@listable.LinkableUrl">@listable.ListableTitle</a>
                            @if (Model.IsDisplayDate)
                    {
                        var dateDiff = DateTime.Now - listable.ListableDate;
                        if (dateDiff.TotalMinutes < 60)
                        {
                            var datelbl = dateDiff.Minutes + " min ago";
                                    <span class="article-related-content__date">@datelbl</span>
                                }
                                else if (dateDiff.TotalHours < 24)
                                {
                                    var datelbl = dateDiff.Hours + " hours ago";
                                    <span class="article-related-content__date">@datelbl</span>
                                }
                                else
                                {
                                    <span class="article-related-content__date">@listable.ListableDate.ToString("dd MMM yyyy")</span>
                                }
                            }

                        </h5>
                    </div>
                }
            }
        </div>
    </div>
</div>