@model Informa.Web.ViewModels.Casualty.CasualtyReportViewModel
@if (Model.IsUserAuthenticated)
{
    if (!string.IsNullOrEmpty(Model.jsonCasualtyData))
    {
        <script type="text/javascript">
            var jsonCasualtyListing = Model.jsonCasualtyData;
        </script>
    }
    else
    {
        <script type="text/javascript">
            var jsonCasualtyListing = [{
                "10-01-2017": {
                    "casualtymarine": {
                        "casualtytitle": "MARINE-0",
                        "casualtyData": [
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "22",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          },
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "23",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          }
                        ]
                    },
                    "casualtyseizures": {
                        "casualtytitle": "SEIZURES-0",
                        "casualtyData": [
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "24",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          },
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "25",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          }
                        ]
                    }
                },
                "09-01-2017": {
                    "casualtymarine": {
                        "casualtytitle": "MARINE-1",
                        "casualtyData": [
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "22",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          },
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "23",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          }
                        ]
                    },
                    "casualtyseizures": {
                        "casualtytitle": "SEIZURES-1",
                        "casualtyData": [
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "24",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          },
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "25",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          }
                        ]
                    }
                },
                "08-01-2017": {
                    "casualtymarine": {
                        "casualtytitle": "MARINE-2",
                        "casualtyData": [
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "22",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          },
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "23",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          }
                        ]
                    },
                    "casualtyseizures": {
                        "casualtytitle": "SEIZURES-2",
                        "casualtyData": [
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "24",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          },
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "25",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          }
                        ]
                    }
                },
                "07-01-2017": {
                    "casualtymarine": {
                        "casualtytitle": "MARINE-3",
                        "casualtyData": [
            {
                "Title": "APL DENVER (Gibraltar)",
                "incidentId": "22",
                "Date of Incident": "03.01.2017",
                "Area": "South China, Indo China, Indonesia and Philippines"
            },
            {
                "Title": "APL DENVER (Gibraltar)",
                "incidentId": "23",
                "Date of Incident": "03.01.2017",
                "Area": "South China, Indo China, Indonesia and Philippines"
            }
                        ]
                    },
                    "casualtyseizures": {
                        "casualtytitle": "SEIZURES-3",
                        "casualtyData": [
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "24",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          },
                          {
                              "Title": "APL DENVER (Gibraltar)",
                              "incidentId": "25",
                              "Date of Incident": "03.01.2017",
                              "Area": "South China, Indo China, Indonesia and Philippines"
                          }
                        ]
                    }
                }
            }]
        </script>
    }
    <input type="hidden" id="casualtyDetailUrl" name="casualtyDetailUrl" value="@Model.CasualtyDetailPageUrl" />
    <div class="small_table">
        <div class="table-responsive">
            <h5 class="secondary_heading">@Model.Title</h5>
            <hr />
            <div class="ll-casualty-form">
                <div class="form-control">
                    <label for="relDate" style="float: left;">@Model.FilterByDateDropdownTitle</label>
                    @Html.DropDownList("FilterByDateDropDown", Model.FilterByDateDropdownValues, new { Id = "relDate", @class = "common-field inline" })
                </div>
                <div class="form-control jumpToSection">
                    <label for="jumpTo">@Model.FilterBySectionDropdownTitle</label>
                </div>
                <table class="table" id="casualty-listing-table"></table>
            </div>
        </div>
    </div>
}
else
{
    <div class="article-call-to-action">
        @{
            Html.RenderPartial("/Views/Shared/Components/DataTools/DataTollUserCallToAction.cshtml", Model.CallToActionViewModel);
        }
    </div>
            }
