@model Informa.Web.ViewModels.Casualty.MarketDataTableWithDatasourceViewModel
@using Informa.Library.Utilities.References

@if (Model != null && Model.RenderingParameters != null && Model.RenderingParameters.TableType != null && !string.IsNullOrWhiteSpace(Model.RenderingParameters.TableType.Value))
{
    if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation1)
    {
        <script type="text/javascript">
            var dateOptions=@Html.Raw(Model.jsonDropdownData);
            var jsonTableData=@Html.Raw(Model.jsonTableData);
        </script>

        <div class="small_table">
            <div class="table-responsive" id="tanker-fixtures">
                <h2>@Model.PageTitle</h2>
                <h3 class="lli-brand-head-wide-trans">@Model.TableTitle</h3>
                <hr />

                <div class="lli-brand-container shallow-bottom">
                    <div class="lli-brand-box">
                        @Model.TableSubTitle
                        <fieldset>
                            <div class="form-control">
                                <label for="selectDay">Select a day: </label>
                                <div class="select-field">
                                    @*@Html.DropDownList("selectDay", Model.PopulateByAreaDropdown)*@
                                    <select id="selectDay"></select>
                                </div>
                            </div>
                            <div class="dataProImg">
                                <span>@Model.DataProvider</span>
                                @if (!string.IsNullOrEmpty(Model.ProviderLogo?.Src))
                                {
                                    <img src="@Model.ProviderLogo.Src" alt="marketLogo" />
                                }

                            </div>

                            @Html.HiddenFor(m => m.TankerFixHiddenVal)
                        </fieldset>

                    </div>

                </div>
                <div id="tankerFixtures">
                </div>
            </div>
        </div>
    }
}