@model Informa.Web.ViewModels.Casualty.MarketDataTableWithDatasourceViewModel
@using Informa.Library.Utilities.References

@if (Model != null && Model.RenderingParameters != null && Model.RenderingParameters.TableType != null && !string.IsNullOrWhiteSpace(Model.RenderingParameters.TableType.Value))
{
    if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation1)
    {
        <script type="text/javascript">
            var TankerFixturesDateOptions=@Html.Raw(Model.jsonDropdownData);
        </script>
        <div class="small_table">
            <div class="table-responsive" id="tanker-fixtures">
                <h2>@Model.PageTitle</h2>
                <h3 class="lli-brand-head-wide-trans">@Model.TableTitle</h3>
                <hr />

                <div class="lli-brand-container shallow-bottom">
                    <div class="lli-brand-box">
                        @Model.TableSubTitle
                        <fieldset>
                            <div class="form-control">
                                <label for="selectDay">Select a day: </label>
                                <div class="select-field">
                                    <select id="tankerselectDay" name="tankerselectDay"></select>
                                </div>
                            </div>
                            <div class="dataProImg">
                                <span>@Model.DataProvider</span>
                                @if (!string.IsNullOrEmpty(Model.ProviderLogo?.Src))
                                {
                                    <img src="@Model.ProviderLogo.Src" alt="marketLogo" />
                                }

                            </div>
                            @Html.Hidden("TankerFixHiddenVal", Model.TableFeedUrl)
                        </fieldset>
                    </div>
                </div>
                <div id="tankerFixtures">
                </div>
                <div class="additional-info">
                    @Html.Raw(Model.AdditionalInfo)
                </div>
            </div>
        </div>
    }
    else if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation2)
    {
        <script type="text/javascript">
            var DryBulkFixturesDateOptions=@Html.Raw(Model.jsonDropdownData);
        </script>
        <div class="small_table">
            <div class="table-responsive casualty-table-theme" id="dry-cargo-bulk-fixtures">
                <h2>@Model.PageTitle</h2>
                <h3 class="lli-brand-head-wide-trans">@Model.TableTitle</h3>
                <hr />
                <div class="lli-brand-container shallow-bottom">
                    <div class="lli-brand-box">
                        @Model.TableSubTitle
                        <fieldset>
                            <div class="form-control">
                                <label for="selectDay">Select a day:</label>
                                <div class="select-field">
                                    <select id="drybulkselectDay" name="drybulkselectDay"></select>
                                </div>
                            </div>
                            <div class="dataProImg">
                                <span>@Model.DataProvider</span>
                                @if (!string.IsNullOrEmpty(Model.ProviderLogo?.Src))
                                {
                                    <img src="@Model.ProviderLogo.Src" alt="marketLogo" />
                                }
                            </div>
                            @Html.Hidden("drycargoHiddenVal", Model.TableFeedUrl)
                        </fieldset>
                        <!-- .lli-brand-box -->
                    </div>
                    <!-- .lli-brand-container -->
                </div>
                <div id="dryCargoBulkFixtures">
                    <table cellpadding="0" cellspacing="0" width="100%" class="table"></table>
                    <!-- tables rendered -->
                </div>
                <div class="additional-info">
                    @Html.Raw(Model.AdditionalInfo)
                </div>
            </div>
        </div>
    }
    else if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation3)
    {
        <script type="text/javascript">
            var shipContShipFixDateOptions=@Html.Raw(Model.jsonDropdownData);
        </script>

        <div class="small_table">
            <div class="table-responsive" id="shipContainerFixtures">
                <h2>@Model.PageTitle</h2>
                <h3 class="lli-brand-head-wide-trans">@Model.TableTitle</h3>
                <hr />
                <div class="lli-brand-container shallow-bottom">
                    <div class="lli-brand-box">
                        <fieldset>
                            <div class="form-control">
                                <label for="shipfixselectDay">Select a day:</label>
                                <div class="select-field">
                                    <select id="shipfixselectDay" name="shipfixselectDay"></select>
                                </div>
                            </div>
                            <div class="dataProImg">
                                <span>@Model.DataProvider</span>
                                @if (!string.IsNullOrEmpty(Model.ProviderLogo?.Src))
                                {
                                    <img src="@Model.ProviderLogo.Src" alt="marketLogo" />
                                }
                            </div>
                            @Html.Hidden("shipfixHiddenVal", Model.TableFeedUrl)
                        </fieldset>
                        <!-- .lli-brand-box -->
                    </div>
                    <!-- .lli-brand-container -->
                </div>
                <div id="shipFixtures">
                    <div class="additional-info">
                        @Html.Raw(Model.AdditionalInfo)
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation4)
    {
        <script type="text/javascript">
            var currentFleetTableData=@Html.Raw(Model.jsonTableData);
        </script>
        if (!string.IsNullOrEmpty(Model.jsonAdditionalTableData))
        {
            <script type="text/javascript">
                var onOrderTableData=@Html.Raw(Model.jsonAdditionalTableData);
            </script>
        }

        <div class="table-responsive" id="tanker-Pure-ChemPage">
            <h2>@Model.PageTitle</h2>
            <h3 class="lli-brand-head-wide-trans">@Model.TableTitle</h3>
            <hr />
            <div class="lli-brand-container shallow-bottom">
                <div class="lli-brand-box">
                    @Model.TableSubTitle
                    <!-- .lli-brand-box -->
                </div>
                <!-- .lli-brand-container -->
            </div>
            <div class="table ID-Responsive-Table" data-modal="modal-annualresults" id="tankerPureChemPage">
            </div>
            @if (!string.IsNullOrEmpty(Model.jsonAdditionalTableData))
            {
                <div class="table ID-Responsive-Table" data-modal="modal-annualresults" id="onOrderTable">
                </div>
            }
            <div class="additional-info">
                @Html.Raw(Model.AdditionalInfo)
            </div>
        </div>
    }
    else if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation5)
    {
        <script type="text/javascript">
            var fisDryBulkDateOptions=@Html.Raw(Model.jsonDropdownData);
        </script>

        <div class="small_table">
            <div class="table-responsive" id="fisDryBulkContainer">
                <h2>@Model.PageTitle</h2>
                <h3 class="lli-brand-head-wide-trans">@Model.TableTitle</h3>
                <hr />
                <div class="lli-brand-container shallow-bottom">
                    <div class="lli-brand-box">
                        @Model.TableSubTitle
                        <fieldset>
                            <div class="form-control">
                                <label for="fisDryBulkselectDay">Select week beginning Monday:</label>
                                <div class="select-field">
                                    <select id="fisDryBulkselectDay" name="fisDryBulkselectDay"></select>
                                </div>
                            </div>
                            <div class="dataProImg">
                                <span>@Model.DataProvider</span>
                                @if (!string.IsNullOrEmpty(Model.ProviderLogo?.Src))
                                {
                                    <img src="@Model.ProviderLogo.Src" alt="marketLogo" />
                                }
                            </div>
                            @Html.Hidden("fisDryBulkHiddenVal", Model.TableFeedUrl)
                        </fieldset>
                        <!-- .lli-brand-box -->
                    </div>
                    <!-- .lli-brand-container -->
                </div>
                <div class="fisDryBulkTable showinDesk">
                </div>
                <div class="fisDryBulkTable showinMob">
                </div>
                <div class="additional-info">
                    @Html.Raw(Model.AdditionalInfo)
                </div>
            </div>
        </div>
    }
    else if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation6)
    {
        <script type="text/javascript">
            var jsonCockettBunker=@Html.Raw(Model.jsonTableData);
        </script>

        <div class="small_table">
            <div class="table-responsive" id="cockett-Bunker">
                <h2>@Model.PageTitle</h2>
                <h3 class="lli-brand-head-wide-trans">@Model.TableTitle</h3>
                <hr />
                <div class="lli-brand-container shallow-bottom">
                    <div class="lli-brand-box">
                        @Model.TableSubTitle
                        <!-- .lli-brand-box -->
                    </div>
                    <!-- .lli-brand-container -->
                </div>
                <div class="table ID-Responsive-Table" data-modal="modal-annualresults" id="cockettBunker">
                </div>
                <div class="additional-info">
                    @Html.Raw(Model.AdditionalInfo)
                </div>
            </div>
        </div>
    }
    else if (Model.RenderingParameters.TableType.Value == Constants.MarketDataTableTypes.Variation7)
    {
        <script type="text/javascript">
            @*var imarextabledate=@Html.Raw(Model.jsonDropdownData);*@
            var imarextabledate = [{
                "selectdate": [{
                    "value": "13-jan-17",
                    "text": "13-jan-17"
                }, {
                    "value": "12-jan-17",
                    "text": "12-jan-17"
                }, {
                    "value": "11-jan-17",
                    "text": "11-jan-17"
                }]
            }];
            @*var imarexTable=@Html.Raw(Model.jsonTableData);*@
            var imarexTable = [{
                "Monday 02 March 15": [{
                    "Header": "VL RT-CHIBA",
                    "Q215": "49.17",
                    "Q315": "41",
                    "CAL16": "67.95"
                }, {
                    "Header": "SM BNY-PHIL",
                    "Q215": "49.17",
                    "Q315": "41",
                    "CAL16": "67.95"
                }, {
                    "Header": "SM BNY-PHIL",
                    "Q215": "49.17",
                    "Q315": "41",
                    "CAL16": "67.95"
                },{
                    "Header": "VL RT-CHIBA",
                    "Q215": "49.17",
                    "Q315": "41",
                    "CAL16": "67.95"
                }, {
                    "Header": "SM BNY-PHIL",
                    "Q215": "49.17",
                    "Q315": "41",
                    "CAL16": "67.95"
                }, {
                    "Header": "SM BNY-PHIL",
                    "Q215": "49.17",
                    "Q315": "41",
                    "CAL16": "67.95"
                }],
                "Tuesday 03 March 15": [{
                    "Header": "VL RT-CHIBA",
                    "Q215": "49.17",
                    "Q315": "41",
                    "CAL16": "67.95"
                }, {
                    "Header": "SM BNY-PHIL",
                    "Q215": "49.17",
                    "Q315": "41",
                    "CAL16": "67.95"
                }, {
                    "Header": "SM BNY-PHIL",
                    "Q215": "49.17",
                    "Q315": "41",
                    "CAL16": "67.95"
                }]
            }];
        </script>
        <div class="table-responsive casualty-table-theme" id="market-imarex">
            <h2>@Model.PageTitle</h2>
            <h3 class="lli-brand-head-wide-trans">@Model.TableTitle</h3>
            <hr />
            <div class="lli-brand-container shallow-bottom">
                <div class="lli-brand-box">
                    @Model.TableSubTitle
                    <fieldset>
                        <div class="form-control">
                            <label for="imarexselect">Select week beginning Monday:</label>
                            <div class="select-field">
                                <select id="imarexselect" name="imarexselect"></select>
                            </div>
                        </div>
                        @Html.Hidden("imarexHiddenVal", Model.TableFeedUrl)
                    </fieldset>
                    <!-- .lli-brand-box -->
                </div>
                <!-- .lli-brand-container -->
            </div>
            <div id="marketImarex">
                <!-- tables rendered -->
            </div>
            <div class="additional-info">
                @Html.Raw(Model.AdditionalInfo)
            </div>
        </div>
    }
}

