@model Informa.Web.Areas.Account.ViewModels.Personalization.MyViewSettingsViewModel

@*For registration flow*@
@if (Model.IsFromRegistration && Model.IsAuthenticated)
{
    <div class="main__content myview-settings">
        <div class="tableau-landing clearfix">
            <div class="mysettingsHead clearfix">
                <h1>@Model.Title</h1>
                <div class="saveoption mtop-10 hidden-xs">
                    @if (Model.EnableSavePreferencesCheck)
                    {
                        <a class="registrationBtn validationChk" href="@Model.MyViewPageUrl">@Model.CompleteYourRegistrationText</a>
                    }
                    else
                    {
                        <a class="registrationBtn validationChk" name="@Model.MyViewPageUrl" href="/">@Model.CompleteYourRegistrationText</a>
                    }
                </div>
            </div>

            <div class="sub-heading-text">
                @Html.Raw(Model.SectionDescription)
            </div>
            <div class="alert-error register-not-selected js-form-error js-form-error-Required">
                <svg class="alert__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#alert"></use>
                </svg>
                <p class="page-account-contact__error">@Model.NotFollowedError</p>
            </div>
            <div class="alert-error register-error js-form-error js-form-error-Required">
                <svg class="alert__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#alert"></use>
                </svg>
                <p class="page-account-contact__error">@Model.PreferenceNotSavedError</p>
            </div>
        </div>
        <div id="allPublicationsPan">
            @{
                Html.RenderPartial("/Areas/Account/Views/Personalization/Publications.cshtml", Model.ChannelsViewModel);
            }
        </div>
        <div class="alert-error register-not-selected js-form-error js-form-error-Required">
            <svg class="alert__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#alert"></use>
            </svg>
            <p class="page-account-contact__error">@Model.NotFollowedError</p>
        </div>
        <div class="alert-error register-error js-form-error js-form-error-Required">
            <svg class="alert__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#alert"></use>
            </svg>
            <p class="page-account-contact__error">@Model.PreferenceNotSavedError</p>
        </div>
        <div class="saveoption">
            <span class="helplink">@Html.Raw(Model.HelpLinkDetail)</span>
            <div class="complete-settings">
                @if (Model.EnableSavePreferencesCheck)
                {
                    <a class="registrationBtn validationChk" href="@Model.MyViewPageUrl">@Model.CompleteYourRegistrationText</a>
                }
                else
                {
                    <a class="registrationBtn validationChk" name="@Model.MyViewPageUrl" href="/">@Model.CompleteYourRegistrationText</a>
                }
            </div>
        </div>
        <div class="modal-overlay"></div>
        <div class="modal-view preferences">
            <p class="close-modal">X</p>
            <h4>@Model.SavePreferencesMessage</h4>
            <div class="saveviewModal">
                @if (Model.EnableSavePreferencesCheck)
                {
                    <a href="@Model.MyViewPageUrl" class="registrationBtn validationChk">@Model.PopupSaveButtonText</a>
                }
                else
                {
                    <a href="/" name="@Model.MyViewPageUrl" class="registrationBtn validationChk">@Model.PopupSaveButtonText</a>
                }
                <span class="cancel cancel-modal">@Model.PopupCancelButtonText</span>
            </div>
        </div>
    </div>
    <input type="hidden" value="false" id="validatePriority" />
                }
                else if (Model != null && Model.IsAuthenticated)
                {

                    <div class="main__content myview-settings">
                        <div class="tableau-landing clearfix">
                            <div class="mysettingsHead clearfix">
                                <h1>@Model.Title</h1>
                                <div class="saveoption mtop-10 hidden-xs">
                                    <span class="saveview validationChk click-utag" data-info='{ "event_name": "myview_setting_save", "page_name":"@Model.Title","ga_eventCategory":"My View Settings Link","ga_eventAction":"Link Click","ga_eventLabel":"","click_through_destination":""}'>@Model.SaveButtonText</span>
                                    <span class="gotoview"><a href="@Model.MyViewPageUrl">@Model.GoToMyViewButtonText</a></span>
                                </div>
                            </div>


                            <div class="sub-heading-text">
                                @Html.Raw(Model.SectionDescription)
                            </div>
                            <div class="alert-error js-form-error js-form-error-Required">
                                <svg class="alert__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#alert"></use>
                                </svg>
                                <p class="page-account-contact__error"></p>
                            </div>

                            <div class="alert-success js-form-success js-form-success-Required">
                                <svg class="alert__icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#alert"></use>
                                </svg>
                                <p class="page-account-contact__error"></p>
                            </div>
                            <div class="saveoption mb-10 hidden-large">
                                <span class="saveview">@Model.SaveButtonText</span>
                                <span class="gotoview"><a href="@Model.MyViewPageUrl">@Model.GoToMyViewButtonText</a></span>
                            </div>

                            <div class="modal-overlay"></div>
                            <div class="modal-view">
                                <p class="close-modal">X</p>
                                <h4>@Model.SavePreferencesMessage</h4>
                            </div>
                            <input type="hidden" value="0" id="validatePreference" />

                        </div>
                        <div id="allPublicationsPan">
                            @{ Html.RenderPartial("/Areas/Account/Views/Personalization/Publications.cshtml", Model.ChannelsViewModel); }
                        </div>

                        <div class="saveoption">
                            <span class="saveview validationChk">@Model.SaveButtonText</span>
                            <span class="gotoview"><a href="@Model.MyViewPageUrl">@Model.GoToMyViewButtonText</a></span>
                        </div>
                    </div>
                    <input type="hidden" value="false" id="validateMyViewPriority" />
                                }
                                else
                                {
                                    <div class="page-account__sign-in-solo">
                                        @{ Html.RenderPartial("../Article/UserCallToAction", Model.CallToActionViewModel); }
                                    </div>
                                            }
