@model Informa.Web.Areas.Account.ViewModels.Personalization.PersonalizationMessageViewModel

@if (Model != null && Model.IsAuthenticated && Model.IsGlobalToggleEnabled && !Model.HideWelcomeMessage)
{
    <div class="messaging_webUsers clearfix">
        <div class="msg_dismiss">
            <a href="javascript:void(0)" class="dismiss">@Model.DismissText</a>
            <svg class="dismiss-button__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use>
            </svg>
        </div>
        <h3>@Model.RightRailMyViewText</h3>
        <div class="msg-text">
            <p>@Model.RightRailMessage</p>
        </div>
        <div class="button-msg-webUser">
            <div class="msg_link"><a href="@Model.MyViewSettingsPageUrl" class="click-utag" data-info='{"event_name":"message_link_click","page_name":"@Model.PageName","ga_eventCategory":"Messaging Frame","ga_eventAction":"Link Click","ga_eventLabel":"@Model.MyViewSettingsText",
"click_through_destination":"@Model.MyViewSettingsText"}'>@Model.MyViewSettingsText</a></div>
            <a class="button--filled find_more" href="@Model.FindOutMoreUrl">@Model.FindOutMoreText</a>
        </div>
    </div>
}
