@model Informa.Web.Areas.Account.ViewModels.Personalization.PersonalizationMessageViewModel

@if (Model != null && Model.IsAuthenticated && Model.IsGlobalToggleEnabled && !Model.HideWelcomeMessage)
{
    <div class="messaging_webUsers">
        <div class="msg_dismiss">
            <a href="javascript:void(0)" class="dismiss">@Model.DismissText</a>
        </div>
        <h3>@Model.MyViewText</h3>
        <div class="msg-text">
            <p>@Model.RightRailMessage</p>
        </div>
        <div class="button-msg-webUser">
            <div class="msg_link"><a href="@Model.MyViewSettingsPageUrl">@Model.MyViewSettingsText</a></div>
            <a class="button--filled find_more" href="@Model.FindOutMoreUrl">@Model.FindOutMoreText</a>
        </div>
    </div>
}
