@model Informa.Web.Areas.Account.ViewModels.Personalization.PersonalizationMessageViewModel

@if (Model != null && Model.IsAuthenticated && Model.IsGlobalToggleEnabled && !Model.HideWelcomeMessage)
{
    <div class="messaging_webUsers_white">
        <div class="msg_dismiss">
            <a href="javascript:void(0)" class="dismiss">@Model.DismissText</a>
        </div>
        <div class="msg-text">
            <h3>@Model.MyViewText</h3>
            <div>@Model.ArticlePageMessage<span class="red"> <a href="@Model.MyViewLinkUrl">'@Model.WelcomeMessageLinkText'</a></span></div>
        </div>
    </div>
}
