@model Informa.Web.Areas.Account.ViewModels.Personalization.PersonalizationMessageViewModel

@if (Model != null && Model.IsAuthenticated && Model.IsGlobalToggleEnabled && !Model.HideWelcomeMessage)
{
    <div class="messaging_webUsers_white">
        <div class="msg_dismiss">
            <a href="javascript:void(0)" class="dismiss">@Model.DismissText</a>
        </div>
        <div class="msg-text">
            <h3>@Model.ArticlePageMyViewText</h3>
            <div>@Model.ArticlePageMessage<span class="red"> <a href="@Model.MyViewLinkUrl" class="click-utag" data-info='{"event_name":"message_link_click","page_name":"@Model.PageName","ga_eventCategory":"Messaging Frame","ga_eventAction":"Link Click","ga_eventLabel":"@Model.WelcomeMessageArticlePageLinkText",
"click_through_destination":"@Model.WelcomeMessageArticlePageLinkText"}'>@Model.WelcomeMessageArticlePageLinkText</a></span></div>
        </div>
    </div>
}
