@model Informa.Web.Areas.Account.ViewModels.Personalization.IChannelsViewModel
@using Informa.Library.User.UserPreference;

@if (Model.Channels != null && Model.Channels.Any())
{
    var Channels = Model.Channels.OrderBy(x => x.ChannelOrder == 0).ThenBy(x => x.ChannelOrder).ToList();
    IList<Topic> Topics = null;
    string topicTRClass = string.Empty;
    string topicSpanClass = string.Empty;
    string topicLableText = string.Empty;
    string subscribeButtonClass = string.Empty;
    string followAllButtonClass = string.Empty;
    string unfollowAllButtonClass = string.Empty;
    string tboadyClass = string.Empty;
    bool isFirst = true;
    string collapsedClss = string.Empty;
    string pickAndChooseSectionClass = string.Empty;
    bool IsFollowingAllTopics;
    bool NotFollowingAnyTopic;
    bool IsFollowingAnyTopics;
    string publicationFollowButtonClass = string.Empty;
    string publicationFollowingButtonClass = string.Empty;
    string publicationStatusText = string.Empty;
    int channelOrder = 0;
    int topicOrder = 0;
    string mobileChannelSactionsStatus = string.Empty;
    string pickAndChooseSectionClassMobile = string.Empty;
    string publicationHiddenClass = string.Empty;
    <input type="hidden" name="isChannelBasedRegistration" id="isChannelBasedRegistration" value="@Model.isChannelBasedRegistration.ToString().ToLower()" />
    <input type="hidden" name="enableSavePreferencesCheck" id="enableSavePreferencesCheck" value="@Model.enableSavePreferencesCheck.ToString().ToLower()" />
    <input type="hidden" name="followButtonText" id="followButtonText" value="@Model.FollowButtonText" />
    <input type="hidden" name="followingButtonText" id="followingButtonText" value="@Model.FollowingButtonText" />
    <div id="allPublicationsPan">
        @foreach (Channel channel in Channels)
        {
            channelOrder = Model.IsNewUser ? ++channelOrder : channel.ChannelOrder;
            IsFollowingAllTopics = !channel.Topics.Where(ch => !ch.IsFollowing).Any();
            NotFollowingAnyTopic = !channel.Topics.Where(ch => ch.IsFollowing).Any();
            IsFollowingAnyTopics = channel.Topics.Where(ch => ch.IsFollowing).Any();
            subscribeButtonClass = channel.IsSubscribed ? "" : "subscribe";
            followAllButtonClass = IsFollowingAllTopics ? "hideBtn" : NotFollowingAnyTopic ? "fr" : "";
            unfollowAllButtonClass = NotFollowingAnyTopic ? "hideBtn" : "";
            tboadyClass = isFirst ? "" : "tbodyhidden";
            collapsedClss = isFirst ? "expanded" : "";
            pickAndChooseSectionClass = isFirst ? "" : "tbodyhidden";
            publicationFollowButtonClass = IsFollowingAnyTopics || isFirst ? "hideBtn" : "";
            publicationFollowingButtonClass = IsFollowingAnyTopics && !isFirst ? "" : "hideBtn";
            publicationStatusText = IsFollowingAnyTopics ? Model.FollowingButtonText : Model.FollowButtonText;
            mobileChannelSactionsStatus = isFirst ? "hideRow" : "";
            pickAndChooseSectionClassMobile = isFirst ? "" : "hideRow";
            publicationHiddenClass = IsFollowingAnyTopics ? "followinglbl" : "followlbl";
            isFirst = false;


            <div class="publicationPan donesubscribe" data-row="@channelOrder">
                <div class="table-responsive">
                    <table class="table" id="@channel.ChannelCode">
                        <thead class="hidden-large">
                            <tr>
                                <th class="wd-55 firstrow">
                                    <h2 data-publication="@channel.ChannelCode" data-item-id="@channel.ChannelId" data-item-status="@channel.IsFollowing.ToString().ToLower()">@channel.ChannelName</h2>

                                    @if (!channel.IsSubscribed)
                                    {
                                        <div class="subscribed @subscribeButtonClass" data-subscribe-status="@channel.IsSubscribed">
                                            <a href="@Model.SubscribeUrl">@Model.SubscribeButtonText</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="subscribed @subscribeButtonClass" data-subscribe-status="@channel.IsSubscribed">
                                            @Model.SubscribedButtonText
                                        </div>
                                    }
                                </th>
                                <th class="wd-25 firstrow"></th>
                                <th class="wd-15 firstrow">
                                    @if (!Model.isFromRegistration)
                                    {
                                    <div class="rowlines">
                                        <div class="vline"></div>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    }
                                </th>
                            </tr>
                            @if (!Model.isFromRegistration)
                            {
                                <tr class="showinview">
                                    <th colspan="3">
                                        <p>@Model.SubscribeMessageText</p>
                                    </th>
                                </tr>
                            }
                            <tr>
                                @if (Model.isFromRegistration && channel.IsSubscribed && !string.IsNullOrEmpty(Model.SubscribedMessageText))
                                {
                                    <th class="pub-subscription-subtitle" colspan="3">
                                        @Html.Raw(Model.SubscribedMessageText)
                                    </th>

                                }
                            </tr>
                            <tr class="accordionStatus pickTxt @pickAndChooseSectionClassMobile">
                                <th colspan="3" class="nopad ">
                                    <hr />
                                </th>
                            </tr>

                            <tr class="accordionStatus @pickAndChooseSectionClassMobile">
                                <th colspan="2">
                                    <p class="pickTxt">@Model.PickAndChooseLableMobileText</p>
                                </th>
                                <th>
                                    @if (!Model.isFromRegistration)
                                    {
                                        <div class="accordionImg">
                                            <span class="mobileMode @collapsedClss" href="javascript: void(0);"></span>
                                        </div>
                                    }
                                </th>
                            </tr>


                            <tr class="graybg">
                                <th colspan="3" class="nopad">
                                    <hr />
                                </th>
                            </tr>


                            <tr class="accordionStatus flwLbl @mobileChannelSactionsStatus">
                                <th colspan="2">
                                    <div>
                                        <span class="click-utag followlbl mtp @publicationFollowButtonClass" data-info="{'event_name':'publication_follow','page_name':'My View Settings','ga_eventCategory':'Publication follow','ga_eventAction':'follow','ga_eventLabel':'@Model.publicationname','follow_publication':'@Model.publicationname'}">@Model.FollowButtonText</span>
                                        <span class="click-utag followinglbl mtp @publicationFollowingButtonClass" data-info="{'event_name':'publication_following','page_name':'My View Settings','ga_eventCategory':'Publication following','ga_eventAction':'following','ga_eventLabel':'@Model.publicationname','follow_publication':'@Model.publicationname'}">@Model.FollowingButtonText</span>
                                        <input type="hidden" class="lableStatus" value="@publicationHiddenClass" />
                                    </div>
                                </th>
                                <th>
                                    @if (!Model.isFromRegistration)
                                    {
                                        <div class="accordionImg">
                                            <span class="mobileMode" href="javascript: void(0);"></span>
                                        </div>
                                    }
                                </th>
                            </tr>
                            <tr class="accordionStatus flwBtn @pickAndChooseSectionClassMobile">
                                <th colspan="2">
                                    <div class="smfollowingBtn">
                                        <span class="click-utag followAllBtn @followAllButtonClass" data-info="{'event_name':'publication_follow','page_name':'My View Settings','ga_eventCategory':'Publication follow','ga_eventAction':'follow','ga_eventLabel':'@Model.publicationname','follow_publication':'@Model.publicationname'}">@Model.FollowAllButtonText</span>
                                        <span class="click-utag unfollowAllBtn @unfollowAllButtonClass" data-info="{'event_name':'publication_unfollow','page_name':'My View Settings','ga_eventCategory':'Publication Unfollow','ga_eventAction':'Unfollow','ga_eventLabel':'@Model.publicationname','follow_publication':'@Model.publicationname'}">@Model.UnfollowAllButtonText</span>
                                    </div>
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                            </tr>

                        </thead>
                        <thead class="hidden-xs">
                            <tr>
                                <th class="wd-54 firstrow">
                                    <h2 data-publication="@channel.ChannelCode" data-item-id="@channel.ChannelId" data-item-status="@channel.IsFollowing.ToString().ToLower()">@channel.ChannelName</h2>
                                    @if (!channel.IsSubscribed)
                                    {
                                    <div class="subscribed @subscribeButtonClass" data-subscribe-status="@channel.IsSubscribed">
                                        <a href="@Model.SubscribeUrl">@Model.SubscribeButtonText</a>
                                    </div>
                                    }
                                    else
                                    {
                                    <div class="subscribed @subscribeButtonClass" data-subscribe-status="@channel.IsSubscribed">
                                        @Model.SubscribedButtonText
                                    </div>
                                    }
                                </th>
                                <th class="wd-26 firstrow">
                                    <div>
                                        <span class="click-utag followlbl mtp @publicationFollowButtonClass" data-info="{'event_name':'publication_follow','page_name':'My View Settings','ga_eventCategory':'Publication follow','ga_eventAction':'follow','ga_eventLabel':'@Model.publicationname','follow_publication':'@Model.publicationname'}">@Model.FollowButtonText</span>
                                        <span class="click-utag followinglbl mtp @publicationFollowingButtonClass" data-info="{'event_name':'publication_following','page_name':'My View Settings','ga_eventCategory':'Publication following','ga_eventAction':'following','ga_eventLabel':'@Model.publicationname','follow_publication':'@Model.publicationname'}">@Model.FollowingButtonText</span>
                                        <input type="hidden" class="lableStatus" value="@publicationHiddenClass" />
                                    </div>
                                </th>
                                <th class="wd-15 firstrow">
                                    @if (!Model.isFromRegistration)
                                    {
                                        <div class="accordionImg">
                                            <span class="desktopMode @collapsedClss" href="javascript: void(0);"></span>
                                        </div>
                                        <div class="rowlines">
                                            <div class="vline"></div>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    }
                                </th>
                            </tr>
                            @if (!Model.isFromRegistration)
                            {
                            <tr class="showinview">
                                <th colspan="3">
                                    <p>@Model.SubscribeMessageText</p>
                                </th>
                            </tr>
                            }
                            <tr>
                                @if (Model.isFromRegistration && channel.IsSubscribed && !string.IsNullOrEmpty(Model.SubscribedMessageText))
                                {
                                <th class="pub-subscription-subtitle" colspan="3">
                                    @Html.Raw(Model.SubscribedMessageText)
                                </th>

                                }
                            </tr>
                            <tr class="accCont @pickAndChooseSectionClass">
                                <th colspan="3" class="nopad">
                                    <hr />
                                </th>
                            </tr>
                            <tr class="accCont @pickAndChooseSectionClass">
                                <th class="wd-55 pbot"><p>@Model.PickAndChooseLableText</p></th>
                                <th class="wd-25 pbot">
                                    <div>
                                        <span class="click-utag unfollowAllBtn @unfollowAllButtonClass" data-info="{'event_name':'publication_unfollow','page_name':'My View Settings','ga_eventCategory':'Publication Unfollow','ga_eventAction':'Unfollow','ga_eventLabel':'@Model.publicationname','follow_publication':'@Model.publicationname'}">@Model.UnfollowAllButtonText</span>
                                        <span class="click-utag followAllBtn @followAllButtonClass" data-info="{'event_name':'publication_follow','page_name':'My View Settings','ga_eventCategory':'Publication follow','ga_eventAction':'follow','ga_eventLabel':'@Model.publicationname','follow_publication':'@Model.publicationname'}">@Model.FollowAllButtonText</span>
                                    </div>
                                </th>
                                <th class="wd-15"></th>
                            </tr>
                        </thead>
                        <tbody class="@tboadyClass">
                            @if (channel.Topics != null && channel.Topics.Any())
                            {

                                Topics = channel.Topics.OrderBy(x => x.TopicOrder == 0).ThenBy(x => x.TopicOrder).ToList();
                                topicOrder = 0;
                                foreach (Topic topic in Topics)
                                {
                                    topicOrder = Model.IsNewUser ? ++topicOrder : topic.TopicOrder;
                                    topicTRClass = topic.IsFollowing ? "followingrow" : "followrow disabled";
                                    topicSpanClass = topic.IsFollowing ? "followingBtn" : "followBtn";
                                    topicLableText = topic.IsFollowing ? Model.FollowingButtonText : Model.FollowButtonText;
                                    string dataInfo = topic.IsFollowing ? "data-info=\"{'event_name': 'topic unfollow', 'page_name': 'My view settings','ga_eventCategory':'Topic Unfollow','ga_eventAction':'" + @Model.publicationname + " ','ga_eventLabel' : '" + @topic.TopicName + "', 'follow_topic' : '" + @topic.TopicName + "',  'follow_publication':'" + @Model.publicationname + " '}\"" : "data-info=\"{'event_name': 'topic follow', 'page_name': 'My view settings','ga_eventCategory':'Topic follow','ga_eventAction':'" + @Model.publicationname + " ','ga_eventLabel' : '" + @topic.TopicName + "', 'follow_topic' : '" + @topic.TopicName + "',  'follow_publication':'" + @Model.publicationname + " '}\"";

                            <tr class="@topicTRClass" data-row="@topicOrder">

                                <td class="wd-55">
                                    @topic.TopicName
                                    <input type="hidden" data-row-topic="@topic.TopicCode" data-row-item-id="@topic.TopicId" />
                                </td>
                                <td class="wd-25">
                                    <span class="@topicSpanClass click-utag" @dataInfo>@topicLableText</span>
                                </td>
                                <td class="wd-15">
                                    <div class="rowlines">
                                        <div class="move">@Model.MoveLableText</div>
                                        <div class="pull-left">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>
}