@inherits CustomGlassView<Informa.Web.ViewModels.Emails.EmailLayoutViewModel>

<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>

        <!-- Many of these pieces are supposed to disappear if null or empty -->
        <!-- If HTML needs to disappear, it's better to do that with Razor-->
        <!-- Let me know if you need any razor syntax added. -->

        @Model.ViewOnlineVersionPreLink <a href="@Model.OnlineVersionUrl">@Model.ViewOnlineVersionLinkText</a>

        @foreach (var nav in Model.HeaderNavigation)
        {
            <a href="@nav.Link.Url">@nav.Text</a>
            if (!nav.IsLast)
            {
                <!---------------------->
            }
        }

        @Editable(Model.GlassModel, m => m.Date_Text)

        <img src="@Model.SiteRoot.Email_Logo.Src"/>

        <img src="@Model.SiteRoot.RSS_Logo.Src"/>

        <img src="@Model.SiteRoot.Linkedin_Logo.Src"/>

        <img src="@Model.SiteRoot.Twitter_Logo.Src" />

        @Editable(Model.GlassModel, m => m.Top_Header_Title)
        @Editable(Model.GlassModel, m => m.Top_Header_Text)

        <div>
            @Html.Sitecore().Placeholder("email-main")
        </div>

        @Html.Raw(Model.SiteRoot.Email_Footer)

        @foreach (var nav in Model.FooterNavigation)
        {
            <a href="@nav.Link.Url">@nav.Text</a>
            if (!nav.IsLast)
            {
                <!---------------------->
            }
        }

    </body>
</html>
