@model MainLayoutViewModel

@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	@Html.Raw(Model.MetaDataHtml)

    <title>@Html.Raw(Model.Title)</title>

    <link rel="icon" type="image/png" href="@Model.FavIcon" />
    @if (!string.IsNullOrWhiteSpace(Model.CanonicalUrl))
    {
        <link rel="canonical" href="@Model.CanonicalUrl" />
    }
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/dist/index-generated.css">

    @* @Html.Sitecore().VisitorIdentification() *@
    @Html.Sitecore().Placeholder("head")
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Raw(@Model.CustomTagsHeader)
    }
   
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85599131-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body @Model.BodyCssClass>

    @Html.Sitecore().Placeholder("primary-header")

    <main>
        @Html.Sitecore().Placeholder("inner-main")

        <div class="main__wrapper" data-request-verification-token="@Html.RequestVerificationToken()">

            @if (!string.IsNullOrEmpty(Model.LeaderboardSlotID) && !string.IsNullOrEmpty(Model.LeaderboardAdZone))
            {
                <div class="advertising--leaderboard visible-desktop">
                    <script>
                if(window.outerWidth > 667)
                OAS_AD('@Model.LeaderboardSlotID', '@Model.LeaderboardAdZone');
                    </script>
                </div>
            }
            <div class="general-header">
                @Html.Sitecore().Placeholder("general-header")
            </div>

            @Html.Sitecore().Placeholder("pre-content")

            <div class="main__content">
                @Html.Sitecore().Placeholder("top-main-content")
                @if (!Model.IsRestricted || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    @Html.Sitecore().Placeholder("main-content")
                }
                @if (Model.IsRestricted || Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    <div>
                        @Html.Sitecore().Placeholder("restricted-content")
                    </div>
                }
            </div>

            @Html.Sitecore().Placeholder("post-content")

        </div>

    </main>

    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
    <div class="video-mini-modal modal fade" id="videoMiniModal" tabindex="-1" role="dialog" aria-labelledby="videoMiniModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="video">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close video-mini-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="video-mini-player embed-responsive embed-responsive-16by9"></div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    @* If this is an Article page... *@
    <div class="boxout-print-info footer">
        <p>@Model.PrintPageHeaderMessage</p>
        <p>@Model.PrintedByText <b>@Model.UserName @(string.IsNullOrEmpty(Model.UserName) || string.IsNullOrEmpty(Model.CorporateName) ? string.Empty : ",") @Model.CorporateName</b></p>
    </div>
    @* end pseudo-if *@

    <script src="/dist/js/index.js"></script>
    @if (Model.IsSiteDebuggingAllowed) {
        @Html.Sitecore().Placeholder("site-debugger")
    }
    @MiniProfiler.RenderIncludes()
@if (!Sitecore.Context.PageMode.IsExperienceEditor)
{
    @Html.Raw(@Model.CustomTagsFooter)
}

    <iframe name="iframe-vertical" style="display:none;"></iframe>
    @{
        var sitelist = Model.GetVerticalDomains();
        if (sitelist != null && sitelist.Any())
        {
            foreach (string site in sitelist)
            {
                string sitename = site.Split('|')[0];
                string url = Request.Url.Scheme + "://" + @site.Split('|')[1];
                <form id="@sitename-login" target="iframe-vertical" action="@url/Account/api/LoginWebUserApi/VerticalLogin" method="POST" style="display:none;">
                    <input name="username" type="text" style="display:none;" />
                </form>
                <form id="@sitename-logout" target="iframe-vertical" action="@url/Account/LogoutWebUser/VerticalLogout" method="POST" style="display:none;"></form>
            }
            <script type="text/javascript">
                var DomainArray = new Array();
                @foreach (string site in sitelist)
                {
                    @:DomainArray.push("@site.Split('|')[0]");
                 }
           </script>
        }
    }
     
</body>
</html>
