@model MainLayoutViewModel
@using Informa.Library.Utilities.References
<!DOCTYPE html>
<html>
<head>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@Model.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	@if (!string.IsNullOrWhiteSpace(Model.CanonicalUrl))
	{
		<link rel="canonical" href="@Model.CanonicalUrl" />
	}

    <!-- STATIC PLACEHOLDER -->
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/dist/index-generated.css">

    @* @Html.Sitecore().VisitorIdentification() *@
    @Html.Sitecore().Placeholder("head")
</head>
<body>

@{ Html.RenderPartial("_Header", Model.Header); }
@*@Html.Sitecore().Placeholder("header")*@

<main>

    @*@Html.Glass().InvokeAction(mvc => Execute());*@
    @{ Html.RenderPartial("_Navigation", Model.SideNavigationMenu);}

    <div class="main__wrapper">

        @{  Html.RenderPartial("_MaintainenceMessage", Model.MaintenanceMessage); }

        @*
        <div class="general-header">
            <div class="general-header__section-title">
                Name of Section
            </div>
            <div class="general-header__navigation">
                <a href="#" class="is-active">General Content Page V1</a>
                <a href="#">Page Name</a>
                <a href="#">Page Name</a>
                <a href="#">Page Name</a>
            </div>
        </div>
        *@

        <div class="main__content">

            @Html.Sitecore().Placeholder("main-content")

        </div>

        @* * *  POP-OUT TEMPLATE MARKUP *@

        

        @Html.Sitecore().Rendering(RenderingReferences.Instance.LoginPopout.ToString())
		@{ Html.RenderPartial("PopOuts/Register", Model.RegisterPopOutViewModel); }
		@{ Html.RenderPartial("PopOuts/EmailArticle", Model.EmailArticlePopOutViewModel); }

        @* * *  END POP-OUT TEMPLATE MARKUP *@

    </div>

</main>

<footer>
	@{ Html.RenderPartial("_Footer", Model.Footer);}
</footer>

<script src="/dist/js/index.js"></script>

</body>
</html>
