@inherits Jabberwocky.Glass.Autofac.Mvc.Views.CustomGlassView<Informa.Web.ViewModels.MainLayoutViewModel>
<!DOCTYPE html>
<html>
<head>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Informa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STATIC PLACEHOLDER -->
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/dist/index-generated.css">

    @* <title>@Html.Sitecore().Field("title", new {DisableWebEdit = true})</title>*@
    @* @Html.Sitecore().VisitorIdentification() *@
    @Html.Sitecore().Placeholder("head")
</head>
<body>

@Html.Partial("_Header")
@*@Html.Sitecore().Placeholder("header")*@

<main>

    @*@Html.Glass().InvokeAction(mvc => Execute());*@
    @Html.Partial("_Navigation")

    <div class="main__wrapper">

		<div class="banner banner--maintenance">
			<!-- From: @Model.MaintenanceMessage.DisplayFrom -->
			<!-- To: @Model.MaintenanceMessage.DisplayTo -->
			<div class="dismiss-button">
				<label>@Model.MaintenanceMessage.DismissText</label>
				<svg class="dismiss-button__icon">
					<use xlink:href="/dist/img/svg-sprite.svg#x"></use>
				</svg>
			</div>
			<svg class="banner__lead-icon">
				<use xlink:href="/dist/img/svg-sprite.svg#tool-maintenance"></use>
			</svg>
			@Model.MaintenanceMessage.Message
		</div>

        <div class="main__content">

        <div class="banner banner--highlights">
            <b>Highlights:</b> ASCO is onlu 2 weeks away! <a href="#">See our round up of ASCO 2015 &gt;</a>
            </div>


            @Html.Sitecore().Placeholder("main-content")

            @*@Html.Partial("../_Shared/DummyData/AuthoredContent")*@
            <!--
            Here is where the main content of the page goes. Everything else is WIP, but I'm confident enough that this page structure will hold no matter what. Anything inside here should show up properly, no matter what changes outside of this element.

            HAVE FUN ᕕ( ᐛ )ᕗ GO CRAZY

            !-->

        </div>

    </div>

</main>

<footer>
	<div class="footer__wrapper">
		@Html.Sitecore().Placeholder("footer")
		<ul class="footer__section footer__section--corporate">
			<li>
				<img class="footer__logo" src="@Model.FooterLogoUrl">@Model.CopyrightText
			</li>
		</ul>
		@*
			FOOTER — Double (two columns wide)
		*@
		<div class="footer__section footer__section--double">
			<ul>
				@* INDIVIDUAL LINK: START *@
				<li>
					<a href="#">1 Footer Link Placeholder</a>
				</li>
				@* INDIVIDUAL LINK: END *@
				<li>
					<a href="#">2 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">3 Footer Link Placeholder, And This One Goes To A Page With A Very Long Name</a>
				</li>
				<li>
					<a href="#">4 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">5 Footer Link Placeholder</a>
				</li>
			</ul>
		</div>

		@*
			FOOTER — Social media links
			Replace: link `href`s with dynamic social media links
		*@
		<ul class="footer__section footer__section--social">
			<li class="footer__section-header">@Model.FollowText</li>
			<li>
				<a href="@Model.LinkedInLink.Url" title="@Model.LinkedInLink.Text">
					<svg class="footer__share-icons">
						<use xlink:href="/dist/img/svg-sprite.svg#linkedin-footer"></use>
					</svg>
				</a>
				<a href="@Model.TwitterLink.Url" title="@Model.TwitterLink.Text">
					<svg class="footer__share-icons">
						<use xlink:href="/dist/img/svg-sprite.svg#twitter-footer"></use>
					</svg>
				</a>
				<a href="@Model.FacebookLink.Url" title="@Model.FacebookLink.Text">
					<svg class="footer__share-icons">
						<use xlink:href="/dist/img/svg-sprite.svg#facebook-footer"></use>
					</svg>
				</a>
			</li>
		</ul>

		<hr class="footer__separator">

		@*
			FOOTER — Single (one column wide)
		*@
		<div class="footer__section footer__section--single">
			<span class="footer__section-header">
				@Model.MenuOneHeader
			</span>
			<ul>
				@* INDIVIDUAL LINK: START *@
				<li>
					<a href="#">1 Footer Link Placeholder</a>
				</li>
				@* INDIVIDUAL LINK: END *@
				<li>
					<a href="#">Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">Footer Link Placeholder</a>
				</li>
			</ul>
		</div>

		@*
			FOOTER — Triple (three columns wide)
			Shrinks to two-wide at tablet width
		*@
		<div class="footer__section footer__section--triple">
			<span class="footer__section-header">
				@Model.MenuTwoHeader
			</span>
			<ul>
				@* INDIVIDUAL LINK: START *@
				<li>
					<a href="#">1 Footer Link Placeholder</a>
				</li>
				@* INDIVIDUAL LINK: END *@
				<li>
					<a href="#">2 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">3 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">4 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">5 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">6 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">7 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">8 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">9 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">10 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">11 Footer Link Placeholder</a>
				</li>
				<li>
					<a href="#">12 Footer Link Placeholder</a>
				</li>
			</ul>
		</div>

	</div>
</footer>

<script src="/dist/js/concat.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    svg4everybody();
});
</script>

</body>
</html>
