@model MainLayoutViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@Html.Raw(Model.Title)</title>

    <link rel="icon" type="image/png" href="/dist/img/favicon.png" />
    @if (!string.IsNullOrWhiteSpace(Model.CanonicalUrl))
    {
        <link rel="canonical" href="@Model.CanonicalUrl" />
    }

    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/dist/index-generated.css">

    <script src="/js/openadstream.js"></script>

    @* @Html.Sitecore().VisitorIdentification() *@
    @Html.Sitecore().Placeholder("head")

</head>
<body @Model.BodyCssClass>

    @Html.Partial("Global/Analytics", Model.AnalyticsViewModelSource)

    @Html.Sitecore().Rendering(Model.ItemReferences.SiteHeaderRendering.ToString())
    <main>
        @Html.Sitecore().Rendering(Model.ItemReferences.SiteSideNavigationRendering.ToString())

        <div class="main__wrapper" data-request-verification-token="@Html.RequestVerificationToken()">

            <div class="general-header">
                @Html.Sitecore().Placeholder("general-header")
            </div>

            @{  Html.RenderPartial("_MaintainenceMessage", Model.MaintenanceMessage); }
            @{  Html.RenderPartial("_IndividualSubscriptionRenewalMessage", Model.IndividualRenewalMessageInfo); }
            @{  Html.RenderPartial("Company/_RegisterMessage", Model.CompanyRegisterMessage); }

            <div class="main__content">
                @Html.Sitecore().Placeholder("top-main-content")
                @Html.Sitecore().Placeholder("main-content")
            </div>

            @* * *  POP-OUT TEMPLATE MARKUP *@
            @Html.Partial("PopOuts/SignIn", Model.SignInPopOutViewModel)
            @Html.Partial("PopOuts/Register", Model.RegisterPopOutViewModel)
            @Html.Partial("PopOuts/EmailArticle", Model.EmailArticlePopOutViewModel)
            @Html.Sitecore().Rendering(Model.ItemReferences.SaveSearchPopOutRendering.ToString())
            @* * *  END POP-OUT TEMPLATE MARKUP *@
        </div>

    </main>

    <footer>
        @Html.Sitecore().Rendering(Model.ItemReferences.SiteFooterRendering.ToString())
    </footer>

    @* If this is an Article page... *@
    <div class="boxout-print-info footer">
        <p>@Model.PrintPageHeaderMessage</p>
        <p>@Model.PrintedByText <b>@Model.UserName @(string.IsNullOrEmpty(Model.UserName) || string.IsNullOrEmpty(Model.CorporateName) ? string.Empty : ",") @Model.CorporateName</b></p>
    </div>
    @* end pseudo-if *@

    <script src="/dist/js/index.js"></script>
    @if(Model.DebugToolbar != null) { 
        Html.RenderPartial("SiteDebugging/Toolbar", Model.DebugToolbar);
    }
</body>
</html>
