@model MainLayoutViewModel

@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="@Model.Meta_Description">
    <meta name="keywords" content="@Model.Meta_Keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Model.Meta_CustomTags.ToHtmlString()

    <title>@Html.Raw(Model.Title)</title>

    <link rel="icon" type="image/png" href="/dist/img/favicon.png" />
    @if (!string.IsNullOrWhiteSpace(Model.CanonicalUrl))
    {
        <link rel="canonical" href="@Model.CanonicalUrl" />
    }

    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/dist/index-generated.css">

    @* @Html.Sitecore().VisitorIdentification() *@
    @Html.Sitecore().Placeholder("head")

</head>
<body @Model.BodyCssClass>

    @Html.Sitecore().Placeholder("primary-header")

    <main>
        @Html.Sitecore().Placeholder("inner-main")

        <div class="main__wrapper" data-request-verification-token="@Html.RequestVerificationToken()">

            <div class="general-header">
                @Html.Sitecore().Placeholder("general-header")
            </div>

            @Html.Sitecore().Placeholder("pre-content")

            <div class="main__content">
                @Html.Sitecore().Placeholder("top-main-content")
                @Html.Sitecore().Placeholder("main-content")
            </div>

            @Html.Sitecore().Placeholder("post-content")

        </div>

    </main>

    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>

    @* If this is an Article page... *@
    <div class="boxout-print-info footer">
        <p>@Model.PrintPageHeaderMessage</p>
        <p>@Model.PrintedByText <b>@Model.UserName @(string.IsNullOrEmpty(Model.UserName) || string.IsNullOrEmpty(Model.CorporateName) ? string.Empty : ",") @Model.CorporateName</b></p>
    </div>
    @* end pseudo-if *@

    <script src="/dist/js/index.js"></script>
    @if (Model.IsSiteDebuggingAllowed)
    {
        @Html.Sitecore().Placeholder("site-debugger")
    }
    @MiniProfiler.RenderIncludes()
</body>
</html>
