@model MainLayoutViewModel
@using System.Configuration
@using Informa.Library.Utilities.References        
<!DOCTYPE html>
<html>
<head>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@Model.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	@if (!string.IsNullOrWhiteSpace(Model.CanonicalUrl))
	{
		<link rel="canonical" href="@Model.CanonicalUrl" />
	}

    <!-- STATIC PLACEHOLDER -->
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/dist/index-generated.css">

    @* @Html.Sitecore().VisitorIdentification() *@
    @Html.Sitecore().Placeholder("head")
    <script type="text/javascript">
        function getCorrespondingSectr(sector) {
            if (sector == 'comment' || sector == 'features' || sector == 'analysis') {
                sector = 'analysis';
            } else if (sector == 'supplementsreports' || sector == 'multimedia' || sector == 'scienceabstracts') {
                sector = 'home';
            } else if (sector == 'therapysector' || sector == 'other') {
                sector = 'therapy';
            } else if (sector == 'cardiovascular') {
                sector = 'cardio';
            } else if (sector == 'musculoskeletal') {
                sector = 'musculo';
            } else if (sector == 'gastrointestinal') {
                sector = 'gastro';
            } else if (sector == 'genericsbusiness') {
                sector = 'genbusiness';
            } else if (sector == 'manda') {
                sector = 'merger';
            } else if (sector == 'businessstrategy') {
                sector = 'corp';
            } else if (sector == 'lifecyclemanagement') {
                sector = 'lifecycle';
            } else if (sector == 'policyregulation') {
                sector = 'policyandreg';
            } else if (sector == 'pricingreimbursement') {
                sector = 'pandr';
            } else if (sector == 'healthcarepolicy') {
                sector = 'hpolicy';
            } else if (sector == 'pharmacovigilance') {
                sector = 'pharmacv';
            } else if (sector == 'intellectualproperty') {
                sector = 'ip';
            } else if (sector == 'researchdevelopment') {
                sector = 'randd';
            } else if (sector == 'productapprovals') {
                sector = 'approvals';
            } else if (sector == 'clinicaltrials') {
                sector = 'ctrials';
            } else if (sector == 'productfilings') {
                sector = 'filings';
            } else if (sector == 'productsafety') {
                sector = 'safety';
            } else if (sector == 'productdelays') {
                sector = 'delays';
            } else if (sector == 'latinamerica') {
                sector = 'lamerica';
            } else if (sector == 'world') {
                sector = 'row';
            }
            return sector;
        }
        OAS_sitepage = '@Model.OASHostname/'+getCorrespondingSectr('home');
    </script>
    <script src="/js/openadstream.js"></script>
    <!--
    To collect end-user usage analytics about your application,
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear
    automatically in just a few seconds.
    -->
    @if (Model.AppInsightsConfig.Enabled)
    {
        <script type="text/javascript">
            var appInsights = window.appInsights || function(config) {
                function r(config) {
                    t[config] = function() {
                        var i = arguments;
                        t.queue.push(function() { t[config].apply(t, i) })
                    }
                }

                var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f;
                for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;)r("track" + i.pop());
                return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function(config, r, u, e, o) {
                    var s = f && f(config, r, u, e, o);
                    return s !== !0 && t["_" + i](config, r, u, e, o), s
                }), t
            }({
                instrumentationKey: "@Model.AppInsightsConfig.InstrumentationKey"
            });

            window.appInsights = appInsights;
            appInsights.trackPageView();
        </script>
    }
</head>
<body>

@{ Html.RenderPartial("_Header", Model.Header); }
@*@Html.Sitecore().Placeholder("header")*@

<main>

    @*@Html.Glass().InvokeAction(mvc => Execute());*@
    @{ Html.RenderPartial("_Navigation", Model.SideNavigationMenu);}

    <div class="main__wrapper" data-request-verification-token="@Html.RequestVerificationToken()">

        <div class="general-header">
            @Html.Sitecore().Placeholder("general-header")
        </div>

        @{  Html.RenderPartial("_MaintainenceMessage", Model.MaintenanceMessage); }

        <div class="main__content">
            @Html.Sitecore().Placeholder("main-content")
        </div>

        @* * *  POP-OUT TEMPLATE MARKUP *@

        @{ Html.RenderPartial("PopOuts/SignIn", Model.SignInPopOutViewModel); }
        @{ Html.RenderPartial("PopOuts/Register", Model.RegisterPopOutViewModel); }
        @{ Html.RenderPartial("PopOuts/EmailArticle", Model.EmailArticlePopOutViewModel); }

        @* * *  END POP-OUT TEMPLATE MARKUP *@

    </div>

</main>

<footer>
	@{ Html.RenderPartial("_Footer", Model.Footer);}
</footer>

<script src="/dist/js/index.js"></script>


</body>
</html>
