@model MainLayoutViewModel

@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@Html.Raw(Model.Title)</title>

    <link rel="icon" type="image/png" href="/dist/img/favicon.png" />
    @if (!string.IsNullOrWhiteSpace(Model.CanonicalUrl))
    {
        <link rel="canonical" href="@Model.CanonicalUrl" />
    }

    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/dist/index-generated.css">

    <script src="/js/openadstream.js"></script>

    @* @Html.Sitecore().VisitorIdentification() *@
    @Html.Sitecore().Placeholder("head")


	@* * *
		OPEN GRAPH TAGS FOR HOME, TOPIC, AND ARTICLE PAGES
		Replace the `content` attribute of each tag depending on the current page.

	* * *@

	@*
		HOME: 		sitecore/content/<pub name>: og:title
		TOPIC:		sitecore/content/<pub name>/path to page/<topic page>: og:title
		ARTICLE:	sitecore/content/<pub name>/path to article/<article>:Title
	*@
	<meta property="og:title" content="">

	@*
		HOME / TOPIC:	sitecore/content/<pub name>: og:image
		ARTICLE:		sitecore/content/<pub name>/path to article/<article>:Featured Image 16 9
	*@
	<meta property="og:image" content="">

	@*
		HOME: 		sitecore/content/<pub name>: og:description
		TOPIC:		sitecore/content/<pub name>/path to page/<topic page>: og:description
		ARTICLE:	sitecore/content/<pub name>/path to article/<article>: Summary
	*@
	<meta property="og:description" content="">

	@*
		HOME / TOPIC / ARTICLE: the current page URL
	*@
	<meta property="og:url" content="">

	@*
		HOME / TOPIC:	hard-coded to "website"
		ARTICLE:		hard-coded to "article"
	*@
	<meta property="og:type" content="">

	@*
		HOME / TOPIC / ARTICLE: sitecore/content/<pub name>: Publication Name
	*@
	<meta property="og:site_name" content="">

	@*
		HOME / TOPIC / ARTICLE:
		Hard-coded value of "summary_large_image" if an image exists.
		Otherwise, hard-coded value of "summary"
	*@
	<meta name="twitter:card" content="">

	@*
		HOME / TOPIC / ARTICLE: sitecore/content/<pub node>:Twitter Handle
	*@
	<meta name="twitter:site" content="">

	@* * *
		These `article:____` tags are for ARTICLE PAGES ONLY
		Hide on all other pages

		sitecore/content/<pub name>/path to article/<article>:Actual Publish Date
	* * *@
	<meta property="article:published_time" content="">

	@*
		sitecore/content/<pub name>/path to article/<article>:Modified Date
	*@
	<meta property="article:modified_time" content="">

	@*
		sitecore/content/<pub name>/path to article/<article>:Authors
			Comma-separated list. "FirstName LastName, FirstName2 LastName2, ..."
	*@
	<meta property="article:author" content="">

	@*
		sitecore/content/<pub name>/path to article/<article>:Taxonomy
			NOTE - only the top-most item
	*@
	<meta property="article:section" content="">

	@*
		sitecore/content/<pub name>/path to article/<article>:Taxonomy
			Comma-separated list of all Taxonomy items except the first one (see `article:section`)
	*@
	<meta property="article:tag" content="">


</head>
<body @Model.BodyCssClass>

    @Html.Sitecore().Placeholder("primary-header")

    <main>
        @Html.Sitecore().Placeholder("inner-main")

        <div class="main__wrapper" data-request-verification-token="@Html.RequestVerificationToken()">

            <div class="general-header">
                @Html.Sitecore().Placeholder("general-header")
            </div>

            @Html.Sitecore().Placeholder("pre-content")

            <div class="main__content">
                @Html.Sitecore().Placeholder("top-main-content")
                @Html.Sitecore().Placeholder("main-content")
            </div>

            @Html.Sitecore().Placeholder("post-content")

        </div>

    </main>

    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>

    @* If this is an Article page... *@
    <div class="boxout-print-info footer">
        <p>@Model.PrintPageHeaderMessage</p>
        <p>@Model.PrintedByText <b>@Model.UserName @(string.IsNullOrEmpty(Model.UserName) || string.IsNullOrEmpty(Model.CorporateName) ? string.Empty : ",") @Model.CorporateName</b></p>
    </div>
    @* end pseudo-if *@

    <script src="/dist/js/index.js"></script>
    @if (Model.IsSiteDebuggingAllowed) {
        @Html.Sitecore().Placeholder("site-debugger")
    }
    @MiniProfiler.RenderIncludes()
</body>
</html>
