@inherits Jabberwocky.Glass.Autofac.Mvc.Views.CustomGlassView<Informa.Web.ViewModels.MainLayoutViewModel>
<!DOCTYPE html>
<html>
<head>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Informa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STATIC PLACEHOLDER -->
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/dist/index-generated.css">

    @* <title>@Html.Sitecore().Field("title", new {DisableWebEdit = true})</title>*@
    @* @Html.Sitecore().VisitorIdentification() *@
    @Html.Sitecore().Placeholder("head")
</head>
<body>

@Html.Partial("_Header")
@*@Html.Sitecore().Placeholder("header")*@

<main>

    @*@Html.Glass().InvokeAction(mvc => Execute());*@
    @Html.Partial("_Navigation")

    <div class="main__wrapper">

		<!-- @Model.TestString -->
		@*<div class="banner banner--maintenance">
			<!-- From: @Model.MaintenanceMessage.DisplayFrom -->
			<!-- To: @Model.MaintenanceMessage.DisplayTo -->
			<div class="dismiss-button">
				<label>@Model.MaintenanceMessage.DismissText</label>
				<svg class="dismiss-button__icon">
					<use xlink:href="/dist/img/svg-sprite.svg#x"></use>
				</svg>
			</div>
			<svg class="banner__lead-icon">
				<use xlink:href="/dist/img/svg-sprite.svg#tool-maintenance"></use>
			</svg>
			@Model.MaintenanceMessage.Message
		</div>*@
		@Html.Sitecore().Placeholder("maintenance")

        <div class="main__content">

        <div class="banner banner--highlights">
            <b>Highlights:</b> ASCO is onlu 2 weeks away! <a href="#">See our round up of ASCO 2015 &gt;</a>
            </div>


            @Html.Sitecore().Placeholder("main-content")

            @*@Html.Partial("../_Shared/DummyData/AuthoredContent")*@
            <!--
            Here is where the main content of the page goes. Everything else is WIP, but I'm confident enough that this page structure will hold no matter what. Anything inside here should show up properly, no matter what changes outside of this element.

            HAVE FUN ᕕ( ᐛ )ᕗ GO CRAZY

            !-->

        </div>

    </div>

</main>

    @Html.Partial("_Footer")
    @Html.Sitecore().Placeholder("footer")

<script src="/dist/js/concat.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    svg4everybody();
});
</script>

</body>
</html>
