@model Informa.Web.ViewModels.MainLayoutViewModel
<!DOCTYPE html>
<html>
<head>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@Model.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STATIC PLACEHOLDER -->
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Roboto:400,300,500,700,400italic|Roboto+Condensed:400,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/dist/index-generated.css">

    @* <title>@Html.Sitecore().Field("title", new {DisableWebEdit = true})</title>*@
    @* @Html.Sitecore().VisitorIdentification() *@
    @Html.Sitecore().Placeholder("head")
</head>
<body>

@{ Html.RenderPartial("_Header", Model.Header); }
@*@Html.Sitecore().Placeholder("header")*@

<main>

    @*@Html.Glass().InvokeAction(mvc => Execute());*@
    @{ Html.RenderPartial("_Navigation", Model.SideNavigationMenu);}

    <div class="main__wrapper">

        @{  Html.RenderPartial("_MaintainenceMessage", Model.MaintenanceMessage); }

        @*
        <div class="general-header">
            <div class="general-header__section-title">
                Name of Section
            </div>
            <div class="general-header__navigation">
                <a href="#" class="is-active">General Content Page V1</a>
                <a href="#">Page Name</a>
                <a href="#">Page Name</a>
                <a href="#">Page Name</a>
            </div>
        </div>
        *@

        <div class="main__content">

            @Html.Sitecore().Placeholder("main-content")

        </div>

        @* * *  POP-OUT TEMPLATE MARKUP *@

        <div class="pop-out js-pop-out__sign-in">
            <div class="pop-out__tab"></div>
            <div class="pop-out__internal">
                <div class="dismiss-button">
                    <svg class="dismiss-button__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                    </svg>
                </div>

                <h4 class="pop-out__header">
                    You must sign in to use this functionality
                </h4>
                @* { Html.RenderPartial("_SignInForm", Model.SignInViewModel); } *@
            </div>
        </div>

        <div class="pop-out js-pop-out__email-article">
            <div class="pop-out__tab"></div>
            <div class="pop-out__internal">
                <div class="dismiss-button">
                    <svg class="dismiss-button__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#x"></use>
                    </svg>
                </div>

                <h4 class="pop-out__header">
    				Email Article
    			</h4>

    			<p class="pop-out__details">
    				All fields are required. For multiple recipients, separate email addresses with a semicolon.
    			</p>
    			<input class="inf-standard-form-field"
    				   type="text"
    				   placeholder="Recipient Email Address">
    			<input class="inf-standard-form-field"
    				   type="text"
    				   placeholder="Your Name">
    			<input class="inf-standard-form-field"
    				   type="text"
    				   placeholder="Your Email">
    			<p>
    				<span class="pop-out__run-in">Subject:</span> 1st U.S. Biosimilar Arrives: Zarxio Launches
    			</p>
    			<p><span class="pop-out__run-in">Add a personalized message to your email</span></p>
    			<textarea class="text-field"></textarea>
    			<div class="pop-out__form-actions-wrapper">
    				<div>
    					<a href="#">Cancel</a>
    				</div>
    				<div class="sign-in__submit-wrapper">
    					<button class="button--filled sign-in__submit">Send</button>
    				</div>
    			</div>
    			<p class="pop-out__details u-italic">
    				<b>Please Note:</b> Only individuals with subscriptions to SCRIP will be able to access the full article. All other readers will be directed to the abstract and may purchase the article.
    			</p>
            </div>
        </div>

        @* * *  END POP-OUT TEMPLATE MARKUP *@

    </div>

</main>

<footer>
	@{ Html.RenderPartial("_Footer", Model.Footer);}
</footer>

<script src="/dist/js/index.js"></script>

</body>
</html>
