@model Informa.Web.ViewModels.FinanceCompanies.AMGraphsViewModel

<script src="~/js/components/AMchartsGroup.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
<div class="carousel-div-graph" id="graph-carousel">
    <div>
        <h1 >@Model.CompanyName</h1>
    </div>
        <div class="graph_heading">
            <span>@Model.FiveYearTrends</span>
        </div>
        <div class="graphsPan owl-carousel owl-theme owl-loaded owl-responsive-1000">

            @foreach (var Graph in Model.AMGraphModels)
            {
                <div class="loadChart graph-container item">
                    <h5><a href="@Model.CompanyGraphPageUrl?Id=@Model.GlassModel._Id&companyid=@Model.CompanyID&graphid=@Graph.GraphID">@Graph.GraphTitle</a></h5>
                    <a href="/"><div id="chartdiv_@Graph.GraphID" style="width:287px; height:220px;"></div></a>
                    <script>
                        var data = JSON.parse(JSON.stringify(@Html.Raw(Graph.FinanceResult)));
                        var chartData = JSON.stringify(data[0]["@Graph.GraphID"]);
                        var chartData = data[0]["@Graph.GraphID"];
                        PrintCompanyGraph(chartData, "chartdiv_@Graph.GraphID", "@Graph.GraphType", "@Graph.GraphColor")
                    </script>
                </div>
            }
            <script type="text/javascript">
                setTimeout(function () { $("a[title='JavaScript charts']").hide() }, 600);
            </script>
        </div> 
</div>
