@model Informa.Web.ViewModels.FinanceCompanies.CompanyGraphViewModel
<script src="~/js/components/AMchartsGroup.js"></script>
<script type="text/javascript" src="/dist/js/amcharts.js"></script>
<script type="text/javascript" src="/dist/js/serial.js"></script>
<div class="compareChart">
    <h4 class="showinMob">@Model.AvailableGraphsText</h4>
    <div class="showAll">
        <a class="expandAll" href="javascript: void(0);">@Model.ExpandAll</a><a> / </a><a class="collapseAll" href="javascript: void(0);">@Model.CollapseAll</a>
    </div>
    @foreach (var Graph in Model.AMGraphModels)
    {

        <div class="eachChartData company-graphs-accordion-stockchart">
            <div class="dataTitle" id="@Graph.GraphID">
                <div class="title">@Graph.GraphTitle.ToUpperInvariant()</div>
                <div class="chartexpand"></div>
            </div>
            <div class="graph-container lightgray-body hide">
                <div id="chartdiv_@Graph.GraphID" style="height:220px;"></div>
                @if(!string.IsNullOrEmpty(Graph.FinanceResult))
                {
                    <script>
                        var data = JSON.parse(JSON.stringify(@Html.Raw(Graph.FinanceResult)));
                        var chartData = JSON.stringify(data[0]["@Graph.GraphID"]);
                        var chartData = data[0]["@Graph.GraphID"];
                        PrintCompanyGraph(chartData, "chartdiv_@Graph.GraphID", "@Graph.GraphType", "@Graph.GraphColor")
                    </script>
                }
                else
                {
                    <script>
                        PrintCompanyGraph("", "chartdiv_@Graph.GraphID", "@Graph.GraphType", "@Graph.GraphColor")
                    </script>
                }
            </div>
        </div>

    }
</div>








