@model Informa.Web.ViewModels.FinanceCompanies.CompanyGraphViewModel
<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript">
    function PrintCompanyGraph(chartData, divId, graphType, color) {
            AmCharts.makeChart(divId,
                            {
                                "type": "serial",
                                "categoryField": "year",
                                "dataDateFormat": "YYYY",
                                "handDrawScatter": 4,
                                "theme": "default",
                                "categoryAxis": {
                                    "minPeriod": "YYYY",
                                    "parseDates": true,
                                    "gridPosition": "start",
                                    "autoGridCount": true
                                },
                                "chartCursor": {
                                    "enabled": true,
                                    "animationDuration": 0,
                                    "categoryBalloonDateFormat": "YYYY"
                                },
                                "trendLines": [],
                                "graphs": [
                                    {
                                        "fillAlphas": 0.7,
                                        "id": "AmGraph-1",
                                        "lineAlpha": 0,
                                        "title": "graph 1",
                                        "valueField": "value",
                                        "type": graphType,
                                        "lineColor": "#" + color,
                                        "fillColor": "#" + color,
                                        "startDuration": 0,
                                        "startRadius": "100%",
                                        "balloonText": "[[category]]: [[value]]"
                                    }
                                ],
                                "guides": [],
                                "valueAxes": [
                                    {
                                        "id": "ValueAxis-1",
                                        "title": ""
                                    }
                                ],
                                "allLabels": [],
                                "balloon": {},
                                "dataProvider": chartData
                            }
                        );
    }
   
</script>
<div class="article-left-rail">
    <div class="showAll">
        <a class="expandAll" href="javascript: void(0);">@Model.ExpandAll</a><a> / </a><a class="collapseAll" href="javascript: void(0);">@Model.CollapseAll</a>
    </div>
    @foreach (var Graph in Model.AMGraphModels)
    {
        <div class="eachChartData company-graphs-accordion-stockchart">
            <div class="dataTitle" id="UR">
                <div class="title">@Graph.GraphTitle.ToUpperInvariant()</div>
                <div class="chartexpand"></div>
            </div>
            <div class="graph-container lightgray-body">
                <div id="chartdiv_@Graph.GraphID" style="width:730px; height:220px; background-color: #FFFFFF;border: 1px solid grey;margin:5px;"></div>
                <script>
                    var data = JSON.parse(JSON.stringify(@Html.Raw(Graph.FinanceResult)));
                    var chartData = JSON.stringify(data[0]["@Graph.GraphID"]);
                    var chartData = data[0]["@Graph.GraphID"];
                    PrintCompanyGraph(chartData, "chartdiv_@Graph.GraphID", "@Graph.GraphType", "@Graph.GraphColor")
                </script>
            </div>
        </div>
        <script type="text/javascript">
            setTimeout(function () { $("a[title='JavaScript charts']").hide() }, 3000);
        </script>
    }
    </div>







