
@model  Informa.Web.ViewModels.FinanceCompanies.CompanyAddressViewModel




<div class="messaging_webUsers swissgroup">
    <h3>@Model.CompanyName</h3>
    <div class="msg-text">
        <img class="swissImg" width="100" height="62" src="@Model.CompanyLogo" />
        <p>@Model.CompanyAddress</p>
        <p>Web: <a href="@Model.CompanyUrl">@Model.CompanyUrl</a></p>

        <hr />
        <p>@Model.CompanyIntroductionText</p>

    </div>
</div>