@model Informa.Web.ViewModels.FinanceCompanies.CompaniesResultViewModel
@using Informa.Library.Utilities.References

@if (Model != null && Model.RenderingParameters != null && Model.RenderingParameters.TableType != null && !string.IsNullOrWhiteSpace(Model.RenderingParameters.TableType.Value))
{
    if (Model.RenderingParameters.TableType.Value == Constants.CompaniesResultTableTypes.AnnualResults)
    {
        <script type="text/javascript">
            var jsonMappingData = @Html.Raw(Model.JsonMappingData);
            var jsonResultAnnual =  @Html.Raw(Model.ResultsData);
        </script>
    }

    if (Model.RenderingParameters.TableType.Value == Constants.CompaniesResultTableTypes.CompareFinancialResults)
    {
        <script type="text/javascript">    
            var jsonMappingData = @Html.Raw(Model.JsonMappingData);       
            var jsonFinancialResultForCompare =  @Html.Raw(Model.CompareFinancialResults);
        </script>
    }

    if (Model.RenderingParameters.TableType.Value == Constants.CompaniesResultTableTypes.FinancialResults)
    {
        <script type="text/javascript">
            var jsonResultFinancial =  @Html.Raw(Model.ResultsData);
        </script>
    }
    if (Model.RenderingParameters.TableType.Value == Constants.CompaniesResultTableTypes.QuarterlyResults)
    {
        <script type="text/javascript">
            var jsonResultQuarterly = @Html.Raw(Model.ResultsData);
        </script>
    }

    <div class="table ID-Responsive-Table" data-modal="modal-@Model.RenderingParameters.TableType.Value" id="@Model.RenderingParameters.TableType.Value">
        <div class="table_head pad-10">
            <span class="RB16">@Model.GlassModel.TableTitle</span>
            <a href="#" data-toggle="modal-@Model.RenderingParameters.TableType.Value" class="hidden-xs">
                <img align="right" src="/dist/img/breakout-arrows-transparent.png" />
            </a>
        </div>
        <div class="graybg pad-10">&nbsp;</div>
        <div>
            <div class="states_heading">
                <div class="year_heading">COMPANY
                    <a href="#" class="sort" category="companies" type="ascending">
                        <svg class="sorting-arrows__arrow sorting-arrows__arrow--down"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use></svg>
                    </a>
                    <a href="#" class="sort" category="companies" type="descending">
                        <svg class="sorting-arrows__arrow sorting-arrows__arrow--down"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use></svg>
                    </a>
                </div>
               
            </div>

            <div class="owl-carousel">
            </div>
        </div>
    </div>

    <div class="ID-responsive-table-modal" id="modal-@Model.RenderingParameters.TableType.Value">
        <div class="container">
            <span class="table_close">
                <svg class="dismiss-button__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use>
                    UsernamePublicRestriction
                </svg>
            </span>
            <div class="idi-table-heading">
                <p>@Model.GlassModel.TableTitle</p>
            </div>
            <div class="table-wrapper">
                <div class="table">
                </div>
            </div>
        </div>
    </div>
}
