
@model  Informa.Web.ViewModels.FinanceCompanies.CompanyAddressViewModel



<div>
    @Model.CompanyID
</div> 

<div>
    @Model.CompanyName 
</div>

<div>
    @Model.CompanyAddress
</div>
<div>
  @Html.Raw(Model.CompanyLogo)
</div>
<div>
    @Html.Raw(Model.CompanyUrl)
</div>
<div>
    @Model.CompanyTitle
</div>
