@model Informa.Web.ViewModels.FinanceCompanies.CompaniesCarouselViewModel

<script src="~/js/components/AMchartsGroup.js"></script>
<script type="text/javascript" src="/dist/js/amcharts.js"></script>
<script type="text/javascript" src="/dist/js/serial.js"></script>

<div class="carousel-div" id="main-carousel">
    <div class="companies_heading">
        <span>@Model.CarouselHeading</span>
    </div>
    <div>
        <ul id="mycarousel" class="owl-carousel owl-theme owl-loaded owl-responsive-1000 hideinMob">
            @foreach (var company in Model.CompanyCarouselPanels)
            {
                <li class="item">
                    <div class="li-content-company">
                        <a href="@company.CompanyLandingPageUrl"><img src="@company.CompanyLogo" alt="companyLogo" /></a>
                        <p><a href="@company.CompanyLandingPageUrl">@company.CompanyName</a></p>
                        <p class="view-more-info"><a href="@company.CompanyLandingPageUrl">@Model.ViewMoreInfoText</a></p>
                    </div>
                </li>
                foreach (var Graph in company.Graphs)
                {
                    var chartDivId = company.CompanyId + "_" + Graph.GraphID;
                    <li class="item">
                        <div class="li-content-graph">
                            <p><a href="@company.CompanyGraphPageUrl&companyid=@company.CompanyId&graphid=@Graph.GraphID">@Graph.GraphTitle</a></p>
                            <a href="@company.CompanyGraphPageUrl&companyid=@company.CompanyId&graphid=@Graph.GraphID"><div id="@chartDivId" style="width:235px; height:140px; background-color: #FFFFFF;border: 1px solid grey;margin:5px;"></div></a>
                        </div>
                        <script>
                            var data = JSON.parse(JSON.stringify(@Html.Raw(Graph.FinanceResult)));
                            var chartData = JSON.stringify(data[0]["@Graph.GraphID"]);
                            var chartData = data[0]["@Graph.GraphID"];
                            PrintCompanyGraph(chartData, "@chartDivId", "@Graph.GraphType", "@Graph.GraphColor")
                        </script>
                    </li>
                }
            }
        </ul>

        <ul id="mycarousel2" class="owl-carousel owl-theme owl-loaded owl-responsive-1000 showinMob">
            @foreach (var company in Model.CompanyCarouselPanels)
            {
                <li class="item">
                    <div>
                        <div class="li-content-company">
                            <a href="@company.CompanyLandingPageUrl"><img src="@company.CompanyLogo" alt="companyLogo" /></a>
                            <p><a href="@company.CompanyLandingPageUrl">@company.CompanyName</a></p>
                            <p class="view-more-info"><a href="@company.CompanyLandingPageUrl">@Model.ViewMoreInfoText</a></p>
                        </div>

                        @foreach (var Graph in company.Graphs)
                        {
                            var chartDivId = company.CompanyId + "_M" + Graph.GraphID;
                            <div class="li-content-graph">
                                <p><a href="@company.CompanyGraphPageUrl&companyid=@company.CompanyId&graphid=@Graph.GraphID">@Graph.GraphTitle</a></p>
                                <a href="@company.CompanyGraphPageUrl&companyid=@company.CompanyId&graphid=@Graph.GraphID"><div id="@chartDivId" style="width:235px; height:140px; background-color: #FFFFFF;border: 1px solid grey;margin:5px;"></div></a>
                            </div>
                            <script>
                                var data = JSON.parse(JSON.stringify(@Html.Raw(Graph.FinanceResult)));
                                var chartData = JSON.stringify(data[0]["@Graph.GraphID"]);
                                var chartData = data[0]["@Graph.GraphID"];
                                PrintCompanyGraph(chartData, "@chartDivId", "@Graph.GraphType", "@Graph.GraphColor")
                            </script>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
