
@model  Informa.Web.ViewModels.FinanceCompanies.CompanyAddressViewModel




<div style="border: 1px solid grey;">
    <h5>
        @Model.CompanyName
    </h5>
    <div>
        <img src="@Model.CompanyLogo" style="height:50px" />
    </div>
    <div>
        @Model.CompanyAddress
    </div>
    
    <div>
        <a href="@Model.CompanyUrl">@Model.CompanyUrl</a>
    </div>
<div>
    @Model.CompanyIntroductionText
</div>
</div>