@model Informa.Web.ViewModels.FinanceCompanies.CompanyPeerGroupViewModel
<div class="messaging_webUsers companyPeerGrp article-sidebar">
    <h3>@Model.PeerGroupTitle</h3>
    <div class="msg-text">
        <p>@Model.PeerGroupDescription</p>
        <a class="button--filled goBtn" href="@Model.PeerGroupGoBtnLink">@Model.PeerGroupGoBtnText</a>
        <hr />
        <p>@Model.PeerGroupHelpText</p>
        <div class="button-msg-webUser">
            <div class="msg_link">
                @if (Model.PeerCompanies != null && Model.PeerCompanies.Any())
                {
                    foreach (var peer in Model.PeerCompanies)
                    {
                        <a href="@peer.LinkableUrl">@peer.LinkableText</a>
                    }
                }
            </div>
        </div>
    </div>
</div>