@model Informa.Web.ViewModels.FinanceCompanies.PeerGroupDetailViewModel


<div class="article-left-rail">
    <div class="compareChart">
        <div class="showAll">
            <a class="expandAll" href="javascript: void(0);">@Model.ExpandAll</a> / <a class="collapseAll" href="javascript: void(0);">@Model.CollapseAll</a>
        </div>
        <script type="text/javascript">
            var dataVars = {}
            var Peercompanies = [];
        </script>
        @foreach (var graph in Model.PeerCompaniesGraphList)
        {
            int i = 1;
            <div class="eachChartData company-graphs-accordion-stockchart">
                <div class="dataTitle" id="@graph.GraphID">
                    <div class="title">@graph.GraphName.ToUpperInvariant()</div>
                    <div class="chartexpand"></div>
                </div>
                <div class="chartData hide" id="@graph.GraphID-DATA">
                    <div id="@graph.GraphID-CHART"></div>
                    @foreach(var peerComapny in graph.CompanyGraphs)
                    {
                        
                        <script>
                            Peercompanies.push('@peerComapny.CompanyName');
                            var data = JSON.parse(JSON.stringify(@Html.Raw(peerComapny.FinanceResult)));
                            var chartData = JSON.stringify(data[0]["@graph.GraphID"]);
                            var chartData = data[0]["@graph.GraphID"];
                            dataVars["chartData" +@i +"_" + '@graph.GraphID'] = chartData;
                        </script>
                        i++;
                    }
                    
                    <script>
                        var chartDataSet = JSON.parse(JSON.stringify(Peercompanies));
                        while (Peercompanies.length > 0) {
                            Peercompanies.pop();
                        }
                    </script>
                </div>
            </div>
        }
    </div>
</div>
<script>
    @*var compareColors = '@Model.CompanyCompareColors';
    GraphcompareColors = compareColors.split(",");*@   
</script>
<script src="/dist/js/amstock.js" type="text/javascript"></script>


