@model Informa.Web.ViewModels.FinanceCompanies.CompanyPeerGroupViewModel
<div class="company-peer-group">
    <span class="peer-group-title">@Model.PeerGroupTitle</span>
    <div class="peer-group-description">
        @Model.PeerGroupDescription
        <span class="peer-group-go-btn"><a href="@Model.PeerGroupGoBtnLink">@Model.PeerGroupGoBtnText</a></span>
    </div>
    <hr />
    <div class="companies-inculded">
        <p>@Model.PeerGroupHelpText</p>
        @if (Model.PeerCompanies != null && Model.PeerCompanies.Any())
        {
            foreach (var peer in Model.PeerCompanies)
            {
                <a href="@peer.LinkableUrl">@peer.LinkableText</a><br/>
            }
        }
    </div>
</div>

