@using Informa.Library.Utilities.References
@using Informa.Web.Models
@using Sitecore.Resources.Media
@inherits CustomGlassView<Informa.Web.ViewModels.PDF.ArticleBodyForPDFViewModel>

<div class="article-body-content">
    <div class="article-metadata">
        <table>
            <tr>
                <td style="float: left; font-size: 15px; line-height: 20px; border-right:1px solid #5a5758; padding:0 10px 0 0; font-weight: 700;">
                    <span class="article-metadata__date">@Model.Date.ToString("dd MMM yyyy")</span>
                </td>
                @if (!string.IsNullOrEmpty(Model.ContentType))
            {
                    <td style="float: left; font-size: 15px; line-height: 20px;  border-right:1px solid #5a5758; padding:0 10px 0 10px; font-weight: 700;">
                        @if (!string.IsNullOrEmpty(Model.ContentType) && Model.ContentType.Length > 15)
                        {
                            var trimmedContentType = new string(Model.ContentType.Take(15).ToArray()) + " ...";
                            <span class="article-content-type">@trimmedContentType</span>
                        }
                        else
                        {
                            <span class="article-content-type">@Model.ContentType</span>
                        }

                    </td>
                }

                @foreach (var tag in Model.ArticleTagsViewModel.Tags)
                {
                    if (tag.LinkableText != Model.ArticleTagsViewModel.Tags.Last().LinkableText)
                    {
                        <td style="float: left; font-size: 15px; line-height: 20px;  border-right:1px solid #5a5758; padding:0 10px 0 10px; font-weight: 700;">
                            @if (!string.IsNullOrEmpty(tag.LinkableText) && tag.LinkableText.Length > 15)
                            {
                                var trimmedTagText = new string(tag.LinkableText.Take(15).ToArray()) + " ...";
                                <a style="color:#be1e2d; text-decoration:none;" href="@tag.LinkableUrl">@trimmedTagText</a>
                            }
                            else
                            {
                                <a style="color:#be1e2d; text-decoration:none;" href="@tag.LinkableUrl">@tag.LinkableText</a>
                            }

                        </td>
                    }
                    else
                    {

                        <td style="float: left; font-size: 15px; line-height: 20px; padding:0 10px 0 10px; font-weight: 700;">
                            @if (!string.IsNullOrEmpty(tag.LinkableText) && tag.LinkableText.Length > 15)
                            {
                                var trimmedTagText = new string(tag.LinkableText.Take(15).ToArray()) + " ...";
                                <a style="color:#be1e2d; text-decoration:none;" href="@tag.LinkableUrl">@trimmedTagText</a>
                            }
                            else
                            {
                                <a style="color:#be1e2d; text-decoration:none;" href="@tag.LinkableUrl">@tag.LinkableText</a>
                            }

                        </td>
                    }

                }
            </tr>
        </table>
        <h1 style="margin: 10px 0; padding: 0px;"><a class="article-title" style="color:#be1e2d; text-decoration:none;" href="@Model.ArticleLandingPageUrl">@Html.Raw(Model.Title)</a></h1>
        <h3>@Html.Raw(Model.Sub_Title)</h3>
    </div>

    @* MULTIPLE AUTHORS *@
    @{
        var authors = Model.Authors.Take(3).ToArray();
    }
    @if (authors.Length == 1)
    {
        var author = authors.FirstOrDefault();
        @* SINGLE AUTHOR*@
        <div class="article-author article-author--solo">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr class="article-author__list">

                    <td class="article-author__solo-wrapper" style="color:#58595b; text-decoration:none; padding: 0 0 20px 0; white-space: nowrap;">
                        <span>
                            by
                            @if (author.InActive)
                            {
                                @author.Name
                            }
                            else
                            {
                                <a style="color:#58595b; text-decoration:none;" href="@author.AuthorLink">@author.Name</a>
                            }
                        </span>
                        @if (!string.IsNullOrEmpty(author.Twitter) && !string.IsNullOrEmpty(author.Email_Address))
                        {
                            <span class="article-author__contact" style="color:#be1e2d; text-decoration:none;">
                                <table cellpadding="0" cellspacing="0">
                                    <tr><td height="10">&nbsp;</td></tr>
                                    <tr>
                                        <td style="padding:0 10px 0 0;">
                                            @if (!string.IsNullOrEmpty(author.Twitter))
                                            {
                                                <a style="color:#be1e2d; text-decoration:none;" href="http://www.twitter.com/@author.Twitter" target="_blank" class="click-utag" data-info='{"event_name" : "author-twitter"}'>&#64;@author.Twitter</a>
                                            }
                                        </td>
                                        @if (!string.IsNullOrEmpty(author.Twitter) && !string.IsNullOrEmpty(author.Email_Address))
                                        {
                                            <td style="width: 10px;"></td>
                                            <td style="border-left:1px solid #5a5758;"></td>
                                            <td style="width: 10px;"></td>
                                        }
                                        <td style="padding:0 10px 0 10px;">

                                            @if (!string.IsNullOrEmpty(author.Email_Address))
                                            {
                                                <a style="color:#be1e2d; text-decoration:none;" href="mailto:@author.Email_Address" class="click-utag" data-info='{"event_name" : "mail-to-author"}'>@author.Email_Address</a>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </span>
                        }

                    </td>
                </tr>
            </table>
        </div>
        @*<table>
                <tr><td>  <img src="/~/media/Icons/PDF%20Icons/borderline.gif" alt="border-line" style="height: 1px; overflow: hidden;" /> </td></tr>
                <tr><td height="10"></td></tr>
            </table>*@

        @* END SINGLE AUTHOR *@

    }
    else if (authors.Length > 1)
    {
        <div class="article-author">
            <table>

                @foreach (var author in authors)
                {
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" style="color:#58595b; font-size:15px;">
                                        by
                                        @if (author.InActive)
                                        {
                                            @author.Name
                                        }
                                        else
                                        {
                                            <a style="color:#58595b; text-decoration:none;" href="@author.AuthorLink">@author.Name</a>
                                            @*<span class="article-author__name" style="color:#58595b; text-decoration:none; padding: 0 0 20px 0;"><a href="@author.AuthorLink">@author.Name</a></span>*@
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td height="5"></td></tr>
                    <tr>
                        <td class="article-author__contact" style="color:#be1e2d; text-decoration:none;">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="padding:0 10px 0 0;">
                                        @if (!string.IsNullOrEmpty(author.Twitter))
                                        {
                                            <a style="color:#be1e2d; text-decoration:none;" href="http://www.twitter.com/@author.Twitter" target="_blank" class="click-utag" data-info='{"event_name" : "author-twitter"}'>&#64;@author.Twitter</a>
                                        }
                                    </td>
                                    @if (!string.IsNullOrEmpty(author.Twitter) && !string.IsNullOrEmpty(author.Email_Address))
                                    {
                                        <td style="width: 10px;"></td>
                                        <td style="border-left:1px solid #5a5758;"></td>
                                        <td style="width: 10px;"></td>
                                    }
                                    <td style="padding:0 10px 0 10px;">

                                        @if (!string.IsNullOrEmpty(author.Email_Address))
                                        {
                                            <a style="color:#be1e2d; text-decoration:none;" href="mailto:@author.Email_Address" class="click-utag" data-info='{"event_name" : "mail-to-author"}'>@author.Email_Address</a>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td height="10"></td></tr>
                }

            </table>
            @*<table>
                    <tr><td>  <img src="/~/media/Icons/PDF%20Icons/borderline.gif" alt="border-line" style="height: 1px; overflow: hidden;" /> </td></tr>
                    <tr><td height="10"></td></tr>
                </table>*@
        </div>
        @* END MULTIPLE AUTHORs *@
    }
    @* If plugin created summary for article, it's the same as first paragraph... so hide summary. *@
    @if (!string.IsNullOrEmpty(Model.Summary) && !Model.Body.Contains(Model.Summary))
    {
        @* * * Executive Summary *@

        @*<div class="article-executive-summary">*@
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            @if (authors != null && authors.Any())
            {
                <tr><td height="15"></td></tr>
            }
            <tr>
                <td>
                    <h4 style="font-size:21px; font-weight:700; margin:0px; padding:0px;">@Model.ExecutiveSummary</h4>

                </td>
            </tr>
            <tr><td height="10"></td></tr>
            <tr>
                <td>
                    <span class="article-executive-summary-body" style="font-size:13px; line-height:20px; color:#58595b;">@Html.Raw(Html.TokenTransform().RenderCompanyLink(x => x.Summary))</span>
                </td>
            </tr>
        </table>
        @*</div>*@
        @* End Executive Summary  *@
    }
    @if (Model.Image != null && !string.IsNullOrEmpty(Model.Image.ImageUrl))
    {
        @* * *  ARTICLE - FEATURED IMAGE
            IIPP-117 *@
        <div class="article-inline-image" style="float: left; padding-right: 10px; width:500px;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr><td height="10"></td></tr>
                <tr>
                    <td colspan="2"><img src="@Model.Image.GetScaledImage(790)" alt="@Model.Image.ImageAltText"></td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.Image.ImageCaption) || !string.IsNullOrEmpty(Model.Image.ImageSource))
                {
                    <tr><td height="10"></td></tr>
                }
                <tr>
                    <td align="left" valign="top">
                        <span class="article-inline-image__caption" style="text-align:left; color:#58595b; font-size:14px; line-height:20px;">@Model.Image.ImageCaption</span>
                    </td>
                    <td align="right" valign="top">
                        @if (!string.IsNullOrEmpty(Model.Image.ImageSource))
                        {

                            <span class="article-inline-image__source" style="text-align:right; font-style:italic; color:#58595b; font-size:12px; line-height:20px;">
                                @Model.FeaturedImageSource @Model.Image.ImageSource
                            </span>
                        }
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.Image.ImageSource))
                {
                    <tr><td height="15"></td></tr>
                }
                else
                {
                    <tr><td height="10"></td></tr>
                }
            </table>
        </div>
        @* * *  END ARTICLE - FEATURED IMAGE *@
    }   
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr><td height="10"></td></tr>
        <tr>
            <td>@Html.Raw(Html.TokenTransform().RenderTokenBody(x => x.Body, "../Article/_ArticleSidebar"))</td>
        </tr>
    </table>
</div>
@if (Model.RelatedArticles != null && Model.RelatedArticles.Any())
{
    <table>
        <tr><td height="10"></td></tr>
        <tr><td><img src="/~/media/Icons/PDF%20Icons/borderline.gif" alt="border-line" style="height: 1px; overflow: hidden;" /> </td></tr>
        <tr><td>&nbsp;</td></tr>
    </table>
    <div class="article-related-content">
        <h3>Related Content</h3>
        <table width="100%">
            @foreach (var article in Model.RelatedArticles)
            {
                Html.RenderPartial("/Views/Shared/Components/PDF/PDFRelatedArticles.cshtml", article);
            }
        </table>
    </div>
}
<table>
    <tr><td>&nbsp;</td></tr>
    <tr><td><img src="/~/media/Icons/PDF%20Icons/borderline.gif" alt="border-line" style="height: 1px; overflow: hidden;" /> </td></tr>
    <tr><td>&nbsp;</td></tr>
</table>