@model Informa.Web.ViewModels.PDF.ManuallyCuratedPDFViewModel
<div class="main-content-pdf" id="mainContentPdf">
    <div class="pdf-header"><h4>@Html.Raw(Model.PDFHeader)</h4></div>
    <div class="pdf-title">
        <h1>@Model.PDFTitle</h1>
    </div>
    <div class="pdf-subTitle">
        <h4>@Model.PDFSubTitle</h4>
    </div>
    <div class="pdf-body">@Html.Sitecore().Placeholder("pdf-content")</div>
    <div class="pdf-footer"><h4>@Html.Raw(Model.PDFFooter)</h4></div>
</div>

