@model Informa.Web.ViewModels.JobsAndClassifieds.JobDetailsViewModel
<div class="pdf-classified" style="text-align:justify">    
    <div>
        <h3 style="text-align:center">@Model.TextTranslator.Translate("PDF.Classified.Heading")</h3>
        <div class="job_logo">            
                <img src="@Model.JobLogo.Src" alt="@Model.JobLogo.Alt" align="center">            
        </div>
        <div class="job_detail">
            <h1>@Model.JobTitle</h1>
            <div class="sub-heading-text">
                <h3>@Model.JobSubTitle</h3>
                <div class="job_description" style="color:#58595b; font-size:15px; line-height:20px; text-align:justify">
                    @Html.Raw(Model.JobDescription)
                </div>
            </div>
        </div>
    </div>   
</div>
