@model Informa.Web.ViewModels.PDF.PersonalizedContentPDFViewModel
<div class="main-content-pdf" id="mainContentPdf">
    <div class="pdf-header">
        @Html.Raw(Model.PDFHeader)
    </div>
    <div class="pdf-title" style="clear:both;">
        <h1>@Model.PDFTitle</h1>
    </div>
    <div class="pdf-subTitle">
        <div style="color:#58595b;">@Html.Raw(Model.PDFSubTitle)</div>
    </div>

    <table>
        <tr><td>&nbsp;</td></tr>
        <tr><td>  <img src="/~/media/Icons/PDF%20Icons/borderline.gif" alt="border-line" style="height: 1px; overflow: hidden;" /> </td></tr>
        <tr><td>&nbsp;</td></tr>
    </table>
    <div class="pdf-body">
        <div class="personalized-pdf-article-body"></div>
        @Html.Sitecore().Placeholder("personalized-pdf")
    </div>
    <div class="pdf-footer"><h4>@Html.Raw(Model.PDFFooter)</h4></div>
</div>
