<!-- SEARCH FILTERS IN LEFT RAIL -->

<script type="text/javascript">
        var datesObject = {
            year: '@DateTime.Now.AddDays(-365).ToString("MM/dd/yyyy")',
            day: '@DateTime.Now.AddDays(-1).ToString("MM/dd/yyyy")',
            threedays: '@DateTime.Now.AddDays(-3).ToString("MM/dd/yyyy")',
            month: '@DateTime.Now.AddDays(-30).ToString("MM/dd/yyyy")',
            week: '@DateTime.Now.AddDays(-7).ToString("MM/dd/yyyy")',
        }
</script>

<button 
  class="facets__mobile-button"
  ng-model="collapsefilters" 
  ng-click="collapsefilters = !collapsefilters" 
  ng-class="{'isExpanded': collapsefilters}">
  <h6 class="show-filters">Show Filters</h6>
  <h6 class="hide-filters">Hide Filters</h6>
</button>

<div 
  id="search-facet-01" 
  class="search__facets search__left-sidebar" 
  ng-class="{'isExpanded': collapsefilters}" 
  ng-controller="InformaFacetController as allFacets">

  <div class="facets__header">
    <h3>Filter By</h3>
    <button class="facets__button facets__button--clear" ng-click="allFacets.clearAllFacets()">Clear All</a>
  </div>

  <div class="facets__content">

    <form class="facets__section"
            ng-repeat="group in allFacets.facetGroups">

          <fieldset ng-if="group.label == 'Companies'" class="facets__fieldset" ng-controller="InformaTypeaheadController">
              <legend class="facets__legend facets__section-header">
                  <h4>Companies</h4>
                  <button class="facets__button facets__button--toggle-section"
                          ng-model="collapsecompanies"
                          ng-click="collapsecompanies=!collapsecompanies; isCollapsedCompanies=!isCollapsedCompanies"
                          ng-class="{'collapsed': isCollapsedCompanies}">
                      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use></svg>
                  </button>
              </legend>
              <ul class="facets__section-list" ng-hide="collapsecompanies">

              <!-- sample added company 
                  <li>
                      <input type="checkbox" class="visuallyhidden">
                      <label>Amgen (537)</label>
                  </li> 
               /sample added company -->

                  <li ng-repeat="myCompany in savedCompanies">
                    <input type="checkbox" class="visuallyhidden" id="{{myCompany.label}}" ng-checked="myCompany.selected">
                    <label for="{{myCompany.label}}">{{myCompany.label}}</label>
                  </li>
                  <li class="facets__company-input" ng-show="isAddingCompany">
                      <div class="facets__field-group facets__field-group--companies">
                          <button class="facets__button facets__button--clear-company"
                                  ng-class="{'collapsed': isCollapsedCompanies}"
                                  ng-click="isAddingCompany = false;">
                              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use></svg>
                          </button>
                          <input 
                            type="text" 
                            id="company-field" 
                            name="company-field" 
                            placeholder="Enter a Company"
                            ng-model="myCompany.selected"
                            typeahead="company for company in companies | filter:$viewValue | limitTo:10" 
                            typeahead-min-length=2 
                            typeahead-select-on-blur="true" 
                            typeahead-select-on-exact="true" 
                            typeahead-on-select='saveCompany($item); isAddingCompany = false;' 
                            typeahead-editable="false"
                            class="form-control"
                            autocomplete="off">

                            <!-- add to above input for loading & no results: 
                                typeahead-loading="loadingCompanies" 
                                typeahead-no-results="noCompanies" 
                                add below:
                                <i ng-show="loadingCompanies" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noCompanies">
                                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            -->

                      </div>
                  </li>
              </ul>
              <button class="facets__button facets__button--add"
                  ng-model="isAddingCompany"
                  ng-class="{'collapsed': isCollapsedCompanies, 'adding-company': isAddingCompany}"
                  ng-hide="isAddingCompany"
                  ng-click="isAddingCompany = true">
                  Add
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#add"></use></svg>
              </button>
          </fieldset>

        <fieldset ng-if="group.label == 'Date Placeholder'" class="facets__fieldset">
            <legend class="facets__legend facets__section-header">
                <h4>Date</h4>
                <button class="facets__button facets__button--toggle-section"
                        ng-model="collapsedate"
                        ng-click="collapsedate=!collapsedate; isCollapsedDate=!isCollapsedDate"
                        ng-class="{'collapsed': isCollapsedDate}">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use></svg>
                </button>
            </legend>
            <ul class="facets__section-list datepicker" ng-controller="InformaDatesController">
                <li class="facets__section-wrapper" ng-hide="collapsedate">
                    <ul class="facets__section-list">
                        <li class="facets__section-item" ng-repeat="dateFilter in allFacets.DateFilters">
                            <input type="radio"
                                   name="date-facet"
                                   id="{{dateFilter.key}}"
                                   ng-model="dateFilter.selected"
                                   ng-value=true
                                   ng-checked="{{dateFilter.selected}}"
                                   ng-click="allFacets.dateRangeSearch('date', dateFilter.key)">
                            <label for="{{dateFilter.key}}">{{dateFilter.label}}</label>
                            <ul class="facets__section-footer">
                                <li class="facets__field-group facets__field-group--from input-group" ng-if="$last">
                                    <label for="date-picker-from" ng-click="open($event,'dtFrom')">From</label>
                                    <input type="text"
                                           name="dtFrom"
                                           ng-model="dateValues.dtFromValue"
                                           id="date-picker-from"
                                           datepicker-popup="shortDate"
                                           is-open="datepickers.dtFrom"
                                           datepicker-options="fromDateOptions"
                                           popup-placement="auto right-top"
                                           uib-datepicker-popup="shortDay"
                                           date-disabled="disabled(date, mode)"
                                           ng-required="false"
                                           close-text="Close"
                                           show-button-bar="true"
                                           readonly
                                           ng-click="open($event,'dtFrom')"
                                           />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default">
                                            <svg ng-click="open($event,'dtFrom')"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#calendar"></use></svg>
                                        </button>
                                    </span>
                                </li>
                                <li class="facets__field-group facets__field-group--to input-group" ng-show="$last">
                                    <label for="date-picker-to" ng-click="open($event,'dtTo')">To</label>
                                    <input type="text"
                                           name="dtTo"
                                           ng-model="dateValues.dtToValue"
                                           id="date-picker-from"
                                           datepicker-popup="shortDate"
                                           is-open="datepickers.dtTo"
                                           datepicker-options="toDateOptions"
                                           popup-placement="auto right-top"
                                           date-disabled="disabled(date, mode)"
                                           ng-required="false"
                                           close-text="Close"
                                           show-button-bar="true"
                                           readonly
                                           ng-click="open($event,'dtTo')"
                                           ng-change="allFacets.customDateRangeSearch('date',dateValues.dtFromValue,dateValues.dtToValue)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default">
                                            <svg ng-click="open($event,'dtTo')"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#calendar"></use></svg>
                                        </button>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
          </fieldset>

          <!-- temporarily removing ng-if='group.facets.length > 1' from above -->
          <fieldset ng-if="group.label != 'Companies' && group.label != 'Date Placeholder'" class="facets__fieldset">
              <legend class="facets__legend facets__section-header">
                  <h4>{{ group.label }}</h4>
                  <button
                      class="facets__button facets__button--toggle-section"
                      ng-model="collapsefacet"
                      ng-click="collapsefacet=!collapsefacet; isCollapsed=!isCollapsed"
                      ng-class="{'collapsed': isCollapsed}">
                      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use></svg>
                  </button>
              </legend>
              <ul class="facets__section-list" ng-repeat="f in group.facets | limitTo:limit" ng-hide="collapsefacet">
                
                <li ng-hide="($index >= allFacets.MaxFacetShow) && (!group.ShowMore)">
                  <input  id="{{ group.id }}-{{ $index }}"
                          type="checkbox"
                          class="visuallyhidden"
                          ng-checked="f.selected"
                          ng-model="f.selected"
                          ng-change="allFacets.update()">
                  <label  ng-if="f.label" for="{{ group.id }}-{{ $index }}">{{ f.label }} ({{f.count}})</label>
                  <button class="facets__button facets__button--toggle-subcat"
                          ng-model="collapsesubfacet"
                          ng-click="collapseSubfacet=!collapseSubfacet; isCollapsedSubfacet=!isCollapsedSubfacet">
                      <svg 
                        class="facets__button--collapse-subfacet"
                        ng-show="f.sublist.length > 0"
                        ng-class="{'collapsedSubfacet': isCollapsedSubfacet}">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#collapse"></use>
                      </svg>
                      <svg 
                        class="facets__button--expand-subfacet"
                        ng-show="(f.sublist.length > 0)" 
                        ng-class="{'collapsedSubfacet': isCollapsedSubfacet}">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#expand"></use>
                      </svg>
                  </button>
                  <ul ng-show="f.sublist.length > 0"  
                      ng-class="{'collapsedSubfacet': isCollapsedSubfacet}" 
                      class="facets__section-list--sub">
                      <li ng-repeat="subFacet in f.sublist">
                          <input id="{{ subFacet.id }}-{{ $index }}"
                                 type="checkbox"
                                 class="visuallyhidden"
                                 ng-checked="subFacet.selected"
                                 ng-model="subFacet.selected"
                                 ng-change="allFacets.update()">
                          <label ng-if="subFacet.name" for="{{ subFacet.id }}-{{ $index }}">{{ subFacet.name }} ({{subFacet.count}})</label>
                      </li>
                  </ul>
                </li>
              </ul>
              <button
                  class="facets__button facets__button--more"
                  ng-show='(group.facets.length > allFacets.MaxFacetShow) && (!group.ShowMore)'
                  ng-click='group.ShowMore = true'
                  ng-class="{'collapsed': isCollapsed}">See All
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use></svg>
              </button>
              <button
                  class="facets__button facets__button--less"
                  ng-show='group.ShowMore'
                  ng-click='group.ShowMore = false'
                  ng-class="{'collapsed': isCollapsed}">See Less
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#up-arrow"></use></svg>
              </button>
          </fieldset>
      </form>

 </div> <!-- / .facets__content -->
</div> <!-- / .search__facets -->

<button 
  class="facets__mobile-button facets__mobile-button--bottom" 
  ng-model="collapsefilters"
  ng-click="collapsefilters = !collapsefilters"
  ng-class="{'isExpanded': collapsefilters}">
  <h6 class="hide-filters">Hide Filters</h6>
</button>

        
