@inherits CustomGlassView <SearchViewModel>
<form class="search-bar">

    <h3 class="search-bar__label">
        <label for="js-search-field">@Model.SearchTitleText</label>
    </h3>

    <div class="search-bar__content" ng-controller="searchQueryController as query">

        <div class="search-bar__input-wrapper">

            <a class="js-clear-search-field search-bar__clear" ng-click="query.keywords = ''">
                <svg class="search-bar__icon search-bar__icon--clear">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use>
                </svg>
            </a>

            <input ng-keypress="($event.which === 13)?query.update():0" id="js-search-field" class="search-bar__field" type="search" placeholder="Search the site" ng-model="query.keywords"/>
        </div>

        <!--TODO: get correct svg icon and update classes (extend from header) -->
        <a class="js-header-search-trigger search-bar__submit" ng-click="query.update()">
            <svg class="search-bar__icon search-bar__icon--search">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#search"></use>
            </svg>
        </a>

        <div class="search-bar__tips">
            <a class="search-bar__tips-button js-toggle-search-tips">
                <svg class="search-bar__icon search-bar__icon--info">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#alert"></use>
                </svg>
                <span>@Model.SearchTipsText</span>
            </a>

            <div class="search-bar__tips-panel">
                <a class="js-toggle-search-tips search-bar__close-tips">
                    <svg class="search-bar__icon search-bar__icon--clear">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use>
                    </svg>
                </a>
                <h3>@Editable(Model.GlassModel, m => m.Search_Tips_Title)</h3>
                @Editable(Model.GlassModel, m => m.Search_Tips_Text)
            </div>
        </div>
    </div>

    <div class="search-bar__footer">

        <div class="search-bar__footer-option"
            ng-controller="HeadlineSearchController as headline">

            <input
                type="checkbox"
                id="headline-search"
                name="headline-search"
                ng-model="searchHeadlines"
                ng-init="searchHeadlines = headline.init()"
                ng-click="headline.update()">

            <label class="search-bar__headline-label" for="headline-search">
                @Model.SearchSearchHeadlinesOnlyText
            </label>

        </div>

    </div>
</form>

<button class="facets__mobile-button facets__mobile-button--show"
        ng-model="facetsAreCollapsed"
        ng-click="facetsAreCollapsed = !facetsAreCollapsed"
        ng-class="{'is-expanded': facetsAreCollapsed}">
    <h6 ng-if="!facetsAreCollapsed" class="show-filters">Show Filters</h6>
    <h6 ng-if="facetsAreCollapsed" class="hide-filters">Hide Filters</h6>
</button>
