@inherits CustomGlassView<SearchWrapperViewModel>

<div class="search" ng-app="informaSearchApp" ng-cloak>
    <header class="search__header action-flags-bar">
        <div class="action-flags" ng-controller="EmailRssController as emailRss">
            <ul>
                <li class="action-flag">
                    <a href="#"
                       class="click-utag pop-out__trigger js-pop-out-trigger"
                       data-info='{"event_name" : "mail-to-someone"}'
                       data-pop-out-type="email-search">
                        <span class="action-flag__label">email</span>
                        <svg class="action-flag__icon">
                      	     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#email"></use>
                    	</svg>
                    </a>
                </li>
                <li class="action-flag">
                    <a target="_blank" class="search__header-buttons--rss" href="/rss/search-feed.aspx{{currentLocation}}" >
                        <span class="action-flag__label">rss</span>
                        <svg class="action-flag__icon">
                      	     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#rss"></use>
                    	</svg>
                    </a>
                </li>

                <li
                    class="action-flag"
                    ng-controller="SavedSearchController as savedSearch" ng-init="isAuthenticated = @Model.IsAuthenticated.ToString().ToLower()">

                    <a href="#" class="pop-out__trigger js-save-search js-pop-out-trigger"
                        ng-class="{'js-pop-out-trigger': !savedSearch.isSaved}"
                        ng-click="savedSearch.unsaveSearch()"
                        data-pop-out-type="save-search">
                        <span class="action-flag__label">Save Search / Set Alert</span>

                        <svg ng-class="{'is-visible': !savedSearch.isSaved}" class="action-flag__icon toggleable-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#save"></use>
                	    </svg>

                        <svg ng-class="{'is-visible': savedSearch.isSaved}" class="action-flag__icon toggleable-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#saved"></use>
                	    </svg>
                    </a>

                </li>
            </ul>

        </div>

        <h1 class="search__header-title">Search Results</h1>
        @Html.Sitecore().Placeholder("search-header")
    </header>

    <div class="search__content">

        @Html.Sitecore().Placeholder("search-right")

        <div class="search__body">

            <!-- includes search bar, metadata, and sorting -->
            @Html.Sitecore().Placeholder("search-sort-area")

            @Html.Sitecore().Placeholder("search-main")

        </div>

        @Html.Sitecore().Placeholder("search-bottom")

    </div>

    @Html.Sitecore().Rendering(Model.ItemReferences.EmailSearchPopOutRendering.ToString())
    @Html.Sitecore().Rendering(Model.ItemReferences.SaveSearchPopOutRendering.ToString())
</div>
