<div class="search" ng-app="informaSearchApp" ng-cloak>

    <header class="search__header">

        <div class="search__header-buttons" ng-controller="EmailRssController as emailRss">

            <!--TODO: replace with correct email and subject, also change the data-info value of someone required for analytics-->
            <a href="mailto:someone@example.com?Subject=Hello%20again" class="click-utag" data-info='{"event_name" : "mail-to-someone"}' target="_top" class="search__header-buttons--email">
                <h6>email</h6>
                <svg class="icon icon--email">
              	     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#email"></use>
            	</svg>
            </a>

            <!--TODO: replace with correct RSS feed link-->
            <a target="_blank" class="search__header-buttons--rss" href="/rss/search-feed.aspx{{currentLocation}}" >
                <h6>rss</h6>
                <svg class="icon icon--rss">
              	     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#rss"></use>
            	</svg>
            </a>

        </div>

        <h1 class="search__header-title">Search Results</h1>
        @Html.Sitecore().Placeholder("search-header")
    </header>

    <div class="search__content">

        @Html.Sitecore().Placeholder("search-right")

        <div class="search__body">

            <!-- includes search bar, metadata, and sorting -->
            @Html.Sitecore().Placeholder("search-sort-area")

            @Html.Sitecore().Placeholder("search-main")

        </div>

        @Html.Sitecore().Placeholder("search-bottom")

    </div>

</div>
