<div class="search" ng-app="example">

    <header class="search__header">
        <div class="search__header-icons">
          <h6 class="icon icon--email"><a>email</a></h6>
          <h6 class="icon icon--rss"><a>rss</a></h6>
        </div>
        <h1 class="search__header-title">Search Results</h1>
        @Html.Sitecore().Placeholder("search-header")
    </header>

    <div class="search__content">

        @Html.Sitecore().Placeholder("search-right")

        <div class="search__body">

            <!-- includes search bar, metadata, and sorting -->
            @Html.Sitecore().Placeholder("search-sort-area")

            @Html.Sitecore().Placeholder("search-main")

        </div>

        @Html.Sitecore().Placeholder("search-bottom")

    </div>

</div>
