@model SearchViewModel
<!-- SEARCH FILTERS IN LEFT RAIL -->

<div    id="search-facet-01"
        class="search__facets search__left-sidebar"
        ng-class="{'is-expanded': facetsAreCollapsed}"
        ng-controller="InformaFacetController as facetController">

    <div class="facets__header">
        <h3>@Model.SearchFilterByText</h3>
        <button class="facets__button facets__button--clear"
                ng-click="facetController.clearAllFacets()">
            @Model.SearchClearAllText
        </button>
    </div>

    <div class="facets__content">

        <form class="facets__section" ng-repeat="group in facetController.facetGroups" ng-if="group.label == 'Companies' || group.label == 'Date Placeholder' || group.facets.length > 0">

        @* * * * *
        FACET — COMPANIES
        * * * * *@

        <fieldset ng-if="group.label == 'Companies'" class="facets__fieldset" ng-controller="InformaTypeaheadController" ng-init="pageId = '@Sitecore.Context.Item.ID.ToString()'">
          <legend class="facets__legend facets__section-header">
              <h4>Companies</h4>
              <button class="facets__button facets__button--toggle-section"
                      ng-model="collapsecompanies"
                      ng-click="collapsecompanies=!collapsecompanies; isCollapsedCompanies=!isCollapsedCompanies"
                      ng-class="{'collapsed': isCollapsedCompanies}">
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use></svg>
              </button>
          </legend>

            <div class="facets__repeat-wrapper" ng-repeat="f in group.facets | limitTo:limit">
              <ul ng-if="f.selected" class="facets__section-list" ng-hide="collapsefacet">
                  <li>
                      <input id="{{ group.id }}-{{ $index }}"
                             type="checkbox"
                             class="visuallyhidden click-utag"
                             ng-checked="f.selected"
                             ng-model="f.selected"
							 ng-disabled="facetController.areFacetsDisabled"
                             ng-change="facetController.update()" data-info='{"event_name":"search-facet","facet_selected":"{{f.label}}","facet_group_name":"{{group.label}}"}'>
                      <label class="facets__label" ng-if="f.label" for="{{ group.id }}-{{ $index }}">
                          {{ f.label }}
                          <span class="facets__label-count">({{f.count}})</span>
                      </label>

                      <button class="facets__button facets__button--toggle-subcat"
                              ng-model="collapsesubfacet"
                              ng-click="collapseSubfacet=!collapseSubfacet; isCollapsedSubfacet=!isCollapsedSubfacet">
                          <svg  class="facets__button--collapse-subfacet"
                                ng-show="f.sublist.length > 0"
                                ng-class="{'collapsedSubfacet': isCollapsedSubfacet}">

                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#collapse"></use>
                          </svg>

                          <svg class="facets__button--expand-subfacet"
                               ng-show="(f.sublist.length > 0)"
                               ng-class="{'collapsedSubfacet': isCollapsedSubfacet}">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#expand"></use>
                          </svg>
                      </button>
                  </li>
              </ul>
            </div>

          <ul class="facets__section-list" ng-hide="collapsecompanies">

          <!-- sample added company
              <li>
                  <input type="checkbox" class="visuallyhidden">
                  <label>Amgen (537)</label>
              </li>
           /sample added company -->
              <li ng-repeat="myCompany in savedCompanies" class="saved-company">
                <input type="checkbox" class="visuallyhidden click-utag" id="{{myCompany.label}}" ng-checked="myCompany.selected" data-info='{"event_name":"search-facet","facet_selected":"{{myCompany.label}}","facet_group_name":"My saved companies"}'>

                <label  class="facets__label"
                        for="{{myCompany.label}}">
                    {{myCompany.label}}
                </label>

                <svg ng-click="removeCompany(myCompany)"
                     class="saved-company__delete-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use>
                </svg>
              </li>

              <li class="facets__company-input" ng-show="isAddingCompany">
                <div class="facets__field-group facets__field-group--companies">
                  <button class="facets__button facets__button--clear-company"
                          ng-class="{'collapsed': isCollapsedCompanies}"
                          ng-click="isAddingCompany = false; myCompany.selected = ''">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use>
                    </svg>
                  </button>
                  <div class="facets__company-typeahead-wrapper">
                    <input
                      type="text"
                      id="company-field"
                      name="company-field"
					  ng-disabled="facetController.areFacetsDisabled"
                      placeholder="Enter a Company"
                      ng-model="myCompany.selected"
                      uib-typeahead="company for company in companies | filter:$viewValue | limitTo:5"
                      typeahead-min-length=2
                      typeahead-select-on-blur="false"
                      typeahead-select-on-exact="false"
                      typeahead-on-select="facetController.searchForCompany($item)"
                      typeahead-editable="false"
                      class="form-control"
                      autocomplete="off">

                      <!-- add to above input for loading & no results:
                          typeahead-loading="loadingCompanies"
                          typeahead-no-results="noCompanies"
                          add below:
                          <i ng-show="loadingCompanies" class="glyphicon glyphicon-refresh"></i>
                          <div ng-show="noCompanies">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                          </div>
                      -->
                  </div>
                </div>
              </li>
          </ul>
          <button class="facets__button facets__button--add"
              ng-model="isAddingCompany"
              ng-class="{'collapsed': isCollapsedCompanies, 'adding-company': isAddingCompany}"
              ng-hide="isAddingCompany"
              ng-click="isAddingCompany = true">
              Add
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#add"></use></svg>
          </button>
        </fieldset>



        @* * * * *
        FACET — DATE
        * * * * *@

        <fieldset ng-if="group.label == 'Date Placeholder'" class="facets__fieldset">
            <legend class="facets__legend facets__section-header">
                <h4>Date</h4>
                <button class="facets__button facets__button--toggle-section"
                        ng-model="collapsedate"
                        ng-click="collapsedate=!collapsedate; isCollapsedDate=!isCollapsedDate"
                        ng-class="{'collapsed': isCollapsedDate}">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use></svg>
                </button>
            </legend>


            <ul class="facets__section-list datepicker" ng-controller="InformaDatesController">
                <li class="facets__section-wrapper" ng-hide="collapsedate">
                    <ul class="facets__section-list">
                        <li class="facets__section-item" ng-repeat="dateFilter in facetController.DateFilters">
                            <input type="radio"
                                   name="date-facet"
                                   id="{{dateFilter.key}}"
                                   ng-model="dateFilter.selected"
								   ng-disabled="facetController.areFacetsDisabled"
                                   ng-value=true
                                   ng-checked="{{dateFilter.selected}}"
                                   ng-click="facetController.dateRangeSearch('date', dateFilter.key)" class="click-utag" data-info='{"event_name":"search-facet","facet_selected":"{{dateFilter.label}}","facet_group":"{{group.label}}"}'>
                            <label  class="facets__label"
                                    for="{{dateFilter.key}}">
                                {{dateFilter.label}}
                            </label>

                            <ul class="facets__section-footer" ng-if="$last">
                                <li class="facets__field-group facets__field-group--from input-group">
                                    <label for="date-picker-from" ng-click="open($event,'dtFrom');  facetController.updateSelectedDate(dateFilter.key)">From</label>
                                    <input type="text"
                                           datepicker-options="options"
                                           id="date-picker-from"
                                           is-open="datepickers.dtFrom"
                                           name="dtFrom"
                                           ng-change="facetController.customDateRangeSearch('date', dateValues.dtFrom, dateValues.dtTo)"
                                           ng-click="facetController.updateSelectedDate(dateFilter.key)"
                                           ng-model="dateValues.dtFrom"
                                           ng-required="false"
                                           placeholder="dd/mm/yyyy"
                                           popup-placement="auto right-top"
                                           show-button-bar="false"
                                           uib-datepicker-popup="d!/M!/yyyy">

                                    <span class="input-group-btn">
                                        <button type="button"
                                                class="facets__button"
                                                ng-click="open($event,'dtFrom'); facetController.updateSelectedDate(dateFilter.key)">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#calendar"></use></svg>
                                        </button>
                                    </span>

                                </li>

                                <li class="facets__field-group facets__field-group--to input-group">

                                    <label for="date-picker-to" ng-click="open($event,'dtTo');  facetController.updateSelectedDate(dateFilter.key)">To</label>

                                    <input type="text"
                                           datepicker-options="options"
                                           datepicker-popup="shortDate"
                                           id="date-picker-to"
                                           is-open="datepickers.dtTo"
                                           name="dtTo"
                                           ng-change="facetController.customDateRangeSearch('date', dateValues.dtFrom, dateValues.dtTo)"
                                           ng-click="facetController.updateSelectedDate(dateFilter.key)"
                                           ng-model="dateValues.dtTo"
                                           ng-required="false"
                                           placeholder="dd/mm/yyyy"
                                           popup-placement="auto right-top"
                                           show-button-bar="false"
                                           uib-datepicker-popup="d!/M!/yyyy">

                                    <span class="input-group-btn">
                                        <button type="button"
                                                class="facets__button"
                                                ng-click="open($event,'dtTo'); facetController.updateSelectedDate(dateFilter.key)">
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#calendar"></use></svg>
                                        </button>
                                    </span>

                                </li>

                                <div>
                                  <ul class="uib-datepicker-popup dropdown-menu uib-position-measure" dropdown-nested ng-if="isOpen" ng-keydown="keydown($event)" ng-click="$event.stopPropagation()">
                                    <li ng-transclude></li>
                                    <li ng-if="showButtonBar" class="uib-button-bar">
                                      <span class="btn-group pull-left">
                                        <button type="button" class="btn btn-sm btn-info uib-datepicker-current" ng-click="select('today', $event)" ng-disabled="isDisabled('today')">{{ getText('current') }}</button>
                                        <button type="button" class="btn btn-sm btn-danger uib-clear" ng-click="select(null, $event)">{{ getText('clear') }}</button>
                                      </span>
                                      <button type="button" class="btn btn-sm btn-success pull-right uib-close" ng-click="close($event)">{{ getText('close') }}</button>
                                    </li>
                                  </ul>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
          </fieldset>

          @* * * * *
          FACETS - DYNAMIC
          * * * * *@

            <fieldset ng-if="group.label != 'Companies' && group.label != 'Date Placeholder'" class="facets__fieldset">

                <legend class="facets__legend facets__section-header">
                    <h4>{{ ::group.label }}</h4>
                    <button
                        class="facets__button facets__button--toggle-section"
                        ng-model="collapsefacet"
                        ng-click="collapsefacet=!collapsefacet; isCollapsed=!isCollapsed"
                        ng-class="{'collapsed': isCollapsed}">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use>
                        </svg>
                    </button>
                </legend>
                @if (Model.Subcriptions.Any())
                {
                    <p ng-if="group.id === 'publication'">
                        <button class="facets__button"
                            ng-if="!facetController.showingOnlySubscriptions"
                            ng-click="facetController.facetChangeMultiple(group.id, [@string.Join(", ", Model.Subcriptions.Select(s => string.Format("'{0}'", s)))]); facetController.showingOnlySubscriptions = true">
                            @Model.SearchSelectMySubscriptionsText
                        </button>

                        <button class="facets__button"
                            ng-if="facetController.showingOnlySubscriptions"
                            ng-click="facetController.facetChangeMultiple(group.id, []); facetController.showingOnlySubscriptions = false">
                            @* * * "Show All Subscriptions" dictionary item here * * *@
                            @Model.SearchShowAllPublicationsText
                        </button>
                    </p>
                }

                <div class="facets__repeat-wrapper" ng-repeat="f in group.facets | limitTo:limit" ng-if="!collapsefacet">
                    <ul class="facets__section-list" ng-if="($index < facetController.MaxFacetShow) || group.ShowMore">
                    <li>
                        @* Hidden input field *@
                        <input  id="{{ group.id }}-{{ $index }}"
                              type="checkbox"
                              class="visuallyhidden click-utag"
							  ng-model="f.selected"
							  ng-disabled="facetController.areFacetsDisabled"
                              ng-change="facetController.facetChange(f)"  data-info='{"event_name":"search-facet","facet_selected":"{{f.label}}","facet_group":"{{group.label}}"}'>

                        <label  class="facets__label"
                                ng-if="f.label"
                                for="{{ group.id }}-{{ $index }}">

                            <span class="facets__label-content">
                                {{ f.label }}<span class="facets__label-count">({{f.count}})</span>
                            </span>

                            <button class="facets__button facets__button--toggle-subcat"
                                    ng-model="f.collapseSubfacet"
                                    ng-click="f.collapseSubfacet = !f.collapseSubfacet; f.isCollapsedSubfacet = !f.isCollapsedSubfacet">
                                <svg
                                  class="facets__button--collapse-subfacet"
                                  ng-if="f.sublist.length > 0"
                                  ng-class="{'collapsedSubfacet': f.isCollapsedSubfacet}">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#collapse"></use>
                                </svg>
                                <svg
                                  class="facets__button--expand-subfacet"
                                  ng-if="(f.sublist.length > 0)"
                                  ng-class="{'collapsedSubfacet': f.isCollapsedSubfacet}">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#expand"></use>
                                </svg>
                            </button>
                        </label>

                      <ul ng-show="f.sublist.length > 0"
                          ng-class="{'collapsedSubfacet': f.isCollapsedSubfacet}"
                          class="facets__section-list--sub">

                          <li ng-repeat="subFacet in f.sublist">
                              <input id="{{ subFacet.id }}-{{ $index }}"
                                     type="checkbox"
                                     class="visuallyhidden"
                                     ng-checked="subFacet.selected"
                                     ng-model="subFacet.selected"
                                     ng-change="facetController.update()" data-info='{"event_name":"search-facet"," click-sub_facet_selected":"{{subFacet.name}}","facet_selected":"{{f.label}}","facet_group":"{{group.label}}"}'>
                              <label class="facets__label" ng-if="subFacet.name" for="{{ subFacet.id }}-{{ $index }}">
                                  {{ subFacet.name }}
                                  <span class="facets__label-count">({{subFacet.count}})</span>
                              </label>
                          </li>
                      </ul>
                    </li>
                </ul>
            </div>
            <button class="facets__button facets__button--more"
                    ng-show='(group.facets.length > facetController.MaxFacetShow) && (!group.ShowMore)'
                    ng-click='group.ShowMore = true'
                    ng-class="{'collapsed': isCollapsed}">See All
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#down-arrow"></use>
                </svg>
            </button>
            <button class="facets__button facets__button--less"
                    ng-show='group.ShowMore'
                    ng-click='group.ShowMore = false'
                    ng-class="{'collapsed': isCollapsed}">
                See Less
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#up-arrow"></use>
                </svg>
            </button>
            </fieldset>

        </form>
    </div> <!-- / .facets__content -->
</div> <!-- / .search__facets -->

<button
  class="facets__mobile-button facets__mobile-button--hide facets__mobile-button--bottom"
  ng-model="facetsAreCollapsed"
  ng-click="facetsAreCollapsed = !facetsAreCollapsed"
  ng-class="{'is-expanded': facetsAreCollapsed}">
  <h6 class="hide-filters">Hide Filters</h6>
</button>
