<div class="content-wrapper search-wrapper" ng-app="example">

    <header class="search-header ">
        <h1>Search Results</h1>
        @Html.Sitecore().Placeholder("search-header")
    </header>

    @Html.Sitecore().Placeholder("search-sort-area")

    <div class="manually-curated-content">
        <div class="manually-curated-content__main-well">
            @Html.Sitecore().Placeholder("search-main")
        </div>
        <div class="manually-curated-content__right-rail">
            @Html.Sitecore().Placeholder("search-right")
        </div>
    </div>
    @Html.Sitecore().Placeholder("search-bottom")
 
    </div>
