@{
    Layout = null;
}

@* General FE Note: Clearly this is only the bits of the Deals page mentioned in IITS2A-139, IITS2A-140, and IITS2A-141; it will need to be wrapped inside header/footer/etc and have related news and leaderboard ads (all extant code) tagged on, much as seen on the home page.  Exactly how that markup should look can be extrapolated from the patternlab files for the Company template or the Company example page *@
<div class="company">
	<div class="l-left-rail">
		<div class="generic-content">
			@* CompanyName: Exactly what it sounds like  *@
			<h1>@(Model.CompanyName)</h1>
			@* CompanyProfile: HTML paragraph or two of deal information from an RTE  *@
			@(Model.CompanyProfile)

			@* This doesn't seem to be defined in any ticket, though it's in the designs, but show this h5
			  if the company has a website to display or division information *@
			@if (CompanyIsADivisionOfSomething || CompanyHasAWebsite) {
				<h5>
					@if (CompanyIsADivisionOfSomething) {
						@* CompanyDivisionInfo: Company of which this company is a division *@
						A division of @(Model.CompanyDivisionInfo) <br />
					}
					@if (CompanyHasAWebsite) {
						@* CompanyWebsite: Company's website, logic isn't shown here, but protocol should show in the href, but not the visible link text *@
						<a href="@(Model.CompanyWebsite)">@(Model.CompanyWebsite)</a>
					}
				</h5>
			}
		</div>


		@*
			RELATED NEWS AND SET ALERT BUTTON GO HERE!
			This code already exists and should be reused!
		*@


		@* This next section is very similar to, but not exactly the same as Related/Recent News.  May be generalizable, almost certainly benefit from being , but be very careful to pay attention to the differences *@

		<div class="topic-subtopic">
			<h4 class="latest-news__header">
				@* CompanyName: Same as what's used in the page title  *@
				<span>@(Model.CompanyName) Deals</span>
			</h4>

			@* DealSponsorExists: Should a sponsor show for these deals?  *@
			@if (DealSponsorExists) {
				<div class="deal-sponsor">
					@* DealSponsorImageUrl: Path to sponsor logo  *@
					Brought to you by <img src="@(Model.DealSponsorImageUrl)" />
				</div>
			}

			<h5 class="topic-subtopic__subtitle">Latest Deals</h5>

			@* This may be entirely incorrect razor syntax, but the idea is to pull in three Deals rendered as article previews (type "--boxed").  Extremely similar to FeaturedArticleFull and FeaturedArticleSmall; primary difference is that modifications may need to be made to hide the tags section which should not appear in Deals.  View should already have been made for this; may not be added in Visual Studio *@

			@* Model.Deals: list of deals *@
			@foreach (var deal in Model.Deals)
			{
				Html.RenderPartial("Article/FeaturedArticleBoxed", listable);
			}

			<a class="full-diminished-button" href="#">See All</a>

			@* Not clear where "1991" is coming from; may want to check with SA; sourcing says "Dictionary" *@
			<h5 class="topic-subtopic__subtitle">Deal Activity since 1991</h5>

			<table class="sortable-table">
				<thead class="sortable-table__header">
					<tr>
						@* The following four labels are #2, 4, 6 and 8 in IIPL-101; appear to be the same in every table, nothing exciting going on here *@
						<td class="sortable-table__col">
							@(Model.IndustryLabel)
						</td>
						<td class="sortable-table__col">
							@(Model.AcquisitionsLabel)
						</td>
						<td class="sortable-table__col">
							@(Model.AlliancesLabel)
						</td>
						<td class="sortable-table__col">
							@(Model.FinancingsLabel)
						</td>
					</tr>
				</thead>
				<tbody>
					@* CompanyDealTableEntries: List of table rows with data for each cell, and links where appropriate (see IIPL-101; links seem to be in flux?) *@
					@foreach (var entry in Model.CompanyDealTableEntries)
						<tr>
							<td class="sortable-table__col">
								@if (entry.IndustryIsLinked) {
									<a href="entry.IndustryUrl">@(entry.IndustryText)</a>
								}
								@else {
									@(entry.IndustryText)
								}
							</td>
							<td class="sortable-table__col">
								@if (entry.AcquisitionsIsLinked) {
									<a href="entry.AcquisitionsUrl">@(entry.AcquisitionsText)</a>
								}
								@else {
									@(entry.AcquisitionsText)
								}
							</td>
							<td class="sortable-table__col">
								@if (entry.AlliancesIsLinked) {
									<a href="entry.AlliancesUrl">@(entry.AlliancesText)</a>
								}
								@else {
									@(entry.AlliancesText)
								}
							</td>
							<td class="sortable-table__col">
								@if (entry.FinancingsIsLinked) {
									<a href="entry.FinancingsUrl">@(entry.FinancingsText)</a>
								}
								@else {
									@(entry.FinancingsText)
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	<div class="l-right-rail">
		@* This sidebar is an odd sort of thing; it's a collection of lists of tags, with some plain text throw in for good measure.  Markup is ugly, and I suspect logic will be uglier. *@
		<div class="article-topics">
			@* I believe this header is the same on every page *@
			<h2 class="article-topics__header">Company Information</h2>

			@* CompanySidebarSections: List of sections in sidebar; each section should have a title and at least one item in it. Items can be linked tags or just open HTML (probably restricted to a certain extent?) *@
			@foreach (var section in @(Model.CompanySidebarSections)) {
				<ul>
					@* SectionTitle: title of this particular sidebar section. *@
					<li class="article-topics__section-header">@(section.SectionTitle)</li>
					@* SectionItems: List of items to appear in this section.  Items can be mixed types. *@
					@foreach (var item in @(section.SectionItems)) {
						@* Check to see if the item's a link... *@
						@if (item.itemIsALink) {
							@* These items can be nested! eg:
							 *	<li class="article-topics__li">
							 *		<a href="@(item.itemUrl)">@(item.itemText)</a>
							 *		<ul>
							 *			<li class="article-topics__li">...</li>
							 *		</ul>
							 *	</li>
							 *@
							@* ItemUrl: Link for an item, typically like a tag *@
							@* ItemText: Text to appear in the sidebar for this item, tag title *@
							<li class="article-topics__li"><a href="@(item.ItemUrl)">@(item.ItemText)</a></li>
						}
						@* ...or just text *@
						@else {
							@* Item is raw text... possibly HTML from an RTE? *@
							@* ItemText: Text or HTML to be displayed for this item.  If HTML, should probably be limited to inline styles (strong, em, line break) *@
							<li class="article-topics__section-desc">@(item.ItemText)</li>
						}
					}
				</ul>
			}
		</div>
		@* This may be the incorrect sort of ad; confirm with someone who knows for sure.  Designs show tall square ad. *@
	    @Html.Sitecore().Placeholder("article-med-ad")
	</div>
</div>
