@model FeaturedArticleViewModel
@if (Model.DisplayImage && !string.IsNullOrEmpty(Model.ListableImage))
{
    <img class="topic-featured-article__image" src="@Model.ListableImage">
}

<div class="article-metadata">
    <div class="article-preview__bookmarker pop-out__trigger js-pop-out-trigger"
         data-pop-out-type="sign-in"
         data-pop-out-align="right">
        <svg class="article-prologue__share-icon">
            <use xlink:href="/dist/img/svg-sprite.svg#bookmark"></use>
        </svg>
    </div>
    <ul>
        <li>
            <time class="article-metadata__date">@Model.ListableDate.ToString("dd MMM yyyy")</time>
        </li>
        @if (!string.IsNullOrEmpty(Model.LinkableText))
        {
            <li>
                <h6>@string.Join(", ", Model.Content_Type)</h6>
            </li>
        }
        @if (!string.IsNullOrEmpty(Model.ListableType))
        {
            <li>
                <svg class="article-metadata__media-type">
                    <use xlink:href="/dist/img/svg-sprite.svg#@Model.ListableType"></use>
                </svg>
            </li>
        }
    </ul>
</div>

<div class="topic-featured-article__inner-wrapper">
    <h3 class="topic-featured-article__headline">
        <a href="@Model.LinkableUrl">@Model.ListableTitle</a>
    </h3>

    <span class="article-preview__byline">
        by @string.Join(", ", Model.ListableAuthors?.Select(x => x.LinkableText))
    </span>

    <div class="article-summary">
        @Html.Raw(Model.ListableSummary)
    </div>
</div>

<div class="article-preview__tags bar-separated-link-list">
    @foreach (var tag in Model.ListableTopics)
    {
        if (tag.LinkableUrl != null)
        {
            <a href="@tag.LinkableUrl">@tag.LinkableText</a>
        }
    }
</div>
