@using Glass.Mapper.Sc.Web.Mvc
@using Informa.Web.TestData
@model Informa.Models.Glass.Models.sitecore.templates.Velir.FactoryInterface.IListable

@if (Model.ListableImages != null)
{
    <img class="article-preview__image" src="@Model.ListableImages.Src">
}

<div class="article-metadata">
    <div class="article-preview__bookmarker">
        Bookmark
        <svg class="article-prologue__share-icon">
            <use xlink:href="/dist/img/svg-sprite.svg#bookmark"></use>
        </svg>
    </div>
    <ul>
        <li>
            <time class="article-metadata__date">@Model.ListableDates.GetValueOrDefault().ToString("dd MMM yyyy")</time>
        </li>
        <li>
            <h6>@TestData.GetRandomTopic().LinkableTexts</h6>
        </li>
        <li>
            @* * *  ARTICLE MEDIA TYPE
                    IIPP-116

            * * * TEXT — Nothing. Remove this <li> entirely.

            * * * VIDEO
            <svg class="article-metadata__media-type">
                <use xlink:href="/dist/img/svg-sprite.svg#video"></use>
            </svg>

            * * * AUDIO
            <svg class="article-metadata__media-type">
                <use xlink:href="/dist/img/svg-sprite.svg#audio"></use>
            </svg>

            * * * DATA *@
            <svg class="article-metadata__media-type">
                <use xlink:href="/dist/img/svg-sprite.svg#chart"></use>
            </svg>

            @* * *  END ARTICLE MEDIA TYPE *@
        </li>
    </ul>
</div>

<h1 class="article-preview__headline">
    @Model.ListableTitles
</h1>

<span class="article-preview__byline">
    by @string.Join(",", Model.ListableAuthors.Select(auth => auth.LinkableTexts))
</span>

<p>@Model.ListableSummaries</p>

<div class="article-preview__tags bar-separated-link-list">
    @foreach (var tag in Model.ListableTopics)
    {
        <a href="@tag.LinkableUrls">@tag.LinkableTexts</a>
    }
</div>
