@using Glass.Mapper.Sc.Web.Mvc
@using Informa.Models.Informa.Models.sitecore.templates.User_Defined.Objects
@using Informa.Web.TestData
@model Informa.Models.FactoryInterface.IListable

@if (Model.ListableImage != null)
{   
    <img class="article-preview__image" src="@Model.ListableImage.Src">
}

<div class="article-metadata">
    <div class="article-preview__bookmarker">
        <span class="article-preview__bookmarker-label">Bookmark</span>
        <svg class="article-prologue__share-icon">
            <use xlink:href="/dist/img/svg-sprite.svg#bookmark"></use>
        </svg>
    </div>
    <ul>
        <li>
            <time class="article-metadata__date">@Model.ListableDate.ToString("dd MMM yyyy")</time>
        </li>
        <li>
            <h6>@string.Join(", ", Model.LinkableText)</h6>
        </li>
        <li>
            @* * *  ARTICLE MEDIA TYPE
                    IIPP-116

            * * * TEXT — Nothing. Remove this <li> entirely.

            * * * VIDEO
            <svg class="article-metadata__media-type">
                <use xlink:href="/dist/img/svg-sprite.svg#video"></use>
            </svg>

            * * * AUDIO
            <svg class="article-metadata__media-type">
                <use xlink:href="/dist/img/svg-sprite.svg#audio"></use>
            </svg>

            * * * DATA *@
            <svg class="article-metadata__media-type">
                <use xlink:href="/dist/img/svg-sprite.svg#chart"></use>
            </svg>

            @* * *  END ARTICLE MEDIA TYPE *@
        </li>
    </ul>
</div>

<h1 class="article-preview__headline">
    @Model.ListableTitle
</h1>

<span class="article-preview__byline">
    by @string.Join(",", Model.ListableAuthors?.Select(x => x.LinkableText))
</span>

@Html.Raw(Model.ListableSummary)

<div class="article-preview__tags bar-separated-link-list">
    @foreach (var tag in Model.ListableTopics)
    {
        if (tag.LinkableUrl != null)
        {
            <a href="@tag.LinkableUrl">@tag.LinkableText</a>
        }
    }
</div>
