@inherits CustomGlassView<AdViewModel>
@{ Model.Init(); }
<!-- DEPRECATED -->
<!-- Work should be done in Views/Advertisements, this is only here for backward compatability. -->

@if (IsInEditingMode && Model.IsEditable)
{
    @Editable(Model.AdComponentModel, x => x.Slot_ID)
    @Editable(Model.AdComponentModel, x => x.Zone)
}
@if (Model.IsValidRectangularAd)
{
    <section class="article-preview article-preview--small">
        <div class="article-preview__ad advertising">
            <span class="advertising__label">@Model.AdvertisementText</span>
        @*This check is to avoid page redirection to advertisement module in page editor mode*@
        @if (!IsInEditingMode) {
            <script>
                OAS_AD('@Model.RectangularSlotId', '@Model.RectangularAdZone');
            </script>
            }
        </div>
    </section>
}
