@inherits CustomGlassView<AdViewModel>

@if (IsInEditingMode && Model.AdModel != null)
{
    @Editable(Model.AdModel, x => x.Slot_ID)
    @Editable(Model.AdModel, x => x.Zone)
}
@if (Model.IsValidAd(Model.SlotId))
{
    <div class="article-preview__ad advertising">
        <span class="advertising__label">@Model.AdvertisementText</span>
        <script>
            OAS_AD('@Model.SlotId', '@Model.AdZone');
        </script>
    </div>
}