@inherits CustomGlassView<AdvertisementViewModel>

@if (IsInEditingMode)
{
    @Editable(Model.GlassModel, x => x.Slot_ID)
    @Editable(Model.GlassModel, x => x.Zone)
}
@if (!string.IsNullOrEmpty(Model.GlassModel.Slot_ID) && !string.IsNullOrEmpty(Model.GlassModel.Zone))
{
    <div class="article-preview__ad advertising">
        <span class="advertising__label">@Model.AdvertisementText</span>
        <script>
            OAS_AD('@Model.GlassModel.Slot_ID', '@Model.GlassModel.Zone');
        </script>
    </div>
}