@inherits CustomGlassView<LegacyAdvertisementViewModel>

<!-- DEPRECATED -->
<!-- Work should be done in Views/Advertisements, this is only here for backward compatability. -->

@if (IsInEditingMode)
{
	<div>
		<span>Slot ID:</span> @Editable(Model.GlassModel, x => x.Slot_ID)<br />
		<span>Zone ID:</span> @Editable(Model.GlassModel, x => x.Zone)<br />
	</div>
}
@if (!string.IsNullOrEmpty(Model.GlassModel.Slot_ID) && !string.IsNullOrEmpty(Model.GlassModel.Zone))
{
	<div class="article-preview__ad advertising">
		<span class="advertising__label">@Model.AdvertisementText</span>
		<script>
            OAS_AD('@Model.GlassModel.Slot_ID', '@Model.GlassModel.Zone');
		</script>
	</div>
}
