@using Glass.Mapper.Sc.Web.Mvc
@model Informa.Models.FactoryInterface.IListable
@if (Model.ListableImage != null)
{
    <img class="article-related-content__img" src="@Model.ListableImage">
}
@*<h6>@Model.ListableByline</h6>*@
<span class="article-related-content__category">@Model.ListableByline</span>
<h5><a href="@Model.LinkableUrl">@Model.ListableTitle</a></h5>
<time class="article-related-content__date">@Model.ListableDate.ToString("dd MMM yyyy")</time>
