@inherits CustomGlassView<TopicAlertButtonModel>

@if (Model.DisplayButton)
{
    <div class="topic-subtopic__alert">

		<form
			class="form-remove-topic-alert"
			data-on-submit="/api/SavedSearches"
			data-submit-type="DELETE"
			data-analytics='{
				"event_name": "remove_alert",
				"alert_topic": "@Html.Raw(Model.TopicName)"
			}'>

			<input name="Url" class="js-save-search-url" id="Url" type="hidden" value="">

			<button type="submit" class="lightbox-modal__hidden-submit"></button>

	        <span
				class="action-flag pop-out__trigger
					@(Model.IsAuthenticated ? "js-set-topic-alert" : "js-pop-out-trigger js-update-topic-alert")"
	            data-pop-out-type="save-search"
				data-topic-alert-title="@Model.AlertTitle"
				data-topic-alert-url="@Model.AlertUrl"
				data-lightbox-modal="js-remove-topic-alert-modal"
				data-lightbox-modal-title="Remove Saved Search"
				data-lightbox-modal-body="Are you sure you'd like to remove this alert? You will no longer receive email updates about this topic."
				data-lightbox-modal-success-target="form-remove-topic-alert"
				@(Model.AlertIsSet ? "data-has-topic-alert='true'" : "")>

				<svg class="action-flag__icon js-topic-icon-unset topic-subtopic__alert-icon @(Model.AlertIsSet ? "" : "is-active")">
	                <use xlink:href="/dist/img/svg-sprite.svg#bell"></use>
	            </svg>

				<svg class="action-flag__icon js-topic-icon-set topic-subtopic__alert-icon @(Model.AlertIsSet ? "is-active" : "")">
	                <use xlink:href="/dist/img/svg-sprite.svg#bell-filled"></use>
	            </svg>
	            <span
					class="js-set-topic-label"
					data-label-not-set="@Html.Raw(Model.SetAlertText)@Html.Raw(Model.TopicName)"
					data-label-is-set="@Html.Raw(Model.RemoveAlertText)@Html.Raw(Model.TopicName)">
					@if (Model.AlertIsSet)
					{
						@Html.Raw(Model.RemoveAlertText)@Html.Raw(Model.TopicName)
					} else
					{
						@Html.Raw(Model.SetAlertText)@Html.Raw(Model.TopicName)
					}
				</span>

	        </span>

		</form>

    </div>



	<div class="lightbox-modal js-remove-topic-alert-modal">
		<div class="dismiss-button js-close-lightbox-modal">
			<span>Cancel</span>
			<svg class="dismiss-button__icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use>
			</svg>
		</div>

		<div class="lightbox-modal__title">
			<svg class="lightbox-modal__title-icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#alert"></use>
			</svg>
			Remove Alert
		</div>
		<p>Are you sure you'd like to remove this alert? You will no longer receive email updates about this topic.</p>
		<button class="lightbox-modal__submit button--filled js-lightbox-modal-submit">Yes, I'm Sure</button>
	</div>
}
