@model Informa.Web.ViewModels.JobsAndClassifieds.JobDetailsViewModel

@*Job details View*@
<div class="main__content">
    <div>
        <div class="job_detail">
            <h1>@Model.JobTitle</h1>
            <div class="sub-heading-text">
                <p>@Model.JobSubTitle</p>
                <p>@Model.PublishedText @Model.PublishedDate.ToString("d MMMM yyyy")</p>
            </div>
            <div class="job_logo">                
                    @if (!string.IsNullOrEmpty(Model.JobLogo?.Src))
                    {
                        <img src="@Model.JobLogo.Src" alt="@Model.JobLogo.Alt" align="center">
                    }
            </div>
            <div class="job_description">
                <p>@Html.Raw(Model.JobDescription)</p>
            </div>
        </div>
    </div>
</div>