@inherits Jabberwocky.Glass.Autofac.Mvc.Views.CustomGlassView<Informa.Web.Areas.Account.ViewModels.Management.ContactInformationViewModel>

@if (Model.IsAuthenticated || IsInEditingMode)
{
    <div class="page-account page-account-contact">
        <h1 class="page-account__header">User Details</h1>
        <div class="page-preferences js-preferences-user-container">

            <div class="page-account-contact__column">
                @*<h2 class="page-account__subheader">@Model.UserNameTitleText</h2>*@

                <p>
                    <label class="page-account__text-label">
                        @Model.Username
                    </label>
                </p>

                <p>@Html.Raw(Model.UpdateHelpText)</p>

            </div>

          

            <hr>

            <form class="form-update-account-contact"
                  data-on-submit="/Account/api/ContactInfoApi/UpdateContactInfo/" method="POST">

                <div class="alert-error js-form-error js-form-error-Required">
                    <svg class="alert__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#alert"></use>
                    </svg>

                    <p class="page-account-contact__error">
                        @Model.Required
                    </p>
                </div>

                <div class="alert-error js-form-error js-form-error-ContactUpdateFailed">
                    <svg class="alert__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#alert"></use>
                    </svg>

                    <p class="page-account-contact__error">
                        @Model.ContactUpdateFailed
                    </p>
                </div>

                <div class="alert-error js-form-error js-form-error-general">
                    <svg class="alert__icon">
                        <use xlink:href="/dist/img/svg-sprite.svg#alert"></use>
                    </svg>

                    <p class="page-account-contact__error">
                        @Model.GeneralErrorText
                    </p>
                </div>

                <div>
                    <div class="page-account-contact__column">

                        <div class="page-account__field-wrapper page-account__field-wrapper--full">

                            @*<h2 class="page-account__subheader">@Model.NameTitleText</h2>*@


                            <p>
                                <label for="Name" class="page-account__text-label">
                                    Name 
                                </label>
                                <input type="text"
                                       name="Name"
                                       value="@Model.Profile.Name"
                                       placeholder="Name"  readonly="readonly">
                              
                                <input type="hidden"  name="Id"
                                       value="@Model.Profile.Id" />
                            </p>
                        </div>

                        <div class="page-account__field-wrapper page-account__field-wrapper--full">

                            <h2 class="page-account__subheader">@Model.CompanyTitleText</h2>

                            <p>
                                <label for="Company" class="page-account__text-label">
                                    @Model.CompanyLabelText <span class="asterisk-required"></span>
                                </label>
                                <input type="text"
                                       name="Company"
                                       value="@Model.Profile.Company"
                                       placeholder="@Model.CompanyPlaceholderText" class="required">
                            </p>


                            <p>
                                <label for="JobTitle" class="page-account__text-label">
                                    @Model.JobTitleLabelText <span class="asterisk-required"></span>
                                </label>
                                @*<input type="text"
                                       name="JobTitle"
                                       value="@Model.Profile.JobTitle"
                                       placeholder="@Model.JobTitlePlaceholderText" class="required">*@

                                <select name="JobTitle" id="ddlJobTitle" class="">
                                    @{ var jobs = new string[] { "Job 1", "Job 2" }; }
                                    @foreach (var job in jobs)
                                    {
                                        <option class="" @(@Model.Profile.JobTitle.Equals(job) ? "selected" : "") value="@job">@job</option>
                                    }
                                </select>
                            </p>



                        </div>

                        <div class="page-account__field-wrapper page-account__field-wrapper--full">

                            @*<h2 class="page-account__subheader">@Model.PhoneTitleText</h2>*@

                            <p>
                                <label for="Phone" class="page-account__text-label">
                                    @Model.PhoneLabelText <span class="asterisk-required"></span>
                                </label>
                                <input type="text"
                                       name="Phone"
                                       value="@Model.Profile.Phone"
                                       placeholder="@Model.PhonePlaceholderText" class="required">
                            </p>
                        </div>
                    </div>

                    <div class="page-account-contact__column">
                        <div class="page-account__field-wrapper page-account__field-wrapper--full">

                            <h2 class="page-account__subheader">Home Address</h2>
                            <p>
                                <label for="BillAddress1" class="page-account__text-label">
                                    @Model.BillAddress1LabelText <span class="asterisk-required"></span>
                                </label>
                                <input type="text"
                                       name="BillAddress1"
                                       value="@Model.Profile.BillAddress1"
                                       placeholder="@Model.BillAddress1PlaceholderText" id="txtBillingAddress1" class="required">
                            </p>

                            <p>
                                <label for="BillCity" class="page-account__text-label">
                                    @Model.BillCityLabelText <span class="asterisk-required"></span>
                                </label>
                                <input type="text"
                                       name="BillCity"
                                       value="@Model.Profile.BillCity"
                                       placeholder="@Model.BillCityPlaceholderText" id="txtBillingCity" class="required">
                            </p>

                          

                            <p>
                                <label for="BillPostalCode" class="page-account__text-label">
                                    @Model.BillPostalCodeLabelText
                                </label>
                                <input type="text"
                                       name="BillPostalCode"
                                       value="@Model.Profile.BillPostalCode"
                                       placeholder="@Model.BillPostalCodePlaceholderText" id="txtBillingPostalCode">
                            </p>

                        </div>



                        <div class="page-account__submit-wrapper">
                            <button type="submit" class="button--filled button--fly-right click-utag manage-preferences" data-info='{"event_name":"update-contact-info"}'>Update User Details</button>
                        </div>

                        <div class="alert-success js-form-success">
                            <svg class="alert__icon">
                                <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                            </svg>
                            <p>@Model.AccountUpdatedText</p>
                        </div>

                    </div>
                </div>

            </form>

            <div  class="label-color">
                <hr />
                <br />
                <h3 class="label-color">Confirmed Details</h3>

                <br />
                <div class="page-account-contact__column"  >
                    <p>
                        <label class="page-account__text-label label-color">
                            Contact Name
                        </label>
                        <label>
                            @Model.Profile.SFConfirmedName
                        </label>
                    </p>
                    <p>
                        <label class="page-account__text-label label-color">
                            Account Name
                        </label>
                        <label>
                            @Model.Profile.SFConfirmedCompany
                        </label>
                    </p>
                    <p>
                        <label class="page-account__text-label label-color">
                            Job Title
                        </label>
                        <label>
                            @Model.Profile.SFConfirmedJobTitle
                        </label>
                    </p>


                    <p>
                        <label class="page-account__text-label label-color">
                            Mobile
                        </label>
                        <label>
                            @Model.Profile.SFConfirmedPhone
                        </label>
                    </p>
                </div>
                <div class="page-account-contact__column">
                    <h4 class="label-color">Contact Mailing Addresss</h4>
                    <br/>
                    <p>
                        <label class="page-account__text-label label-color">
                            Address
                        </label>
                        <label>
                            @Model.Profile.SFConfirmedBillAddress1
                        </label>
                    </p>

                    <p>
                        <label class="page-account__text-label label-color">
                            City
                        </label>
                        <label>
                            @Model.Profile.SFConfirmedBillCity
                        </label>
                    </p>

                    <p>
                        <label class="page-account__text-label label-color">
                            Zip/Postal code
                        </label>
                        <label>
                            @Model.Profile.SFConfirmedBillPostalCode
                        </label>
                    </p>
                    </div>
                </div>

        </div>
    </div>
}
else
{
    <div class="page-account__sign-in-solo">
        @{ Html.RenderPartial("_SignInForm", Model.SignInViewModel); }
    </div>
            }


<div id="errorMessage" style="display:none;">
    <div style="display: block;" class="field-error js-form-error js-form-error-Required">
        <svg class="alert__icon">
            <use xlink:href="/dist/img/svg-sprite.svg#alert" />
        </svg>

        <p class="page-account-contact__error">
            This field is required.
        </p>
    </div>
</div>

<style type="text/css">
    .field-error {
        background-color: #fce5e6;
        color: #be1e2d;
        display: none;
        padding: 0;
    }

    svg {
        float: left;
        margin-right: 10px;
        margin-top: 3px;
    }

    .label-color{
        color:#707070;
    }
</style>
