@inherits Jabberwocky.Glass.Autofac.Mvc.Views.CustomGlassView<Informa.Web.Areas.Account.ViewModels.Management.SavedSearchesViewModel>

@if (Model.IsAuthenticated)
{
    <div class="page-account">
        <h1 class="page-account__header">@Editable(Model.GlassModel, model => model.Title)</h1>
        @Editable(Model.GlassModel, model => model.Body)
        <div class="page-preferences js-preferences-user-container">
            <p class="page-account__error js-preferences-user-error-general">
                @Model.GeneralErrorText
            </p>
            <p class="page-account__error js-preferences-user-error-null-user">
                @Model.NullUserText
            </p>
            <p class="page-account__error js-preferences-user-error-request-failed">
                @Model.RequestFailedText
            </p>            
            <table class="sortable-table js-sortable-table">
                <thead class="sortable-table__header">
                <tr>
                    <td class="sortable-table__col js-sortable-table-sorter l-no-wrap"
                        data-sortable-table-col="1">
                        @Html.Raw(Model.SourceText)
                        <div class="sorting-arrows">
                            <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                            </svg>
                            <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                            </svg>
                        </div>
                    </td>
                    <td class="sortable-table__col js-sortable-table-sorter l-no-wrap"
                        data-sortable-table-col="2">
                        @Html.Raw(Model.TitleText)
                        <div class="sorting-arrows">
                            <svg class="sorting-arrows__arrow sorting-arrows__arrow--up click-utag" data-info='{"event_name":"saved-search-title-sort" "sort-direction":"up"}'>
                                <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                            </svg>
                            <svg class="sorting-arrows__arrow sorting-arrows__arrow--down" data-info='{"event_name":"saved-search-title-sort" "sort-direction":"down"}'>
                                <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                            </svg>
                        </div>
                    </td>
                    <td class="sortable-table__col js-sortable-table-sorter l-no-wrap"
                        data-sortable-table-col="3">
                        @Html.Raw(Model.DateText)
                        <div class="sorting-arrows">
                            <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                            </svg>
                            <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                            </svg>
                        </div>
                    </td>
                    <td class="sortable-table__col js-sortable-table-sorter l-no-wrap"
                        data-sortable-table-col="4">
                        @Html.Raw(Model.EmailAlertText)
                        <div class="sorting-arrows">
                            <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                            </svg>
                            <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                            </svg>
                        </div>
                    </td>
                    <td class="sortable-table__col"></td>
                </tr>
                </thead>
                <thead class="sortable-table__header sortable-table__header--mobile">
                    <tr>
                        <td class="sortable-table__col">
                            <h6>Sort by:</h6>
                        </td>
                        <td class="sortable-table__col js-sortable-table-sorter"
                            data-sortable-table-col="1">
                            @Html.Raw(Model.SourceText)
                            <div class="sorting-arrows">
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col js-sortable-table-sorter"
                            data-sortable-table-col="2">
                            @Html.Raw(Model.TitleText)
                            <div class="sorting-arrows">
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--up click-utag" data-info='{"event_name":"saved-search-title-sort" "sort-direction":"up"}'>
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--down" data-info='{"event_name":"saved-search-title-sort" "sort-direction":"down"}'>
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col js-sortable-table-sorter"
                            data-sortable-table-col="3">
                            @Html.Raw(Model.DateText)
                            <div class="sorting-arrows">
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col js-sortable-table-sorter"
                            data-sortable-table-col="4">
                            @Html.Raw(Model.EmailAlertText)
                            <div class="sorting-arrows">
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col">
                            @Html.Raw(Model.EmailAlertText)
                        </td>
                        <td class="sortable-table__col"></td>
                    </tr>
                </thead>
                <tbody>
                @{
                    int index = 1;
                }
                @foreach (var item in Model.SavedSearches)
                {
                    <tr>
                        <td class="sortable-table__col sortable-table__col--has-title sortable-table__col--title">
                            @if (!item.Sources.Any())
                            {
                                @Html.Raw("None")
                            }
                            else if (item.Sources.Count() > 1)
                            {
                                @Html.Raw("Multiple: ")
                                @Html.Raw(string.Join("<br/>", item.Sources))
                            }
                            else
                            {
                                @Html.Raw(string.Join(" ", item.Sources))
}
                        </td>
                        <td class="sortable-table__col sortable-table__col--has-title sortable-table__col--title">
                            <a href="@item.Url">@Html.Raw(item.Title)</a>
                        </td>
                        <td class="sortable-table__col sortable-table__col--has-title sortable-table__col--date">
                            @item.DateSaved.ToString("d MMM yyyy")
                        </td>
                        <td class="sortable-table__col sortable-table__submit-wrapper">
                            <form class="form-update-saved-search onoffswitch" data-on-submit="/api/SavedSearches" data-submit-type="POST">
                                <input name="Title" id="Title" type="hidden" value="@item.Title">
                                <input name="Url" id="Url" type="hidden" value="@item.Url">
                                <input type="checkbox" name="AlertEnabled" class="onoffswitch-checkbox" id="alert-toggle-@index" @(item.AlertEnabled ? "checked" : string.Empty)>
                                <label class="onoffswitch-label form-submit" for="alert-toggle-@index">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </form>
                        </td>
                        <td class="sortable-table__col sortable-table__submit-wrapper">
                            <form class="form-remove-saved-search"  data-on-submit="/api/SavedSearches" data-submit-type="DELETE">
                                <input name="Title" id="Title" type="hidden" value="@item.Title">
                                <button type="submit" class="button--outline click-utag" data-info='{"event_name":"saved-search-remove", "id":"@item.Title"}'>@Model.RemoveText</button>
                            </form>
                        </td>
                    </tr>
                    {
                        index++;
                    }
                }
                </tbody>
            </table>

            <div class="alert-success js-form-success">
                <svg class="alert__icon">
                    <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                </svg>
                <p>@Html.Raw(Model.ItemRemovedMessage)</p>
            </div>

        </div>
    </div>
}
else
{
    <div class="page-account__sign-in-solo">
        @Html.Partial("_SignInForm", Model.SignInViewModel)
    </div>
}
