@model Informa.Web.Areas.Account.ViewModels.Management.SavedArticlesViewModel

@if (Model.IsAuthenticated)
{
    <div class="page-account">
        <h1 class="page-account__header">@Model.Title</h1>
        <div class="page-preferences js-preferences-user-container">
            <div style="display: none;" class="js-preferences-user-error-container">
                <p style="display: none;" class="js-preferences-user-error js-preferences-user-error-general">@Model.GeneralErrorText</p>
                <p style="display: none;" class="js-preferences-user-error js-preferences-user-error-null-user">@Model.NullUserText</p>
                <p style="display: none;" class="js-preferences-user-error js-preferences-user-error-request-failed">@Model.RequestFailedText</p>
                <p style="display: none;" class="js-preferences-user-error js-preferences-user-error-bad-id">@Model.BadIDText</p>
            </div>

            <table class="sortable sortable-table">
                <thead class="sortable-table__header">
                    <tr>
                        <td>
                            @Model.TitleText
                            <div class="sortable-table__sort-arrows">
                                <svg class="sortable-table__sort-arrows--up click-utag" data-info='{"event_name":"saved-article-title-sort" "sort-direction":"up"}'>
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sortable-table__sort-arrows--down" data-info='{"event_name":"saved-article-title-sort" "sort-direction":"down"}'>
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td>
                            @Model.DateText
                            <div class="sortable-table__sort-arrows">
                                <svg class="sortable-table__sort-arrows--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sortable-table__sort-arrows--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SavedDocuments)
                    {
                        <tr>
                            <td>
                                @HttpUtility.HtmlDecode(item.Name)
                            </td>
                            <td>
                                @item.SaveDate.ToString("d MMMM yyyy")
                            </td>
                            <td>
                                <form   class="form-remove-saved-document"
                                        data-on-submit="/Account/api/SavedDocumentApi/RemoveItem/">

                                    <input name="DocumentID"
                                           id="DocumentID"
                                           type="hidden"
                                           value="@item.DocumentId">

                                    <button type="submit" class="button--outline click-utag" data-info='{"event_name":"saved-article-remove" "document_id":"@item.DocumentId"}'>@Model.RemoveText</button>

                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="alert-success js-form-success">
                <svg class="alert__icon">
                    <use xlink:href="/dist/img/svg-sprite.svg#check"></use>
                </svg>
                <p>@Model.ItemRemovedMessage</p>
            </div>

        </div>
    </div>
}
else
{
    Html.RenderPartial("_SignInForm", Model.SignInViewModel);
}
