@model Informa.Web.Areas.Account.ViewModels.Management.SavedArticlesViewModel

@if (Model.IsAuthenticated)
{
    <div class="page-account">

		@Html.Sitecore().Placeholder("page-account")
        <h2 class="page-account__table-headline">@Model.TitleText</h2>
        <div class="page-preferences js-preferences-user-container">
			@if (Model.SavedDocumentItems.Any())
			{
				<p class="page-account__error js-preferences-user-error-general">
					@Model.GeneralErrorText
				</p>
				<p class="page-account__error js-preferences-user-error-null-user">
					@Model.NullUserText
				</p>
				<p class="page-account__error js-preferences-user-error-request-failed">
					@Model.RequestFailedText
				</p>
				<p class="page-account__error js-preferences-user-error-bad-id">
					@Model.BadIDText
				</p>

				<table class="sortable-table js-sortable-table">
					<thead class="sortable-table__header">
						<tr>
							<td class="sortable-table__col js-sortable-table-sorter l-no-wrap"
								data-sortable-table-col="1">
								Publication @* Model.TitleText *@
								<div class="sorting-arrows">
									<svg class="sorting-arrows__arrow sorting-arrows__arrow--up click-utag" data-info='{"event_name":"saved-article-title-sort" "sort-direction":"up"}'>
										<use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
									</svg>
									<svg class="sorting-arrows__arrow sorting-arrows__arrow--down" data-info='{"event_name":"saved-article-title-sort" "sort-direction":"down"}'>
										<use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
									</svg>
								</div>
							</td>
							<td class="sortable-table__col js-sortable-table-sorter l-no-wrap"
								data-sortable-table-col="1">
								@Model.TitleText
								<div class="sorting-arrows">
									<svg class="sorting-arrows__arrow sorting-arrows__arrow--up click-utag" data-info='{"event_name":"saved-article-title-sort" "sort-direction":"up"}'>
										<use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
									</svg>
									<svg class="sorting-arrows__arrow sorting-arrows__arrow--down" data-info='{"event_name":"saved-article-title-sort" "sort-direction":"down"}'>
										<use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
									</svg>
								</div>
							</td>
							<td class="sortable-table__col js-sortable-table-sorter l-no-wrap"
								data-sortable-table-col="2">
								@Model.DateText
								<div class="sorting-arrows">
									<svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
										<use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
									</svg>
									<svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
										<use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
									</svg>
								</div>
							</td>
							<td class="sortable-table__col"></td>
						</tr>
					</thead>
					<thead class="sortable-table__header sortable-table__header--mobile">
						<tr>
							<td class="sortable-table__col sortable-table__sort-by-header">
								<h6>Sort by:</h6>
							</td>
							<td class="sortable-table__col js-sortable-table-sorter"
								data-sortable-table-col="1">
								@Model.TitleText
								<div class="sorting-arrows">
									<svg class="sorting-arrows__arrow sorting-arrows__arrow--up click-utag" data-info='{"event_name":"saved-article-title-sort" "sort-direction":"up"}'>
										<use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
									</svg>
									<svg class="sorting-arrows__arrow sorting-arrows__arrow--down" data-info='{"event_name":"saved-article-title-sort" "sort-direction":"down"}'>
										<use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
									</svg>
								</div>
							</td>
							<td class="sortable-table__col js-sortable-table-sorter"
								data-sortable-table-col="2">
								@Model.DateText
								<div class="sorting-arrows">
									<svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
										<use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
									</svg>
									<svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
										<use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
									</svg>
								</div>
							</td>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.SavedDocumentItems)
						{
							<tr>
								<td class="sortable-table__col sortable-table__col--has-title sortable-table__col--title">
									@Html.Raw(item.Publication?.Name)
								</td>
								<td class="sortable-table__col sortable-table__col--has-title sortable-table__col--title">
									<a
										href="@item.Url"
										class="click-utag"
										data-info='{
											"event_name": "bookmark_clickthrough",
											"bookmark_title": "@item.Title",
											"bookmark_publication": "@(item.Publication?.Name)"
										}'
										@(item.IsExternalUrl ? "target = \"_blank\"" : "")>
										@Html.Raw(item.Title)
										@if (item.IsExternalUrl)
										{
											<svg class="icon-external-link">
												<use xlink:href="/dist/img/svg-sprite.svg#external-link"></use>
											</svg>
										}
									</a>
								</td>
								<td class="sortable-table__col sortable-table__col--has-title sortable-table__col--date l-no-wrap">
									@item.SavedOn.ToString("d MMM yyyy")
								</td>
								<td class="sortable-table__col sortable-table__submit-wrapper">
									<form class="form-remove-saved-document"
										  data-on-submit="/Account/api/SavedDocumentApi/RemoveItem/"
										  data-analytics-title="@Html.Raw(item.Title)"
										  data-analytics-publication="@Html.Raw(item.Publication?.Name)">

										<input name="DocumentID"
											   id="DocumentID"
											   type="hidden"
											   value="@item.DocumentId">

                                           <button type="button"
                                               class="button--outline js-lightbox-modal-trigger"
                                               data-lightbox-modal="js-remove-article-modal"
                                               data-lightbox-modal-title="Remove Article"
                                               data-lightbox-modal-body="Are you sure you'd like to remove this article?"
                                               data-lightbox-modal-success-target="form-remove-saved-document">
                                               @Model.RemoveText
                                           </button>

                                           <button type="submit" class="lightbox-modal__hidden-submit">
                                           </button>

									</form>
								</td>
							</tr>
						}
					</tbody>
				</table>


                <div class="lightbox-modal js-remove-article-modal">
                    <div class="dismiss-button js-close-lightbox-modal">
                        <span>@Model.RemoveModalCancelText</span>
                        <svg class="dismiss-button__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#x"></use>
                        </svg>
                    </div>

                    <div class="lightbox-modal__title">
                        <svg class="lightbox-modal__title-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#alert"></use>
                        </svg>
                        @Model.RemoveModalTitleText
                    </div>
                    <p>@Model.RemoveModalText</p>
                    <button class="lightbox-modal__submit button--filled js-lightbox-modal-submit">@Model.RemoveModalConfirmText</button>
                </div>


				<div class="alert-success js-form-success">
					<svg class="alert__icon">
						<use xlink:href="/dist/img/svg-sprite.svg#check"></use>
					</svg>
					<p>@Model.ItemRemovedMessage</p>
				</div>
			}
			<div class="js-no-articles"

				 @if (Model.SavedDocumentItems.Any())
				 {
					 @:style="display: none;"
				 }>

				@Model.NoSavedDocumentsBody
			</div>
        </div>
    </div>
}
else
{
    <div class="page-account__sign-in-solo">
        @{ Html.RenderPartial("_SignInForm", Model.SignInViewModel); }
    </div>
}
