@model Informa.Web.Areas.Account.ViewModels.Management.SubscriptionsViewModel

@if (Model.IsAuthenticated)
{
<div class="page-account subscriptionPan">
        @Html.Sitecore().Placeholder("page-account")
        <span class="page-account_text">
            @Html.Raw(Model.SubscriptionHeaderSubTitle)
        </span>

        <div class="page-preferences js-preferences-user-container">

            <h2 class="page-account__table-headline">@Model.Title</h2>
            <div id="mySubscription">
                <table id="mySubscriptionTab" cellspacing="0" cellpadding="0" class="tablesorter tablesorter-default" role="grid">
                    <thead class="sortable-table__header">
                        <tr class="parent tablesorter-headerRow" role="row">
                            <th id="publicationtd" class="sortable-table__col tablesorter-header tablesorter-headerUnSorted" data-column="0" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="mySubscriptionTab" unselectable="on" aria-sort="none" aria-label="Publication: No sort applied, activate to apply an ascending sort" style="-webkit-user-select: none;">
                                <div class="tablesorter-header-inner">
                                    @Model.PublicationText
                                    <div class="sorting-arrows">
                                        <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                        </svg>
                                        <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </th>
                            <th data-sorter="false" id="subjecttd" class="sortable-table__col tablesorter-header sorter-false tablesorter-headerUnSorted" data-column="1" scope="col" role="columnheader" aria-disabled="true" unselectable="on" aria-sort="none" aria-label="Subjects: No sort applied, sorting is disabled" style="-webkit-user-select: none;">
                                <div class="tablesorter-header-inner">
                                    @Model.SubjectType
                                    <div class="sorting-arrows">
                                        <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                        </svg>
                                        <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </th>
                            <th id="expDatetd" class="sortable-table__col tablesorter-header tablesorter-headerUnSorted" data-column="2" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="mySubscriptionTab" unselectable="on" aria-sort="none" aria-label="Expiration Date: No sort applied, activate to apply an ascending sort" style="-webkit-user-select: none;">
                                <div class="tablesorter-header-inner">
                                    @Model.ExpirationDateText
                                    <div class="sorting-arrows">
                                        <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                        </svg>
                                        <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </th>
                            <th data-sorter="false" class="sortable-table__col tablesorter-header sorter-false tablesorter-headerUnSorted" data-column="3" scope="col" role="columnheader" aria-disabled="true" unselectable="on" aria-sort="none" aria-label="Action: No sort applied, sorting is disabled" style="-webkit-user-select: none;">
                                <div class="tablesorter-header-inner">@Model.ActionText</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="hidden-xs" aria-live="polite" aria-relevant="all">


                        @{
                            int i = 1;
                            foreach (var item in Model.SubscriptionViewModels)
                            {
                                string parentrow = "ptc" + i;
                                string active = item.IsCurrentPublication ? "active" : string.Empty;
                                string pubExpiryDate = item.Expiration.Equals(DateTime.MinValue) ? string.Empty : item.Expiration.ToString("d MMMM yyyy");

                                @*Desktop section Starts*@
                                <tr class="parent @parentrow @active hidden-xs" role="row">
                                    <td colspan="2" class="sortable-table__col"><span class="accordian"></span> @item.Publication</td>
                                    <td class="sortable-table__col">@pubExpiryDate</td>
                                    <td class="sortable-table__col hidden-xs">
                                      @{ 
                                        if (item.Renewable)
                                        {
                                            <a class="button button--outline click-utag"
                                               data-info='{"event_name": "renew","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"renew","subscribe_topic":"+@item.Publication+"}'
                                               href="@Model.OffSiteRenewLink">
                                                @Model.Renew
                                            </a>
                                        }
                                        else if (item.Subscribable)
                                        {
                                            <a class="button button--outline click-utag"
                                               data-info='{"event_name": "subscribed","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"subscribed","subscribe_topic":"+@item.Publication+"}'
                                               href="#">
                                                @Model.Subscribed
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="button button--outline click-utag"
                                               data-info='{"event_name": "subscribe","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"subscribe","subscribe_topic":"+@item.Publication+"}'
                                               href="@Model.OffSiteSubscriptionLink">
                                                @Model.Subscribe
                                            </a>

                                        }
                                        <span class="accordian"></span>
                                      }
                                    </td>
                                </tr>
                                          if (item.ChannelItems != null && item.ChannelItems.Any())
                                          {
                                              string childrow = "tc" + i;
                                              foreach (var channel in item.ChannelItems)
                                              {
                                        <tr class="child @childrow hidden-xs" role="row">
                                            <td></td>
                                            <td class="hidden-lg" colspan="2">@channel.ChannelName</td>
                                            <td class="hidden-xs sortable-table__col" colspan="2">@channel.ChannelName</td>
                                            <td class="sortable-table__col hidden-xs">
                                                @{ 
                                                    if (channel.Renewable)
                                                    {
                                                    <a class="button button--outline click-utag"
                                                       data-info='{"event_name": "renew","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"renew","subscribe_topic":"+@channel.ChannelName+"}'
                                                       href="@Model.OffSiteRenewLink">
                                                        @Model.Renew
                                                    </a>
                                                    }
                                                    else if (channel.Subscribable)
                                                    {
                                                        <a class="button button--outline click-utag"
                                                           data-info='{"event_name": "subscribed","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"subscribed","subscribe_topic":"+@channel.ChannelName+"}'
                                                           href="#">
                                                            @Model.Subscribed
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="button button--outline click-utag"
                                                           data-info='{"event_name": "subscribe","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"subscribe","subscribe_topic":"+@channel.ChannelName+"}'
                                                           href="@Model.OffSiteSubscriptionLink">
                                                            @Model.Subscribe
                                                        </a>
                                                    }
                                                   }
                                            </td>
                                        </tr>
                                    }
                                }
                                @*Desktop section Ends*@
                            i++;
                        }
                        }
                    </tbody>
                </table>
                @{
                    @*Mobile section Starts*@
                foreach (var item in Model.SubscriptionViewModels)
                {
                    string pubExpiryDate = item.Expiration.Equals(DateTime.MinValue) ? string.Empty : item.Expiration.ToString("d MMMM yyyy");
                        <div class="hidden-lg">
                            <div class="tableMrow">
                                <div class="title maintitle active">@Model.PublicationText</div>
                                <div class="pubName">@item.Publication</div>
                                <div class="pubSubscribe">
                                @{
                                    if (item.Renewable)
                                    {
                                        <a class="button button--outline click-utag"
                                           data-info='{"event_name": "renew","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"renew","subscribe_topic":"+@item.Publication+"}'
                                           href="@Model.OffSiteRenewLink">
                                            @Model.Renew
                                        </a>
                                    }
                                    else if (item.Subscribable)
                                    {
                                        <a class="button button--outline click-utag"
                                           data-info='{"event_name": "subscribed","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"subscribed","subscribe_topic":"+@item.Publication+"}'
                                           href="#">
                                            @Model.Subscribed
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="button button--outline click-utag"
                                           data-info='{"event_name": "subscribe","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"subscribe","subscribe_topic":"+@item.Publication+"}'
                                           href="@Model.OffSiteSubscriptionLink">
                                            @Model.Subscribe
                                        </a>

                                    }
                                   }
                                </div>
                                <div class="title">@Model.ExpirationDateText</div>
                                <div class="sortable-table__col">
                                    @pubExpiryDate
                                </div>
                                @if (item.ChannelItems != null && item.ChannelItems.Any())
                                {
                                    <div class="subjects">
                                        <div class="hidden-lg title">Subjects</div>
                                        @foreach (var channel in item.ChannelItems)
                                        {
                                            <div class="tablerow clearfix">
                                                <div class="pubName">@channel.ChannelName</div>
                                                <div class="pubSubscribe">
                                                    @{ 
                                                        if (channel.Renewable)
                                                        {
                                                            <a class="button button--outline click-utag"
                                                               data-info='{"event_name": "renew","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"renew","subscribe_topic":"+@channel.ChannelName+"}'
                                                               href="@Model.OffSiteRenewLink">
                                                                @Model.Renew
                                                            </a>
                                                        }
                                                        else if (channel.Subscribable && !channel.Renewable)
                                                        {
                                                            <a class="button button--outline click-utag"
                                                               data-info='{"event_name": "subscribed","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"subscribed","subscribe_topic":"+@channel.ChannelName+"}'
                                                               href="#">
                                                                @Model.Subscribed
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="button button--outline click-utag"
                                                               data-info='{"event_name": "subscribe","subscribe_publication":"+@item.Publication+","ga_eventCategory":"Subscribe & Purchase","ga_eventAction":"+@item.Publication+","ga_eventLabel":"subscribe","subscribe_topic":"+@channel.ChannelName+"}'
                                                               href="@Model.OffSiteSubscriptionLink">
                                                                @Model.Subscribe
                                                            </a>

                                                            }
                                                        }
                                                </div>
                                            </div>
                                        }

                                    </div>
                                }
                            </div>

                        </div>
                }
                @*Mobile section Ends*@
                }
            </div>
        </div>
    </div>
<script src="/dist/js/jquery-3.1.1.js"></script>
<script src="/dist/js/jquery.tablesorter.js"></script>
<script src="/dist/js/table-childssorter.js"></script>
}
else
{
    <div class="page-account__sign-in-solo">
        @{ Html.RenderPartial("_SignInForm", Model.SignInViewModel); }
    </div>
}
