@model Informa.Web.Areas.Account.ViewModels.Management.SubscriptionsViewModel

@if (Model.IsAuthenticated)
{
    <div class="page-account">
        @Html.Sitecore().Placeholder("page-account")

        <div class="page-preferences js-preferences-user-container">

            <h2 class="page-account__table-headline">@Model.Title</h2>

            <table class="page-account__table sortable-table js-sortable-table">
                <thead class="sortable-table__header">
                    <tr>
                        <td class="sortable-table__col js-sortable-table-sorter"
                            data-sortable-table-col="1">
                            @Model.PublicationText

                            <div class="sorting-arrows">
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>

                        </td>
                        <td class="sortable-table__col js-sortable-table-sorter"
                            data-sortable-table-col="2">
                            @Model.SubscriptionTypeText
                            <div class="sorting-arrows">
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col js-sortable-table-sorter"
                            data-sortable-table-col="3">
                            @Model.ExpirationDateText
                            <div class="sorting-arrows">
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col">
                            @Model.ActionText
                        </td>
                    </tr>
                </thead>

                <thead class="sortable-table__header sortable-table__header--mobile">
                    <tr>
                        <td class="sortable-table__col sortable-table__sort-by-header">
                            <h6>Sort by:</h6>
                        </td>
                        <td class="sortable-table__col js-sortable-table-sorter"
                            data-sortable-table-col="1">
                            @Model.PublicationText
                            <div class="sorting-arrows">
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col js-sortable-table-sorter"
                            data-sortable-table-col="2">
                            @Model.SubscriptionTypeText
                            <div class="sorting-arrows">
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col js-sortable-table-sorter"
                            data-sortable-table-col="3">
                            @Model.ExpirationDateText
                            <div class="sorting-arrows">
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sorting-arrows__arrow sorting-arrows__arrow--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SubscriptionViewModels)
                {
                        <tr>
                            <td class="sortable-table__col sortable-table__col--has-title sortable-table__col--publication">
                                @item.Publication
                            </td>
                            <td class="sortable-table__col sortable-table__col--has-title sortable-table__col--sub-type">
                                @item.Type
                            </td>
                            <td class="sortable-table__col sortable-table__col--has-title sortable-table__col--exp-date">
                                @item.Expiration.ToString("d MMMM yyyy")
                            </td>
                            <td class="sortable-table__col">
                                @if (item.Renewable)
                                {
                                    <a class="button button--outline click-utag"
                                       data-info='{
										"event_name": "subscription_renew"
									}'
                                       href="@Model.OffSiteRenewLink">
                                        Renew
                                    </a>
                                }
                                @if (item.Subscribable)
                                {
                                    @Html.Raw("&nbsp;&nbsp;&nbsp;")
                                    <a class="button button--outline click-utag"
                                       data-info='{
										"event_name": "subscription_subscribe"
									}'
                                       href="@Model.OffSiteSubscriptionLink">
                                        Subscribe
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <label>@Model.BottomNotation</label>
        </div>
    </div>
}
else
{
    <div class="page-account__sign-in-solo">
        @{ Html.RenderPartial("_SignInForm", Model.SignInViewModel); }
    </div>
            }
