@model Informa.Web.Areas.Account.ViewModels.Management.SubscriptionsViewModel

@if (Model.IsAuthenticated)
{
    <div class="page-account">
        <h1 class="page-account__header">@Model.Title</h1>
        <div class="page-preferences js-preferences-user-container">
            <table class="sortable sortable-table">
                <thead class="sortable-table__header">
                    <tr>
                        <td class="sortable-table__col">
                            @Model.PublicationText
                            <div class="sortable-table__sort-arrows">
                                <svg class="sortable-table__sort-arrows--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sortable-table__sort-arrows--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col">
                            @Model.SubscriptionTypeText
                            <div class="sortable-table__sort-arrows">
                                <svg class="sortable-table__sort-arrows--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sortable-table__sort-arrows--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col">
                            @Model.ExpirationDateText
                            <div class="sortable-table__sort-arrows">
                                <svg class="sortable-table__sort-arrows--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sortable-table__sort-arrows--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col">
                            @Model.ActionText
                        </td>
                    </tr>
                </thead>

                <thead class="sortable-table__header sortable-table__header--mobile">
                    <tr>
                        <td class="sortable-table__col">
                            <h6>Sort by:</h6>
                        </td>
                        <td class="sortable-table__col">
                            Sort by: @Model.PublicationText
                            <div class="sortable-table__sort-arrows">
                                <svg class="sortable-table__sort-arrows--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sortable-table__sort-arrows--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col">
                            @Model.SubscriptionTypeText
                            <div class="sortable-table__sort-arrows">
                                <svg class="sortable-table__sort-arrows--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sortable-table__sort-arrows--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                        <td class="sortable-table__col">
                            @Model.ExpirationDateText
                            <div class="sortable-table__sort-arrows">
                                <svg class="sortable-table__sort-arrows--up">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-up-arrow"></use>
                                </svg>
                                <svg class="sortable-table__sort-arrows--down">
                                    <use xlink:href="/dist/img/svg-sprite.svg#sort-down-arrow"></use>
                                </svg>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Subscriptions)
                {
                    <tr>
                        <td class="sortable-table__col sortable-table__col--has-title sortable-table__col--publication">
                            @item.Publication
                        </td>
                        <td class="sortable-table__col sortable-table__col--has-title sortable-table__col--sub-type">
                            @item.SubscriptionType
                        </td>
                        <td class="sortable-table__col sortable-table__col--has-title sortable-table__col--exp-date">
                            @item.ExpirationDate.ToString("d MMMM yyyy")
                        </td>
                        @if (Model.ShowRenewButton(item.ProductCode) || Model.ShowSubscribeButton(item.ProductCode)) {
                            <td class="sortable-table__col">
                                @if (Model.ShowRenewButton(item.ProductCode)) {
                                    <a href="@Model.OffSiteRenewLink">
                                        Renew
                                    </a>
                                }

                                @if (Model.ShowSubscribeButton(item.ProductCode)) {
                                    <a href="@Model.OffSiteSubscriptionLink">
                                        Subscribe
                                    </a>
                                }
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="page-account__sign-in-solo">
        @{ Html.RenderPartial("_SignInForm", Model.SignInViewModel); }
    </div>
}
